[2020-12-21 15:08] aramcap opened #730 "wp-content/plugins folder is not generated"
Hi. WP2Static generate all required assets except the folder "plugins".

This is the failed resource request:
[code]

This is my VM-test info:
[code]

Thanks!

[2020-12-22 04:19] michelnyx opened #731 "Option to crawl different public URL"
Hello!!

I've an issue with an private website, I make changes but when the APP crawnls, simply all changes I make isn't delivered to ZIP file.

It's because the app is looking for public URL instead of my private URL (and the server running the wordpress instance have access to this private URL).

Just an option to give what're the base URL it crawnls just solve this issue!!

Please add this opti

[2020-12-22 17:29] cdeadspine commented on #443
I can't find any information anywhere about this "crawlport" setting.
I am trying to run bitnami/helm chart in kubernetes, and the wordpress installation doesnt really know that nginx is running on another port.
The crawl stage is using the wrong port, and I can't edit the wp-config.php apparently.

Is there any way to set this crawlport setting from wp cli?

[2020-12-22 18:49] michelnyx commented on #731
For solve this problem now, I changed this file / line as following:

![image](https://user-images.githubusercontent.com/32226938/102922720-3ff3d300-446d-11eb-9d51-a9c839e3a760.png)

I hope we've an option in GUI to it.

Thanks.

[2020-12-22 20:16] john-shaffer commented on #443
WP2Static 7 doesn't have a crawl port setting currently. If you'd like to add one, then it could be added to https://github.com/leonstafford/wp2static-addon-advanced-crawling

IIRC, WP2Static 6 had this settting but has been renamed to https://github.com/leonstafford/static-html-output. You might have better luck with that.

[2020-12-24 05:17] jonmhutch7 opened #732 "HTML files not exporting as .html"
I may be overlooking something or misunderstanding how this plugin works, but the only file exported as an `.html` file is index.html and that's only because it's defined that way in `Crawler.php` on line 151. The files are just spit out as "documents" and obviously aren't read by browsers despite the document containing html. Any idea what I'm doing wrong here?

<img width="332" alt="Screen Shot

[2020-12-24 15:52] jonmhutch7 commented on #732
I've mitigated for now by adding this snippet to line 33 in `StaticSite.php` but I sense that this probably isn't the most stable fix for this.
`$file_parts = pathinfo($full_path);
switch($file_parts['extension']) {
            case NULL:
                $full_path = $full_path . '.html';
            break;
        }`

[2020-12-24 21:03] john-shaffer commented on #732
I suspect that the paths in your site don't end in a /. E.g., you have `/new-music/461` rather than `/new-music/461/`. WP2Static needs the post and page paths to end in /. The relevant code is https://github.com/leonstafford/wp2static/blob/40cc8f579fa534d33c71d7aa7c8b9bc2d1146009/src/Crawler.php#L164-L173
If you can check your WordPress Permalink setting and add a trailing / if there isn't one, th

[2020-12-25 19:02] michelnyx opened #733 "Option to add Body and Headers to WebHook URL.."
Hello!

I'd like to add Body and Headers to WebHook URL request as suggestion to next releases !! (currently only HTTP method is the option allowed for WebHook strategy )..

Thanks.

[2020-12-26 16:39] jonmhutch7 commented on #732
@john-shaffer That was it. Definitely no real reason to not have the trailing slash so that should fix it. Thanks!

[2020-12-26 16:39] #732 closed, assigned to nobody

[2020-12-27 23:25] john-shaffer opened #734 "Check permalinks end in / in diagnostics"
This will help catch cases like #732.

[2020-12-28 00:30] john-shaffer commented on #734
Implemented in a8cc7faf0e6f4d5a0cc0898e3182d7fcd43d87d5.

[2020-12-28 00:30] #734 closed, assigned to nobody

[2020-12-29 18:58] toddpla opened #735 "No deployment add-ons are enabled, skipping deployment."
I am trying to "Generate a Static Site" using the S3 addon. The Wordpress site is currently deployed via AWS LightSail.
The export is not successful and no files arrive in the S3 bucket.

The logs are as follows:
[code]

The S3 add-on has not been recognised it would seem although it has been configured:
**No deployment add-ons are enabled, skipping deployment.**

Is there something elementary mis

[2021-01-02 21:34] fdegraeve commented on #715
Hello,

Do you solve your issue ?
I have the same problem, I try version 7.1.6 and 7.1.5

[2021-01-03 02:51] nibbleshift commented on #715
I never solved it.  I switched to the static-html-output plugin.

[2021-01-03 03:02] leonstafford commented on #715
@fdegraeve could you please provide some info about your hosting environment?

[2021-01-04 08:28] fdegraeve commented on #715
Hello,

I use wordpress with official docker image with traefik as reverse proxy.
Switch to the static-html-output plugin solve my issue.

[2021-01-04 08:33] leonstafford commented on #715
Thanks for the follow-up, @fdegraeve. I'll leave this issue open and try get to testing that type of setup

[2021-01-05 03:23] skyinclude opened #737 "add deployment add-on for Sia decentralized cloud storage"
We love WP2Static - and building a service to help more people get on the dWeb would love to have a WP2Static add-on to go to skynethub.io - here’s an example of how we did it - https://skyinclude.com/skynet by making an export with relative URLs, downloading as zip, unzipping, and uploading the entire folder to the Skynet and then pointing the Sia skylink to a Handshake domain.

[2021-01-05 03:41] leonstafford commented on #737
Exciting stuff!

Are you only ever serving users on one domain/protocol or have one for dWeb and some bridge/proxy for vanilla web users?

A few reasons I'd like to avoid relative URLs, but we could do conversion within this addon as part of post-processing.

Just means things like canonical URLs n Sitemaps may not come out ideal

[2021-01-05 18:47] tpoindessous commented on #600
Hi @leonstafford !

I juste made a donation to download GCS Plugin for 7.1.6 version but I didn't see this issue :)

Any chance to have this plugin ?

If not, I will try to do zip + upload or local server + upload !

Anyways, thanks for your work !

[2021-01-05 23:31] john-shaffer commented on #600
@tpoindessous, I appreciate your support for Leon. I know he really needs it right now.

I've ported the S3 add-on to GCS. It works for me, but I don't use any Google services in production so it might be a bit rough around the edges. See my comment below for the repo and release build.

[2021-01-06 04:33] leonstafford commented on #600
Thanks for the donation, @tpoindessous!

And thanks for providing the addon, @john-shaffer!

I've [setup a repo here](https://github.com/leonstafford/wp2static-addon-gcs) and adding you as committer now. It didn't have a `composer.json`, so grabbed copy of S3's one for now. Do you have one handy to adjust?

Then I'll get this inline with all other plugins, which are getting some refreshing/php8 co

[2021-01-06 17:26] john-shaffer commented on #600
Finished up the repo and published the release at https://github.com/leonstafford/wp2static-addon-gcs/releases/tag/1.0.0

[2021-01-06 17:26] #600 closed, assigned to nobody

[2021-01-07 22:24] TomLewis opened #738 "Cant compile from source"
https://wp2static.com/compiling-from-source/

Cloned Repo, Already have composer installed, changed Dir to files, run `https://wp2static.com/compiling-from-source/`
Just breaks.

`> /bin/sh tools/build_release.sh "wp2static-wordpress"
The system cannot find the path specified.
Script /bin/sh tools/build_release.sh handling the build event returned with error code 1
`

Using Windows 10 with the Win

[2021-01-08 16:19] #735 closed, assigned to nobody

[2021-01-08 20:48] cdeadspine opened #739 "Missing some zip links"
Very nice plugin, I am surprised at how well it works on a very old website, except for one strange exception: 6 .zip file downloads from a single page are not crawled or "cached" or generated or "post processed"

(the .zip links are not present in any of these results)
There are many other downloads such as .pdf and .mov and picture files that are all crawled and in the generated site perfectly
[

[2021-01-09 12:26] TomLewis opened #740 "7.1.6 Ruins layout when using Elementor. (Ignoring plugins folder for scripts?)"
This is what the website looks like on Wordpress with Elementor as the designer.

![Screenshot_2021-01-09 Amanda Cowie - RTT Hypnotherapist in Tendring(1)](https://user-images.githubusercontent.com/144046/104091473-802cc100-5275-11eb-99c9-a0e20562fbe3.jpg)

After exporting with the latest wp2static, breaks all layout.

![Screenshot_2021-01-09 Amanda Cowie - RTT Hypnotherapist in Tendring](https://

[2021-01-09 13:14] TomLewis commented on #740
So far I've added these plugin folders to my Git manually in their entirety as they all hold their assets inside the plugins folder.
[code]

Yeah, you will need to add used plugin assets! This is 3 separate plugins that store assets (CSS/JS) in their plugin folder, and this is on a tiny scale project.

Form stopped working still, and its removed emails...

[2021-01-09 15:45] TomLewis commented on #740
Alright, Im fully giving up with static hosting wordpress and just going back to normal hosting.
a 10 min job turns into 11 hours with faffing around.

[2021-01-10 04:22] leonstafford opened #741 "consider re-externalising Sitemap parsing library and look at dev's other tools"
https://github.com/JanPetterMG

Forked own version, then brought functions into WP2Static due to how long it took to see PHP 8 support in the `composer.json` file for the library.

Need to reconsider pros/cons of using those as external libs, including the dev's Sitemap and Atom parsing libs....

 pros keeping external

  - not my responsibility to keep up to date with upstream

  cons of external

[2021-01-10 04:34] leonstafford commented on #740
Hi @TomLewis, thanks for reporting and sorry for the frustration you've encountered!

I can suggest these [Alternatives](https://wp2static.com/alternatives) for when things aren't working out with one tool or another.

I'd love to say I've never had any 10 min jobs turn into 11 hour ones, but have worked on enough tech projects now, that it no longer suprises me :D WP2Static definitely has a long

[2021-01-10 05:00] leonstafford commented on #739
Hi @cdeadspine,

Thanks for trying it out and glad it worked for you, besides those `.zip` files. Let me quickly check the code, it may be that we work on an "inclusion list" for which extensions/content types to include.

Ah, yep, [here it is](https://github.com/leonstafford/wp2static/blob/develop/src/FilesHelper.php#L164).

There would have been a reason to exclude compressed archives at some po

[2021-01-10 05:03] leonstafford commented on #739
* I fixed up order in that `add_filter` example.

Basically, it's a function that has an input (the exclusions) and an output (the modified exclusions) and you add some magic in between to modify the array that WP2Static exposes.

[2021-01-10 05:07] leonstafford commented on #735
Hi @toddpla, was this just a case of the Addons screen not having that one `Enabled`?

There have been quite a few reports of other issues around enabling/disabling which I suspect are down to some poor SQL code/logic in the plugin on certain environments.

If it was just that toggle you needed to do, that's easier, but also a good indicator I need to improve the UX in that area.

[2021-01-10 09:38] toddpla commented on #735
Hi @leonstafford, thank for the follow up.

The addon was showing as 'enabled' in the UI which was why I found it confusing.

I've now torn down that environment and I'm going to try setting it up with Digital Ocean which I gather you recommend over the Lightsail
Bitnami instance?

If it works for a DO environment then I can take a closer look at pinpointing the issue in Lightsail if you like. Alt

[2021-01-10 10:56] leonstafford commented on #735
Hi @toddpla,

Completely understand. I've got a project, [Lokl](https://lokl.dev) expected to get big release soon, providing a nice stable local WP environment. If you wait for that, may make life bit less painful.

Yeah, I had [these notes on Lightsail Bitnami adjusting](https://leonstafford.github.io/notes/lightsail_bitnami_wordpress_tweaks/) but not tried in some time and if this enable/disabl

[2021-01-10 11:46] TomLewis commented on #740
I tried HTTrack as part of trying to figure out how to keep it all static, but it changed the URL structure, forcing /index.html on all URLs, where /contact/ would just be fine, it could have worked by manually editing but I just wanted a perminant solution that I didn't have to re set-up 8 months later when I come back to figure out new problem's. I did try this static hosting for the first time

[2021-01-11 00:15] john-shaffer commented on #740
When testing, I do see this problem with vanilla 7.1.6, but no problems with https://github.com/leonstafford/wp2static-addon-advanced-crawling enabled.

I can't figure out why the behavior is different, since the relevant detection logic is unchanged.

The crawling logic in the addon has been working fine for a while now, so maybe we can look at porting it back into the main plugin.

The main issu

[2021-01-11 00:16] john-shaffer commented on #730
This problem goes away for me with https://github.com/leonstafford/wp2static-addon-advanced-crawling enabled.

[2021-01-11 11:09] aramcap commented on #730
Thanks John. I've downloaded the master code from the repo, and I've compiled with composer. Then I've installed in Wordpress with plugin menu > select local file. Now, I can see the pluging "WP2Static Add-on: Advanced Crawling Options" in the Wordpress plugin list, but not in the WP2Static > Addons, neither any options in other menus. Do I have to do something else? Because I've re-generated the

[2021-01-11 17:12] john-shaffer commented on #739
The options for files to ignore are now in the advanced crawling add-on, and I think we're fine there since advanced options are out-of-scope for the main plugin. Opened https://github.com/leonstafford/wp2static-addon-advanced-crawling/issues/5 for some further refinement, but closing this since the fix is merged.

[2021-01-11 17:12] #739 closed, assigned to nobody

[2021-01-11 17:32] john-shaffer commented on #730
You definitely need to see it in the Addon list, and once you see it you'll need to Enable it. The code to add it to the list is very straightforward and runs on every page load, so it sounds like something fundamental is broken. Do you see any messages in your web server's error log?

I've also attached a known-good build that may work for you:
[wp2static-addon-advanced-crawling-1.0-alpha-003.zip

[2021-01-12 06:02] leonstafford commented on #697
Also cool to add in https://github.com/infection/infection

[2021-01-12 18:13] yoannsark commented on #490
Thank you for your answer @wpjesus-alt
So in this case how do you handle redirections of assets from 127.0.0.1 to 127.0.0.2 ?

[2021-01-13 03:31] leonstafford commented on #490
Nice solution, @wpjesus-alt!

@yoannsark I use a different system in the upcoming https://github.com/leonstafford/lokl project, where each Docker site lives on `localhost`, with unique ports for each site. Requires no `/etc/hosts` modifications and allows clean separation of sites.

If you want to try the latest unreleased version of Lokl, which I think is a really nice solution for local WP sites

[2021-01-13 09:09] #490 closed, assigned to nobody

[2021-01-13 12:15] yoannsark commented on #490
@leonstafford I find your Lokl project very interesting !

I'm going to test it and I'll let you know.

Out of curiosity, how did you deal with this problem with Lokl, is it [here](https://github.com/leonstafford/lokl/blob/master/php8/scripts/second_run.sh#L22) ?

Btw thank you for making them opensource projects, I have the impression that this is something rare in the Wordpress ecosystem :smile:

[2021-01-13 21:48] john-shaffer opened #743 "Review index sizes"
Over-constrained hosts as in #742 may have problems with other indices, like the slug index on wp_wp2static_addons.

varchar(191) is used in the post_name index on wp_posts, so we should be able to use that everywhere.

[2021-01-14 05:49] leonstafford commented on #490
Many thanks, @yoannsark! I managed to get my first proper video intro to Lokl out yesterday: https://www.patreon.com/posts/introduction-to-46154446 That will lead you to the latest pre-release to give a try.

Yeah, that looks about the right area. The main variable used in `docker run` is the port one (`$P` within the container). The name var helps to organize sites as their all on localhost.

The

[2021-01-14 07:27] leonstafford commented on #743
I'll address in https://github.com/leonstafford/wp2static/issues/718 for the addons. Can close this one when core is deemed good

[2021-01-14 14:01] antwal opened #744 "multisites - error 500 on generate static site"
hi all,

in multisites setup i receive this error:

![image](https://user-images.githubusercontent.com/410736/104599314-e485c100-5677-11eb-84f1-fa9b9efd5431.png)

but the php configuration is this:

![image](https://user-images.githubusercontent.com/410736/104599398-fcf5db80-5677-11eb-9fa1-573b896aa374.png)

on log file:

[code]

looking through the various issues this error should have been corre

[2021-01-14 14:04] #743 closed, assigned to nobody

[2021-01-15 00:29] tpoindessous opened #745 ""Deploy Cache 0 Paths in database" for GCS add-on"
Hi !

I'm using GCS add-on and on "caches" page, the result for Deploy Cache is always 0.

I looked in mysql db and in wp_wp2static_deploy_cache, I have 6300 lines .

A select gives me this :

[code]

thanks !

[2021-01-15 00:31] leonstafford commented on #745
hmm, not familiar enough with the GCS one yet, sorry!

@john-shaffer any ideas?

[2021-01-15 02:43] john-shaffer commented on #745
This is the case with the S3 addon as well.  I think it's because they use namespaces, and WP2Static is only counting the default namespace.

[2021-01-15 03:16] john-shaffer commented on #745
Setting true on https://github.com/leonstafford/wp2static/blob/c6b47808a58412f5865a595072380b451316d186/src/ViewRenderer.php#L317 fixes this. The functionality is already there, it just has to be turned on.

Since the default behavior is broken with namespaces, I'd be fine with removing it and making "by namespace" the only behavior. Thoughts?

[2021-01-15 14:42] aramcap commented on #730
Thanks for your reply John.

I use WP Multisite and I've discovered that the addon only installs it in the site base, but not in other sites. I've solved easily: in database, I insert the same register from table `*_wp2static_addons` in the site table `*_<<SITE_NUMBER>>_wp2static_addons`.

But this not solve the problem. After this I've generated the static site and the problem persists. Here my W

[2021-01-19 00:47] leonstafford opened #746 "Licensing / monetization future decisions"
have [written up tentative plans here](https://staticword.press/t/licensing-monetization-plans)

Would love to hear ideas from @szepeviktor about how to manage keeping repos clean and including Freemius SDK & markup in the wp.org builds (or tell me it's all a terrible idea!)

[2021-01-19 02:24] szepeviktor commented on #746
Do I understand correctly?

Adding Freemius WP SDK to the plugin at release time?
(I do not have experience with money except for asking a small monthly fee for 5-10 years.)

[2021-01-20 01:43] leonstafford commented on #746
Yes, that was the idea:

 - have my wp.org plugins contain freemius for payment
 - but keep repos free of the SDK code, allowing people to continue using freely from git/Packagist

I'm not great with money and struggle to ask people to pay for my stuff. Patreon is slowly building up, but not enough to cover minimal expenses. I figure if I can keep the projects free and open source, but ask for $ f

[2021-01-20 08:02] patrickposner commented on #746
@leonstafford that could be easier than you think.

Freemius is automatically parsing your code and provide a free version and pro version of your plugin.

There is also a composer package available: https://packagist.org/packages/freemius/wordpress-sdk

So you can still provide a development version on Github without having users to hassle around with licensing,
include the package only on builds

[2021-01-20 10:17] leonstafford commented on #746
@patrickdk77 that will be brilliant, thanks! I'll give it a try

[2021-01-20 13:09] leonstafford opened #751 "500 error when certain sitemaps are non-existant"
Reported here:

https://staticword.press/t/the-plugin-returns-500/353/2

User:

/var/www/admin/wp-content/plugins/wp2static/src/DetectSitemapsURLs.php
In this file, this line:
$parser->parse( $sitemap );
should always throw an error since sitemap is never a full URL.

[2021-01-20 13:15] leonstafford commented on #751
Possibly fixed in this build. Please report if remains:

[wp2staticfixmultisitemap.zip](https://github.com/leonstafford/wp2static/files/5842624/wp2staticfixmultisitemap.zip)

[2021-01-22 00:46] leonstafford opened #752 "Improve behaviour under multisite"
noticed in https://github.com/leonstafford/wp2static/issues/730#issuecomment-760981271

@aramcap I could use your help in explaining the issue and desired behaviour to me, as I haven't looked at multisite in many years. I was under impression that WP2Static would be available for all subsites, via current activation...

[2021-01-23 16:36] aramcap commented on #752
Hi @leonstafford, yes, I can help u. The plugin runs correctly in multisite mode (but not the addon). I've activated in the main menu, then I can use in each subsite separately. Also for addons is necessary this action: https://github.com/leonstafford/wp2static/issues/730#issuecomment-760981271

For plugin, the only error is with the path "/wp-content/plugins/". The plugin not returns error, but t

[2021-01-25 22:59] petewilcock commented on #746
I'd be happy to pay for a premium version tbh. I've paid for themes and a variety of other plugins here and there, so one that I can really leverage for a static site is worth the money. Always happy to pay for something that'll be refined and developed over time with more options and error handling/feedback :) I'd always pick that over something promising that gets abandoned because the author ne

[2021-01-25 23:13] leonstafford commented on #746
Thanks @petewilcock! Eating less a concern for me, can probably survive on my body fat for a year :D Shelter is the kicker here in Australia. Still holding off on going Freemius route for now, but will definitely be submitting plugins to wp.org repo. I re-enabled other donation options besides Patreon, which has brought in a few more $ already this week. Also working on a job app for a WP engineer

[2021-01-26 13:56] CodingSector123 opened #753 "Files Not Uploaded"
Hey,
I just used WP2static with Github, But I Can't understand the problem because everything is fine , the repository is connected but the wordpress files are not uploaded. Even I tested , the test uploads but the main wp files do not upload.
Please help me 😭😭😭😭😭😭😭

[2021-01-26 16:46] Zigecek opened #754 "Can't run "composer run-script build pluginname" from Windows"
I want compile the source code from main branch using Composer by steps [here](https://wp2static.com/compiling-from-source/). It installs good, but when executing command _**composer build wp2static**_ it throw this error:
[code]

I tried many Php versions, but it make still the same.
Any help?

[2021-01-26 17:02] Zigecek commented on #754
ok, I changed the path in the composer.json from "/bin/sh tools/build_release.sh" to "c:/users/honza/desktop/wp2static-master/tools/build_release.sh" and now it open the script do something and than shows this
[code]

[2021-01-27 15:42] petewilcock opened #755 "Is there anything preventing wp2static being run externally?"
I've been thinking about scalability for the wp2static jobs of crawling, processing, and deploying.

For an increasingly large site this takes a long time, and has to run on the host machine of the Wordpress installation and seems susceptible to OOM or general resource contention.

I'm interested in investigating how to externalise these processes (e.g in AWS Lambda, or possibly AWS Batch) to fan

[2021-01-28 04:23] leonstafford commented on #755
Great thinking, @petewilcock! (thanks for the recent donation, btw, a big help!)

If it could be done as a standalone add-on, that would be awesome. The `wp2static-addon-boilerplate` is a bit out of date, in list of others I'm working to get all up to date next. For the time being, the S3 and Advanced Crawling Add-ons are quite up to date (adv crawling version limited to previous release of WP2Sta

[2021-01-28 18:35] petewilcock commented on #755
So, I've written a custom Terraform module where I provide a couple of attributes and it deploys a Cloudfront-enabled S3-backed website, along with the ECS cluster/service config for a dockerised Wordpress. On launch the container automatically checks for and installs wp2static and populates config variables into wp_options (fed in from Terraform on deployment) to preconfigure the plugin with the

[2021-01-28 22:41] leonstafford opened #756 "1-click WP SSG for Netlify?"
Using [Lokl](https://lokl.dev) or fork of it, should be able to do a 1-click Netlify deploy for a new project (*if* they support Docker out of the box, currently).

 - would need a regular polling from host to grab backups of site to save in Git
 - would need to be private repos to avoid leaking any senstive stuff a user may save in WP DB

[2021-01-28 23:04] leonstafford commented on #755
Super cool setup!

Wonder if adding a hook within WP2Static's logger class may be of use there... ie post copy of log to CloudWatch API?

WP Site and destination URLs, mainly.

For your setup, my gut feel is to advise *not* to use WP2Static and just do an outside-in crawl, like I do with [Appi.sh](https://appi.sh). I think in the repo's issues, I've listed some better CLI tools than `wget` for doi

[2021-01-29 00:24] petewilcock commented on #755
Oh damn, now you've _really_ got me thinking....

If all permutations of possible Wordpress URLs are calculable (and the advanced crawler is mostly seeking out linked assets embedded within pages) and we can make WP simply export the generated index.html code of all the pages, then post-processing and crawling could become completely unnecessary?

i.e. Could we override the value of wp_home/site u

[2021-01-29 01:09] leonstafford commented on #755
Awesome sauce!

So, the WP pure SSG option hasn't been trialed yet, so could be some unknowns there... We should be able to mock the Site URL and such. Other option could be to configure the internal DNS in that section to resolve the production domain to that localhost, so the site actually uses prod domain and figure out how to transform that when working on dev site...

The only real hesitation

[2021-01-29 03:13] leonstafford commented on #755
Started testing that non-webserver option, seems promising. ie `REQUEST_URI="/author/admin/ php index.php` generates the right output.

will stick notes in https://github.com/leonstafford/real-wp-ssg-test

[2021-01-29 16:50] petewilcock commented on #755
Ok let's have a chat! Hit me up on email :)

[2021-01-30 23:48] leonstafford commented on #755
I'm a bit allergic to meetings, so let's see how that goes or email back n forth for a bit.

Some nice tips from @szepeviktor here: https://github.com/leonstafford/real-wp-ssg-test/issues/1

[2021-01-31 00:28] szepeviktor commented on #755
Both of you must have a WP.org account, then you can chat on Slack! https://make.wordpress.org/chat/

[2021-01-31 14:15] petewilcock commented on #751
Not sure if related but was try to export on a new site and it throws the following:

` PHP Fatal error: Uncaught WP2StaticGuzzleHttp\\Exception\\ClientException: Client error: `GET http://wordpress.example.co.uk/http://wordpress.example.co.uk/wp-sitemap.xml``

This is an existing site I've imported where I suspect the sitemap didn't exist... not sure why the site_url is being duplicated here but

[2021-01-31 15:17] petewilcock opened #758 "Pagination Detecting Incorrectly"
Just noticed this:

For post pagination, live site is using `siteurl.com/page/1` but isn't being detected.

What it is detecting though is `siteurl.com/blog/page/1` which doesn't exist and 404s on crawl.

[2021-01-31 15:41] petewilcock commented on #758
On inspection it looks like this well-meaning PR from @john-shaffer introduced an assumption of post pagination pages being prefixed with /blog:

https://github.com/leonstafford/wp2static/pull/574/files

Manually removed this and recompiled, which fixes the issue for my case.

[2021-01-31 21:43] john-shaffer commented on #758
Apparently some sites have posts paginated under /blog/, while in others it's under /. I can't find any useful documentation about how to determine the prefix.

[2021-01-31 23:18] leonstafford commented on #758
That should be sorted in https://github.com/leonstafford/static-html-output/ it's a bit of a multi-step query with some extra logic thrown in to cover the `pagination_base` or such.

[2021-01-31 23:29] leonstafford commented on #751
@petewilcock did that build attached above solve that or are you running from latest source already?

[2021-01-31 23:31] petewilcock commented on #751
@leonstafford I did try your downloaded build but still hit the same issue - my other version is a dev build I pulled a week or so ago

[2021-02-07 03:47] loganmarchione commented on #754
@Zigecek  - I had a similar issue on Linux. You need to install zip.

[2021-02-07 04:19] loganmarchione commented on #751
@petewilcock  - I had a similar issue and installing Yoast to generate a sitemap.xml fixed it. Thanks for finding this!

[code]

[2021-02-07 15:04] petewilcock commented on #745
@john-shaffer Keen to see a fix here, mostly because I'm seeing failures with the S3 addon that emit nothing in logs (even PHP logs) and the lack of a deploy cache is making it v. hard to track down.

[2021-02-07 17:44] vyskoczilova commented on #751
@petewilcock Same here, but I've got the sitemap.xml created by WP itself, got the very same error as happened to you (with duplicated URLs) installing Yoast helped.

[2021-02-08 23:00] john-shaffer commented on #745
@petewilcock Just change `false` to `true` in the line that I marked above.

[2021-02-09 02:24] ryanunc1 commented on #685
@leonstafford, I downloaded the already compiled version last week and am having this problem. I am not a coder and don't know how to compile the code (or frankly, half of what was said above). Could you give me some insight on how to solve this server error problem with the pre-compiled version?

[2021-02-09 02:28] leonstafford commented on #685
Hi @ryanunc1 it may take me a while to respond to this specifically. In the meantime, I've been building [Lokl](https://lokl.dev) which aims to make all of this a lot easier. Check out the video on that page and then try and get it running on your machine, that should give you a nice stable environment to work with.

[2021-02-26 05:04] leonstafford commented on #758
Looking at this code again today while doing some test tidy up and it does stand out as weird to have the `/blog/` hardcoded, so will see if I can fix it up

[2021-02-26 05:15] leonstafford commented on #758
[get_post_type_archive_link](https://developer.wordpress.org/reference/functions/get_post_type_archive_link/) is probably the missing piece within `DetectPostsPaginationURLs` which I'll add in to check while building those URLs.

[2021-02-26 05:44] leonstafford commented on #758
last commit didn't quite hit it:

`/http:/localhost:4683page/1/`

should have it sorted soon, now that I'm doing some testing within real site

[2021-02-26 05:52] leonstafford commented on #758
To simulate the custom "Blog" or other name, that you encountered @john-shaffer, I reproduced, by creating 2 x new Pages, "Homepage" and "Blog". I then set these to `Homepage` and `Posts page`, respectively in Settings > Reading.

Then, we see the correct URL detected, in this case: `/blog/page/1/`.

I just need to fix the bad URL shown above, which is when `get_post_type_archive_link()` returns f

[2021-02-26 06:02] leonstafford opened #759 "error in paginated views - trying to use undefined s var when no search input"
[code]

[2021-02-26 06:08] leonstafford commented on #758
Now looking better (missed a `trailingslashit()`).

Without a Posts page set in WP Settings, detects:

`/page/1/`

With Posts page set to `/blog/`, we get: `/blog/page/1/`

[2021-02-26 06:48] leonstafford commented on #758
ugh, taking my time with this one :P

was misunderstanding what I'm getting back from that fn. may opt for the one which gives either the posts url or false, as demo'd here in wp_cli's shell:

[code]

[2021-02-26 18:33] john-shaffer commented on #758
Both work fine for me, but I would suggest `get_post_type_archive_link` because it uses the `post_type_archive_link` filter.

[2021-02-26 23:37] leonstafford commented on #758
Sweet, will try combining the two, as I like the `false` response from the `get_option()` call when not set, then use the `get_post_type_archive_link` for most accurate URL

[2021-02-26 23:41] leonstafford commented on #758
(without the get_permalink, the `get_option()` call will return `"0"`, which is still enough to test the condition)

[2021-02-27 00:08] leonstafford commented on #758
Put up some work in progress, currently at:

[code]

[2021-02-27 00:16] leonstafford commented on #758
Fixed those disparate URLs by correcting the number of expected method calls in the unit tests.

Lastly, for tests, need to fix the extra trailing slash on the Posts Page segment. Then check again in real site.

[2021-02-27 00:19] leonstafford commented on #758
Without Posts page defined:

[code]

With Posts Page defined:

[code]

[2021-02-27 00:22] leonstafford commented on #758
So... one of the URLs in the tests isn't reflective of real WP case, will need to sort that out to produce same results as we're seeing in the WP site, then can fix failing tests and hopefully be done with it :D

[2021-02-27 01:47] leonstafford commented on #758
With Posts Page:

[code]

Without Posts Page:

[code]

Looking good!

The incorrect URL in the test case was a pagination base with a leading `/` slash, which isn't what WP returns.

Not a very sexy exercise to go through this, but good practice for me! Thanks for reporting and inputs y'all!

[2021-02-27 01:51] #758 closed, assigned to leonstafford

[2021-02-27 02:10] #759 closed, assigned to nobody

[2021-02-27 02:11] leonstafford commented on #756
err, have enough ideas, thanks anyway, Leon of the past!

[2021-02-27 02:11] #756 closed, assigned to nobody

[2021-02-27 02:12] #755 closed, assigned to nobody

[2021-02-27 02:42] leonstafford commented on #754
I've added a check for the 2nd issue mentioned here (missing zip dependency), which now presents a useful notice for user to install `zip`.

Regarding the initially reported error, I'll make the call to say it's not supported to build installer zip on Windows.. Currently, I use a shell script to do the compilation of an easy to install zip. To support Windows, I'd need to rewrite that script in PH

[2021-02-27 02:42] #754 closed, assigned to nobody

[2021-02-27 02:43] leonstafford commented on #753
Sorry for the super late reply, @CodingSector123!

Hopefully you figured it out by now. My guess is an empty git repository, where it needs at least one commit in place to work. Else, maybe something like permissions on your GitHub personal access token?

I'll close this issue. Please re-open if issue persists or update with the solution that worked for you.

Cheers,

Leon

[2021-02-27 02:43] #753 closed, assigned to nobody

[2021-02-27 02:45] #746 closed, assigned to nobody

[2021-02-27 02:58] leonstafford commented on #745
I've just defaulted it to true.

@john-shaffer what are the implications of removing all the non-combined namespace deploy cache code?

[2021-02-27 03:03] leonstafford commented on #738
Hi @TomLewis - sorry for super slow reply here.

Similar issue to https://github.com/leonstafford/wp2static/issues/754

You may follow suggestions there to use WSL or some other UNIX-y filesystem option under Windows, else run `composer install` against source code or grab latest stable release from https://wp2static.com/download

[2021-02-27 03:03] #738 closed, assigned to nobody

[2021-02-27 03:04] leonstafford commented on #737
@skyinclude can you give an example of the end URLs you'll need in your static site (not relative URLs, which aren't really supported or recommended today)? And if you can link here to the API page for the storage service you'll be using to host these files on, putting an add-on together shouldn't be too hard.

[2021-02-27 03:10] leonstafford commented on #737
API: https://sia.tech/docs/

[2021-02-27 03:14] leonstafford commented on #733
Hi @michelnyx, sorry for the super late reply! This is a great idea. And should be able to add a first version for you to try soon.

[2021-02-27 03:30] john-shaffer commented on #745
I think removal would be ideal. I think the two branches are only there because the old way was preserved when namespaces were added, but if someone ever does need the old system then they can just use 'default' namespace.

[2021-02-27 04:20] leonstafford commented on #745
Cool, I'll do the cleanup.

[2021-02-27 04:32] #733 closed, assigned to nobody

[2021-02-27 04:36] leonstafford commented on #733
@michelnyx, I've added in some filters for now, shown here, in the [src/Controller](https://github.com/leonstafford/wp2static/blob/d7f6a80299538d2e993d0e1549a76628ea8c6d8a/src/Controller.php#L723-L737) file:

[code]

Please give a try and let me know if that works for you. You can `add_filter()` within your theme's functions.php or in a custom plugin, etc to override the default values.

If that w

[2021-02-27 04:42] leonstafford commented on #731
Hi @michelnyx,

Could you please tell me a bit more info about your "private" URL, ie structure, if it was not `http://localhost`?

This is a recurring request by users, but there's potential for things to break if I'm relying on the crawl URL to be the same as used during main URL rewriting functions.

In this case, it sounds like you're using a load balancer or proxy to serve a different URL? Id

[2021-02-27 04:44] leonstafford commented on #744
Hi @antwal, sorry for late reply. This appears to be duplicate of https://github.com/leonstafford/wp2static/issues/744 which I'll do more work on to resolve.

[2021-02-27 04:50] leonstafford commented on #727
There doesn't seem to be a reference to `mb_split()` anymore in WP2Static or it's vendor files, likely since bringing the SitemapParser library internal. Closing this as unlikely to be reproducible anymore.

[2021-02-27 04:50] #727 closed, assigned to nobody

[2021-02-27 04:52] leonstafford commented on #725
Cool, glad it worked out using that build!

Will close this issue now, as there's some others which mention inability to build installer zip from Windows, the main topic of this one.

[2021-02-27 04:52] #725 closed, assigned to nobody

[2021-02-27 04:53] leonstafford commented on #726
some work done on this previously, issue no longer required (but maybe a _banh mi_!)

[2021-02-27 04:53] #726 closed, assigned to nobody

[2021-02-27 04:55] #720 closed, assigned to nobody

[2021-02-27 04:55] #718 closed, assigned to leonstafford

[2021-02-27 04:56] #717 closed, assigned to nobody

[2021-02-27 04:56] #737 closed, assigned to nobody

[2021-02-27 04:56] #716 closed, assigned to nobody

[2021-02-27 04:56] #697 closed, assigned to nobody

[2021-02-27 04:56] #678 closed, assigned to leonstafford

[2021-02-27 04:57] #741 closed, assigned to nobody

[2021-02-27 05:03] leonstafford commented on #591
This is more a problem that needs to be fixed in WordPress or the theme itself. I'd advise to use a "Force HTTPS" type of plugin to solve this, or add a custom function, with the `wp2static_post_process_complete` hook.

[2021-02-27 05:03] #591 closed, assigned to nobody

[2021-02-27 05:04] #565 closed, assigned to nobody

[2021-02-27 05:09] leonstafford commented on #571
Authors, Tags and pagination for both of them should be working fine now.

[2021-02-27 05:09] #571 closed, assigned to nobody

[2021-02-27 05:11] leonstafford commented on #551
namespaces in for a while now. Thanks again @bookwyrm!

[2021-02-27 05:11] #551 closed, assigned to nobody

[2021-02-27 05:12] leonstafford commented on #520
this is more environmental dependent, plugin should be running as expected web users with correct permissions.

[2021-02-27 05:12] #520 closed, assigned to leonstafford

[2021-02-27 05:16] leonstafford commented on #497
Moving this to a Discussion/Idea, but we have already S3 and GCS deployment add-ons, so I suggest forking those and creating your own for Alibaba, Rackspace, Linode, etc, then share back what you find works. I can then either point users towards your addons or convert them to official ones I maintain. You can also hire developers if you aren't able to do yourself, I'm happy to give them advice if

[2021-02-27 05:16] #497 closed, assigned to nobody

[2021-02-27 05:19] leonstafford commented on #473
This should be all good for most cases in the wp2static-addon-s3 add-on now.

There are still issues which this and other projects face with certain characters, trying to deploy to S3. In those cases, you may be forced to use AWS' CLI tool, like `aws sync . s3://somebucket` or such, that tends to transfer everything.

[2021-02-27 05:19] #473 closed, assigned to nobody

[2021-02-27 05:20] leonstafford commented on #450
Should be all good now in https://github.com/leonstafford/wp2static-addon-s3/, where this option has been available for a while now. Let me know if still facing any issues.

[2021-02-27 05:20] #450 closed, assigned to nobody

[2021-02-27 05:22] leonstafford commented on #447
Plugin has progressed quite a bit since this report, closing issue. If still having issues, please let me know with a new issue.

[2021-02-27 05:22] #447 closed, assigned to nobody

[2021-02-27 05:23] leonstafford commented on #446
This deployment option no longer supported in latest build, but you can programmatically achieve it, using actions/hooks. Please let me know if still needing help with it (and yes, I know this is 2 years in the future now, sorry!)

[2021-02-27 05:23] #446 closed, assigned to nobody

[2021-02-27 05:25] leonstafford commented on #443
Yep, closing this off. Need to serve WP from the same port as is defined in your `Site URL` admin setting, then will be fine.

A new simple way to host local dev sites has been born since: https://lokl.dev

[2021-02-27 05:25] #443 closed, assigned to nobody

[2021-02-27 05:26] #409 closed, assigned to nobody

[2021-02-27 05:28] #283 closed, assigned to leonstafford

[2021-02-27 05:29] leonstafford commented on #270
little desire

[2021-02-27 05:29] #270 closed, assigned to leonstafford

[2021-02-27 05:32] leonstafford commented on #254
This was something I spent way too much time on. I'd rather just send YooTheme users to an alternative static site generation tool if they're still having troubles with the funky way they generate/cache images.

[2021-02-27 05:32] #254 closed, assigned to nobody

[2021-02-27 05:35] leonstafford commented on #218
stale. can no longer reproduce.

[2021-02-27 05:35] #218 closed, assigned to leonstafford

[2021-02-27 05:37] #261 closed, assigned to leonstafford

[2021-02-27 05:39] leonstafford commented on #708
have recently closed similar issue, won't be catering the build script to Windows environments anytime soon. There are workarounds/solutions listed in: https://github.com/leonstafford/wp2static/issues/754

[2021-02-27 05:39] #708 closed, assigned to nobody

[2021-02-27 05:43] leonstafford commented on #601
This should not be a blocker anymore. If using WP2Static 7.1.6 and optionally, https://github.com/leonstafford/wp2static-addon-advanced-crawling, if you still find this issue happening, you can either call `wp2static_modify_initial_crawl_list` filter or directly add/remove URLs by manipulating the `CrawlQueue` via its static methods.

[2021-02-27 05:43] #601 closed, assigned to nobody

[2021-02-27 05:47] leonstafford commented on #641
opting for https://github.com/szepeviktor/phpcs-psr-12-neutron-hybrid-ruleset and have some examples in https://github.com/leonstafford/coding-test-advertising-settings and https://github.com/leonstafford/WhatWouldViktorDo/ that I'll get back to implementing in here. Will kill this task for now, as I'm likely to do it when the mood hits and issue count weighs me down :P

[2021-02-27 05:47] #641 closed, assigned to nobody

[2021-02-27 21:22] john-shaffer commented on #727
In older versions, this can be resolved by installing the mbstring PHP extension (e.g. `sudo apt install php7.4-mbstring`).

[2021-02-27 21:53] thomashollier commented on #727
Thanks. I appreciate it. I'll give it a test and report back.

On Sat, Feb 27, 2021 at 1:22 PM John Shaffer <notifications@github.com>
wrote:

--
Thomas Hollier, Media Designer and VFX Supervisor
(310) 463-1327
application: www.thomashollier.com
exploration: www.relentlessplay.com
-------

[2021-02-27 23:03] leonstafford commented on #745
@john-shaffer could you please give https://github.com/leonstafford/wp2static/commit/b6f0424fa0b297a5158f83c07f616a02a48839ae a test with a cpl of namespaced deploys?

I flipped the method names in DeployCache and made minor adjustments to views/CLI. Left the method to get totals just for one namespace, as that should give flexibility in scripting.

[2021-02-27 23:07] leonstafford commented on #690
fixed this case affecting some environments in 7.1.7 `fix MySQL issue preventing Add-on activations`. That is available in this source code and will be published in next stable release.

(Also released updated version of https://lokl.dev)

[2021-02-27 23:07] #690 closed, assigned to nobody

[2021-03-03 09:36] petewilcock commented on #745
Adding a comment here to avoid issue bloat as it might be related to the changes here- @leonstafford in your latest 7.1.7 dev, I've noticed the Caches page is taking a reaaaaaally long time to load in some instances. After deploying a site with ~6500 URLs with a ~500mb cache for the crawled and post-processed site, the cache page takes a solid 3-4 minutes to load. After clearing the cache it loads

[2021-03-05 12:53] leonstafford opened #775 "add filter for SiteInfo for easier extension"
as per [recommendation here](https://twitter.com/palmiak_fp/status/1367819694326046720)

[2021-03-09 20:05] aprilhalliwell commented on #751
I encountered this issue today, for me It was caused by my robots.txt file including the sitemap URL in it. The URL in the robots.txt file was the full URL (base site + sitemap.xml). Since the Client request includes the base URL this caused the double URL issue.

I worked around this by removing the sitemap from the robots.txt file.

[2021-03-15 01:36] leonstafford commented on #751
@dardalios many thanks for reporting this, it should help get closer to solving it. I'm working on [moving out all of the URL detection into its own library](https://github.com/leonstafford/WordPressURLDetector/), for WP2Static and others to use. That may replace current sitemap/robots parsing code before I fix it in place.

[2021-03-15 02:18] leonstafford opened #776 "Caches page loading terribly slow on large sites"
Adding a comment here to avoid issue bloat as it might be related to the changes here- @leonstafford in your latest 7.1.7 dev, I've noticed the Caches page is taking a reaaaaaally long time to load in some instances. After deploying a site with ~6500 URLs with a ~500mb cache for the crawled and post-processed site, the cache page takes a solid 3-4 minutes to load. After clearing the cache it loads

[2021-03-15 02:19] leonstafford commented on #745
Thanks @petewilcock, sorry for slow reply, been on the road this last week. Moved that into it's own issue, so I don't lose it. How quickly I can get to it is another matter :P

[2021-03-15 08:00] swtrse opened #777 "Archive URLs got detected even if archives are disabled"
The problem here is that wp_get_archives returns archive links even if archives are disables (via Yast SEO for example).
In case of Yast SEO these links are rerouted to the default page.
What happens is that wp2static takes these archive links and creates a static version of the default page for each and every archive link.
The easiest way would be a option to disable explicit archive link detecti

[2021-03-15 08:04] swtrse opened #778 "Author URLs got detected even if author archives are disabled"
The problem here is that get_author_posts_url returns archive links even if archives are disables (via Yast SEO for example).
In case of Yast SEO these links are rerouted to the default page.
What happens is that wp2static takes these archive links and creates a static version of the default page for each and every archive link.
The easiest way would be a option to disable explicit author archive

[2021-03-15 09:12] leonstafford commented on #777
Thanks for tracking these down, @swtrse!

There is a filter available if you add to a custom function, for each detection type. I'm doing some big reworking of the detection functionality and putting it into its own library. I'll then expose those filters in WP2Static's UI/CLI.

[2021-03-15 09:37] swtrse opened #779 "WPCF7 contact forms got detected"
The problem here is that in DetectPostsPagionationURLs the post type "wpcf7_contact_form" is not excluded from the query. This results in URLs that does not exist on the site.
For WPCF7 the solution would be to exclude wpcf7_contact_form just like nav_menu_item and revision.
A more general approach would be so let configure an list of excluded post_types.

[2021-03-15 09:43] swtrse commented on #779
DetectCustomPostTypeURLs could also be affected.

[2021-03-15 09:51] swtrse opened #780 "/favicon.ico should be detected before added to the url list"
File: URLDetector.php

The current way if always add /favicon.ico generates unessesary 404 errors.
In most WP sites favicon is now set in admin panel (over Design-Customzier or a Plugin). The favicon is placed in the media library and an html meta tag is inserted on each page that references the favicon. There is no need to rely on an favicon.ico on site root anymore.

Since favicon is not present

[2021-03-15 11:38] swtrse opened #781 "Error when sitemap is defined in robots.txt"
There is an parsing error when sitemap is defined in robots.txt

If the sitemap is a relative url the url validation failes and the fallback '/sitemap.xml', '/sitemap_index.xml' and '/wp_sitemap.xml' will be used.
If the sitemap is a absolut url parsing will fail because the wp_site url is added and the url parsed looks like https://example.org/https://example.org/whateverthenameofsitemapis.xml

T

[2021-03-18 12:59] swtrse opened #782 "SuperCache cache sites got addtet to detection list"
The problem here is that in DetectPostsPagionationURLs the post type "oembed_cache" is not excluded from the query. This results in URLs that does not exist on the site.
For SuperCache the solution would be to exclude oembed_cachejust like nav_menu_item and revision.
A more general approach would be so let configure an list of excluded post_types.

Sidenote:
I forked this project (swtrse/wp2static

[2021-03-18 21:35] leonstafford commented on #782
Thanks, @swtrse! Will definitely take a look and aim to get these fixes into the separate WP URL Detection library I'm working on!

[2021-03-23 22:52] accesstopower opened #783 "Cannot purchase plugin on website."
I am unable to purchase the plugin. The e-commerce Snipcart fails everytime I try.

[2021-03-23 23:06] leonstafford commented on #783
Thanks for reporting, @accesstopower. Was that with PayPal or Credit Card? I've just changed the setup and need to fix that issue. In meantime, you can PayPal direct to me at https://paypal.me/ljsdotdev and I will email you the plugins.

[2021-03-23 23:12] accesstopower commented on #783
Both credit card and PayPal failed

[2021-03-23 23:16] accesstopower commented on #783
Leon, I just paid you via paypal.

[2021-03-23 23:18] leonstafford commented on #783
Thanks! Just sent, may take a few minutes.

[2021-03-23 23:28] accesstopower commented on #783
Got it. Thanks for responding so quickly. Issue closed.

[2021-03-23 23:28] #783 closed, assigned to nobody

[2021-03-24 22:14] Zyles opened #784 "Missing pages and files"
WP multi-site and oxygen builder with plugin "Hide my wp ghost".

Installed latest in `wp-content/plugins/wp2static/` using composer

On generate missing RSS feed in /feed/

It does also not respect custom URLs made by the plugin "Hide my wp ghost" rewriting wp-content to /contents/ and wp-includes to /inc/

`404 for URL /wp-includes/css/buttons.css`

Where it should be in my case /inc/css/buttons

[2021-03-25 11:04] leonstafford commented on #784
Sorry for slow response, thanks for reporting, @Zyles!

I've started work on a new WordPress URL Detector library and will use issues like this to test/build against, so this is a great help, thanks!

The feed one may not be exactly the same issue as the others, but I know feed generation needs improvement.

[2021-03-26 00:14] Zyles commented on #784
An option to ignore urls/paths would also be great.

I tried with the advanced crawling addon and added /feed/ and it seemed to work. Since it will return an index.html with the feed content for it.

Honestly would not use WP if it was not for this plugin. But have to revert back to the old version for now until this detection is fixed.

Thanks.

[2021-04-03 03:28] working-name opened #785 "[regression] Guzzle is ignoring your 'verify' => false"
Hi there,

Finally got around to playing with this awesome little thing. I ended up hardcoding the value to false inside guzzler's files. Stubborn stuff, most of the time the function was called the option was blank, and when it was set, its value was `1`.

Anyway, if there's anything I can provide to help you debug this, let me know.

Environment details:
[code]

Unrelated: I wonder if there's a

[2021-04-03 03:49] working-name commented on #785
Aww, bummer.

[code]

Also it looks like the **_incomplete output_** is lacking a bunch of plugin output and the theme seems to have reverted to defaults where it is displaying some random menu that does not exist in the database, and so on. Not quite sure what to make of it. Still, this is absolutely going the right direction. Good job, and keep it up!

[2021-04-03 04:01] leonstafford commented on #785
Hey @working-name, thanks for reporting these!

Yeah, there's no elegant job termination currently, so you'll likely have a bunch of crawl tasks still trying even when a network timeout signals to UI that it's errored.

Pump up your PHP memory_limit setting and let it do its thing again, hopefully it completes!

I'll sort this Guzzle issue one way or another. Recently went back to Guzzle, due to e

[2021-05-01 09:22] fazalfarhan01 opened #787 "Error 504 on static site generation (WP2Static)"
Hey there.
# The static site generation used to work fine but i am not able to run it from a few hours.
## I get this error:
[code]
## And this is what I get in the console:
[code]

## Tried wp-cil
[code]

In the line `PHP Fatal error:  Uncaught WP2StaticGuzzleHttp\Exception\ConnectException: cURL error 6: Could not resolve host: customer-care-solution.comhttp (see https://curl.haxx.se/libcurl/c/l

[2021-05-08 15:23] fazalfarhan01 commented on #787
## Found a workaround
- Used the scheduled jobs queue to generate static site with out errors.
- But generating from Run -> Generate results in 504

[2021-05-16 11:38] belidzs commented on #751
I had the same issue due to the absolute URLs in `robots.txt` generated by [XML Sitemaps](https://wordpress.org/plugins/google-sitemap-generator/)

[2021-05-22 04:07] leonstafford commented on #751
To update on this, I've gotten some time again to work on https://github.com/leonstafford/WordPressURLDetector/, which will will become a drop-in replacement for all URL detection within WP2Static. Can't give an ETA of when it will be ready yet, just doing some tidy up/organising the code as a library. Sitemap bit that came from WP2Static is my least liked part of it, seems unecessarily complex an

[2021-05-28 21:08] stefan-b314 commented on #730
Hi @leonstafford,

I have some similar problem with some of my multisite environments. So far I have tracked down the error to this line of code: https://github.com/leonstafford/wp2static/blob/develop/src/DetectPluginAssets.php#L29

The option `active_plugins` does not seem to contain network-wide enabled plugins, does it?! There is another option called `active_sitewide_plugins` in the `wp_siteme

[2021-05-29 01:37] leonstafford commented on #730
Many thanks, @stefanullinger, that sounds very helpful!

Could you please confirm if you're using subdomain multisite or subdirectory?

I'm relying on my [Lokl](https://github.com/leonstafford/lokl) project for most of my testing at the moment, which doesn't support multisite today, but may be able to quickly add it in either/both forms. That would be good for me to get more familiar with multisit

[2021-05-29 10:01] leonstafford commented on #787
@fazalfarhan01 I've moved this into WP2Static repo for now. It may still be related to [this network connectivity issue](https://github.com/leonstafford/lokl/issues/36)

But, I really should improve the error handling in WP2Static to provide better feedback about the cause when you're running via the UI and to add some re-attempts on URL crawls if not already, which may have fixed this issue, wher

[2021-05-30 19:18] stefan-b314 commented on #730
Hi @leonstafford,

I've tried both multisite options now – using a subdomain multisite, and using a subdirectory multisite. Either way, WordPress will store network active plugins in the `active_sitewide_plugins` option of the `wp_sitemeta` table.

I will create a PR on your WordPressURLDetector repository now. Thanks for extracting all of this into a separate library by the way!

Would be cool, i

[2021-05-31 06:15] #730 closed, assigned to nobody

[2021-06-08 11:06] alexandre-tobia opened #789 "404 on theme's assets, wrong path/URL"
HI @leonstafford,

When generating static website, all of my static assets are not generated because of 404.

I've added logging line on your Crawler.php (L205) for showing the real URL used by the "getUrl" function:

[code]

My wordpress site info:

site_path | /Users/alexandretobia/Sites/nps/web/wp/
-- | --
site_url | http://nps.test/wp/
home_url | http://nps.test/
includes_path | /Users/alexand

[2021-06-09 12:50] jakob-lundberg commented on #787
I don't think this is related to connectivity issues. It looks like the domain it is trying to resolve is `customer-care-solution.comhttp` and not `customer-care-solution.com`

[2021-06-09 15:44] leonstafford commented on #787
Probably due to the https reverse proxy? (sorry, just read/digested the part at the end about about your setup now)

Common to WP2Static, is that it needs the Site URL of the WP site to be the same that it's crawling, as much logic relies on that.

So, yeah, that setup is not supported today. Whether it is possible is another matter.

[2021-06-09 15:46] leonstafford commented on #787
Sorry, brain not functioning well at end of day, but that is the general issue here. If you're able to keep the WP Site URL the same as the URL it's served from and WP2Static crawls, then it should be fine.

[2021-06-15 04:21] Kryd0s opened #790 "Subdirectory hosted WP not exporting properly - debugging inside"
I've been testing this plugin on Centos7 cpanel server with php 8.0 and wordpress 5.7.2. I have wordpress installed at example.com/wp/ and I've been trying various post processing to make it work in a different sub directory.

If I type "" into postprocessing it expects the static site to exist at example.com as expected. This seems to work just fine.

If I type "example.com/static/" into postproc

[2021-06-15 05:20] leonstafford commented on #790
Thanks for reporting, @Kryd0s! Will try to solve this.

In general, subdirectory hosted WP has not been something that I've supported in recent years, as it adds a lot of complexity to the URL rewriting.

Best advice short term is to use domain roots only for the development site and the live site. Any subdirectory stuff you want to do on the live site may then be more safely handled by webserver/

[2021-06-15 16:09] Kryd0s commented on #790
Thanks for the quick reply. I bet it would work to use a subdomain instead of a subdirectory. So I could put the non-static wordpress at something like dev.example.com and then leave post processing box empty and have the static site hosted at example.com. It's not a critical bug and there are definitely ways to work around it, but I thought you might want to know about it. I'm going to recommend

[2021-06-17 00:17] leonstafford opened #791 "missing fonts from export when using shortcodes-ultimate plugin"
test with this plugin:

https://wordpress.org/plugins/shortcodes-ultimate/

originally mentioned in:

https://wk2edu.net/2019/10/08/%e9%9d%99%e7%9a%84%e3%83%9a%e3%83%bc%e3%82%b8%e3%81%a7shortcodes-ultimate%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3%e3%81%8c%e8%a1%a8%e7%a4%ba%e3%81%95%e3%82%8c%e3%81%aa%e3%81%84%ef%bc%81%ef%bc%9f/

[2021-06-21 18:12] mrwweb opened #793 "Use dequeue rather than deregister to prevent Query Monitor Errors"
With WP2Static installed, Query Monitor shows an error on every page "Missing: wp-embed". This is because that script is [deregistered but not dequeued](https://github.com/leonstafford/wp2static/blob/842e29bcdb107e0175299bcd24a17d44b8dc8ea6/wp2static.php#L66).

Changing that linked line from `wp_deregister_script()` to `wp_dequeue_script()` resolved the error (and I believe is the correct way to d

[2021-06-22 02:28] leonstafford commented on #793
Great, thanks @mrwweb! Will fix!

[2021-06-22 02:56] #793 closed, assigned to leonstafford

[2021-06-22 02:58] leonstafford commented on #793
@mrwweb I didn't dive deep enough in to check what each of those functions look like, but saw enough examples of developers calling both, so went with that for now. Please let me know if persists with latest code.

Could you please let me know a bit more of your test environment? ie Theme/plugins in use? I wasn't able to get Query Monitor showing me that error on a vanilla WP test site...

[2021-06-22 10:23] alexandre-tobia commented on #179
Hi @leonstafford your link does not exist anymore, and the export still doesn't work with bedrock, do you plan to look on this ?

[2021-06-22 12:20] leonstafford commented on #179
Hi @FredericoC, thanks for your effort in reporting. Sorry that no progress has been made with the Bedrock setup here. As the issue is open, I mean to address it (or someone may send a patch in the meantime if we're lucky!).

I remember spending time to resolve Bedrock paths years ago, so you may find it works in this project vs WP2Static:

https://github.com/leonstafford/static-html-output

Else,

[2021-06-24 07:17] mkesper opened #794 "Add option to process queue directly (wishlist)"
Please add an option to process the queue directly upon events.

As the addon already captures a triggering event, why wait again for activation by WP-Cron?

[2021-06-24 14:17] leonstafford commented on #794
Thanks @mkesper, great point! Makes total sense.

Perhaps my original thinking when implemented it was that if you're creating a lot of posts and your deploy time is long, you may want more control that you don't start a deploy, blocking next one for 15 mins, when you are going to be doing 5 mins worth of post editing...

But making it an option to directly process the queue on certain events shou

[2021-06-25 09:21] alexandre-tobia commented on #179
Hi @leonstafford thanks for your answer, but static-html-output does not work too. I've opened an issue with more information at
https://github.com/leonstafford/wp2static/issues/789

Do you have some times to look at it ?

Thanks !

[2021-06-25 11:00] leonstafford commented on #789
Thanks @alexandre-tobia! I don't have time right now to switch focus to it. Is there anyway with Bedrock to get the URL to not use a subdirectory for hosting? ie, drop the `/wp` and just serve WP from `http://nps.test/`? I think that wil be the main problem one. The `/app/themes` etc should be OK or a quicker fix.

[2021-06-25 11:03] leonstafford commented on #789
This gives some ideas: https://github.com/roots/bedrock/issues/180

As WP2Static is designed to run off dev environments, I wouldn't care about the security implications of adjusting things against their project's best practices - as long as your dev server isn't open to the public.

[2021-06-28 22:20] petewilcock opened #796 "Support for AMP pages"
One of my themes generates AMP pages for Wordpress, either at ?amp or /amp, but currently these aren't crawled.

I believe the correct AMP URL as recognised by Google is _without_ the trailing slash, so this might be challenging. But in the short-term, I could work with crawling `?amp` and having this indexed as `/amp/index.html`.

For the CloudFront->S3 part I can put a function in front of the r

[2021-07-03 14:57] ZhymabekRoman commented on #787
Same error
![image](https://user-images.githubusercontent.com/61125068/124358180-f288c780-dc40-11eb-9193-d152d92899d8.png)
Is there any solution?

[2021-07-03 15:22] leonstafford commented on #787
@ZhymabekRoman quick solution will be to change environments. You can try https://lokl.dev and import your site there or use any other VPS.

If issue persists, try with default WP site. Then re-enable piece of your site until problem reoccurrs, then we will know the exact cause.

[2021-07-03 16:49] fazalfarhan01 commented on #787
@ZhymabekRoman did you try this?

[2021-07-17 15:20] ncrosno commented on #677
I've come across this issue as well.  Can  anyone elaborate on what the site name should be changed to, and how would that help?

[2021-07-19 22:28] mrwweb commented on #793
@leonstafford Sorry I didn't get back to you sooner. I poked around at this a bit and I'm not quite sure what you're running into. I've got a site running nothing but Query Monitor and wp2static with Twenty Twenty as the active theme and I'm still getting the error displayed in Query Monitor. I wish I had something better to tell you!

[2021-07-20 07:47] leonstafford commented on #793
@mrwweb - to confirm, you're still seeing it with the latest changes in `develop` branch?

https://github.com/leonstafford/wp2static/commit/e88b0b69b6f242a0a0720c4eb5c7155b937444fd

If still seeing it, please share me some more info about your WP hosting setup and I can try to reproduce

[2021-07-20 13:13] mrwweb commented on #793
@leonstafford Sorry for not being clearer! The fix definitely works, but I couldn't figure out why you couldn't reproduce the issue for yourself before that.

[2021-07-20 23:56] leonstafford commented on #793
@mrwweb ah, all good then! Probably just the environment I was using (https://lokl.dev). In case you try it and find WP Debug not working as usual, happy to fix it

[2021-07-22 00:04] palmiak commented on #751
Just got the same problem and for a workaround I just this bit to the code:
[code]

What do you think about adding as a working fix?

[2021-08-04 16:08] cklingspor opened #797 "Export to private S3 Bucket"
Hi Leon,

I've been playing around with your plugin because I think, that it is a great idea. Currently, I'm looking for a possibility to use the plugin with a private S3 bucket that blocks all public access. I read here: [https://github.com/leonstafford/wp2static/issues/537](https://github.com/leonstafford/wp2static/issues/537) and during the discussion, the requester mentioned that everything ru

[2021-08-04 17:13] #797 closed, assigned to nobody

[2021-08-04 17:39] leonstafford commented on #797
Hi @cklingspor,

Just to check - what was the resolution for you in this case?

Even if unrelated, I'm always happy to hear and maybe someone is facing similar issue.

Cheers,

Leon

[2021-08-05 07:18] cklingspor commented on #797
Hi Leon,

thanks for getting back to me so fast! I had to leave the desk and did plan to write a comment about the "solution".
So here are more details:
As I said in my original post I've checked the issue here [https://github.com/leonstafford/wp2static/issues/537](https://github.com/leonstafford/wp2static/issues/537) and also made sure the S3 addon supports private ACL on the bucket. So the first

[2021-08-05 07:21] leonstafford commented on #797
Ah, great to hear, thanks for sharing, @cklingspor! I think that's @john-shaffer's handy work, adding the Object ACL controls in prior enhancement - nice to hear it's working well for people!

[2021-08-05 16:20] rajeevbohan commented on #787
Stuck with same error

504 error code returned from server.
Please check your server's error logs or try increasing your max_execution_time limit in PHP if this consistently fails after the same duration.

[2021-08-05 19:07] rajeevbohan commented on #787
My scheduled jobs are always in waiting status

[2021-08-10 08:44] cklingspor opened #798 "Issue: Export fails at "fetch URL contents""
Hi together,

I came across a strange bug. I followed this list here before posting: https://staticword.press/t/troubleshooting-failed-static-site-generation/25. I also looked for similar issues but found none.
The error:
![grafik](https://user-images.githubusercontent.com/45142009/128835747-ff41c169-1730-48cb-a980-9f500567924e.png)

It occurred **after** I changed the permalink settings from "Pla

[2021-08-10 12:16] cklingspor commented on #798
I've investigated further and could find one exeception:

` PHP Fatal error: Uncaught WP2StaticGuzzleHttp\\Exception\\ClientException: Client error: GET http://wordpress.protos-cloudsolutions.de/http://wordpress.protos-cloudsolutions.de/wp-sitemap.xml resulted in a 404 Not Found response:\n<!doctype html>\n<html lang="en-US" >\n<head>\n\t<meta charset="UTF-8" />\n\t<meta name="viewport" content="w

[2021-08-11 06:12] leonstafford commented on #798
Thanks for digging further, @cklingspor! There is an outstanding issue related to Sitemap detection/crawling in the core plugin, with some workarounds people have found:

This may help, sorry I can't give you a specific right now, but wil be sorting out this particular sitemap/robots related issue as soon as I can:

https://github.com/leonstafford/wp2static/issues?q=is%3Aissue+is%3Aopen+sitemap

H

[2021-08-11 11:01] ml4den commented on #480
It would be great if we could get 404.html rendered in the root folder by default. From then on people can set up their redirects as required based on their hosting.

[2021-08-20 02:21] leonstafford opened #799 "Feature: Generation vs crawling"
tracking in branch https://github.com/leonstafford/wp2static/tree/feature/generation-vs-crawling

originally discussed/tested in https://github.com/leonstafford/wp2static/discussions/760#discussioncomment-411432

can simulate running this within PHP, aka plugin, by entering `wp shell` and running:

[code]

will output the admin author page's HTML.

Pros:

bypass webserver (don't need one at all)
r

[2021-08-20 02:25] leonstafford commented on #799
how to deal with binary files? just do a straight copy?

[2021-08-20 03:24] leonstafford commented on #799
doing the `include()` seems messier than calling directly from `php index.php`, we're trying to reload a bunch of stuff we already have instantiated... should be able to call a WP method higher up the chain.... let's see...

exec'ing to call PHP seems like overhead, but trying to do within WP, we have too much false context where the plugin is running from...

[2021-08-20 04:25] leonstafford commented on #799
note, to tail requests output, can put ~ line 73 in `wp-includes/canonical.php`: `error_log(print_r($requested_url, true));`

[2021-08-20 04:30] leonstafford commented on #799
for our generation, we don't need a LOT of WP stuff, we need a read-only system to generate the frontend, no wp-admin, etc. could be used in Lokl just for generation, else likely impractical...

[2021-08-20 04:31] leonstafford commented on #799
still, could be fun project to build a tiny, fast WP just for generation stage....

[2021-08-23 12:15] twardoch opened #800 "Deployment to another folder?"
I guess it’s simple to do — it’d be very useful to have a deployment add-on that would deploy the static site to another folder on the same server, which could be very fast.

[2021-08-24 01:02] leonstafford commented on #799
not happy with this little test. Really want to avoid `exec`'ing and do the generation programmatically. with the standalone WP URL Generator library I've started, we'll have the seed URL list to start with.

I'm less worried about having any on-file-change auto regeneration of specific site sections, rather, just have the fastest way to generate a whole WP site statically, without a webserver.

i

[2021-08-24 01:21] leonstafford commented on #799
more thoughts:

 - set site_url / home programmatically, to avoid rewriting before later
 - wp-load.php doesn't do much, we can start further up if loading from external script
[code]

 -

[2021-08-25 07:53] twardoch commented on #800
OK, sort of done: https://github.com/twardoch/wp2static-addon-copy

[2021-08-25 08:15] leonstafford commented on #800
@twardoch - nothing makes me happier than seeing a new contributed addon! Many thanks! Will bring it into the mix with the others when I next sit down properly with pushing out new releases.

[2021-08-25 08:16] leonstafford commented on #800
I should also mention, you can totally keep this as your own thing - charge $ for it, etc. No need to decide now, anyway

[2021-08-26 00:32] twardoch commented on #800
No no — I’ll happily hand it off. It was my first WordPress plugin and pretty much the 2nd or 3rd time I’ve done anything in PHP lately, but I’m usually lost in the woods (although I must say — I’ve always maintained that the PHP documentation is the best that ever is, the mix of the core spec with the user-contributed notes is unparalleled).

So feel free to fork and, well, not sure what would be

[2021-08-29 04:06] leonstafford commented on #800
Awesome, thanks again!

If you like complete documentation, it's just one of the core features of [OpenBSD operating system](https://www.openbsd.org/) - my favourite OS, but currently mainlining macOS due to Docker requirements...

I've [created a new repo](https://github.com/leonstafford/wp2static-addon-directory-deployment) and started some renaming to `Directory Deployment`.

I put as both as a

[2021-08-29 04:07] leonstafford commented on #800
oh and removed the install instructions from README for now, we should add to wp2static.com (and more complete instructions for the repo, as can do via manual git clone or via packagist, etc) - I'll invite you to that repo in case it's still private for whatever reason.

[2021-08-29 04:14] twardoch commented on #800
`rrmdir` and `xcopy` are functions, provided by the community and included in the Deployer. Both are recursive :) My whole code is copy-paste programming 😀

I'll remove the `release` thing.

[2021-08-29 04:18] leonstafford commented on #800
Ah, awesome! Well, we don't need to reinvent the wheel each time :D

[2021-08-29 04:18] twardoch commented on #800
Ps. I think the "copy extra stuff from another folder" could be part of every post-processor/Deployer. It’s very useful — sometimes you want to include a custom `.htaccess` or some extra images or whatever extra static files for which you have a link in the WP but which are not built by WP nor then by wp2static. I made it as a very simple thing — basically it now all works on https://blog.fontlab.

[2021-08-29 04:24] leonstafford commented on #800
100%!

I'm sure the additional includes/excludes stuff isn't working now besides via programmatic filters. It's a bit challenging to present via UI to the user. Would be cool to have some visual file browser, like those ones you add/remove between the sides.

IIRC, excludes should come first, so can exclude whole dir, then includes, to force one file from an excluded dir to be included....

[2021-08-29 04:27] twardoch commented on #800
Altogether, wp2static a superbly handy system.

- WordPress is excellent for CMS, product pages — anything you want to build visually.
- Comments/discussions etc. can be better done with an external service that works just as well with statics.
- Same goes for search: we use [simple Google Search](https://www.fontlab.com/search/?q=Although+Fontlab+Ltd.+debuted+the+Photofont+technology#gsc.tab=0&gs

[2021-08-29 04:34] twardoch commented on #800
I think a simple "copy over" will work in most cases. Ideally, it should be "merge" (for folders), I need to check what the xcopy function does. This is also how I deploy some other sites like https://fontlab.com/ — this is done in Webflow and deployed as a static, and I have a simple extra folder for "permanent" files like `.htaccess` that I merge into what comes out of Webflow.

I can manage "ex

[2021-08-29 04:38] twardoch commented on #800
For example I have some old results from `tag` etc. showing up in the [Google search](https://www.fontlab.com/search/?q=Although+Fontlab+Ltd.+debuted+the+Photofont+technology+some+8+years+ago#gsc.tab=0&gsc.q=Although%20Fontlab%20Ltd.%20debuted%20the%20Photofont%20technology%20some%208%20years%20ago&gsc.page=1) but I can eliminate them easily with 301 redirects in `.htaccess`. Not a problem, Google

[2021-08-29 04:45] leonstafford commented on #800
Well, that sounds like a great case study! Want to be the first in a new Case Studies section on the site? Should be some crossover in users who'd be interested in Fontlab's offerings, too!

[2021-08-29 05:17] twardoch commented on #800
Yep, I was about to offer some case study as well :) I’ll gladly write some notes, also about which plugins I’ve ended up using vs. discarding on the website (e.g. for minification). Quite a few security of optimization techniques become obsolete with wp2static and even interfere with it (for example extensive caching). I’ll happily share what I learned. Of course my blog.fontlab.com site could be

[2021-09-01 10:41] twardoch commented on #800
Heh, I’ve decided to dump the separate blog site. At FontLab, we use Webflow to design the graphically-intense product pages, and I realize Webflow makes a WordPress plugin where you can import the Webflow pages as WordPress pages. So I get the Webflow-made static pages that appear as WordPress pages, and then I have additional WordPress-made pages that are a bit more schematic and lightweight.

A

[2021-09-01 10:43] twardoch commented on #800
And the extra bit is: previously, we were deploying the Webflow-made pages kind of manually, and I did make a "patch over" folder which got merged into whatever Webflow generated. And since I did implement the same functionality in my "directory" wp2static deployer, I just use the same "patch over" folder there. This is really neat, I have full control over the URLs and the assets combined with th

[2021-09-01 22:04] leonstafford commented on #751
Thanks @palmiak for the [PR](https://github.com/leonstafford/wp2static/pull/801)!

Here's the build of that zip if anyone who is still able to reproduce the issue can help test:

[wp2static-sitemap-500-fix.zip](https://github.com/leonstafford/wp2static/files/7094628/wp2static-sitemap-500-fix.zip)

[2021-09-01 22:08] leonstafford commented on #781
Thanks @swtrse, very sorry I haven't responded to this for so long!

@palmiak has just sent through a similar [PR](https://github.com/leonstafford/wp2static/pull/801) here, I'll point him to this to see if he wants to combine some

[2021-09-02 15:15] SChubb opened #802 "Issue: Export fails immediately"
Hi Leon,

I'm running WordPress in a Docker container locally.

PHP version 8.0.10
Wordpress: latest
upload_max_filesize set to 500M
max_execution_time set to 36000

Downloaded WP2Static source from GitHub and built OK
Downloaded WP2Static add on and build OK

Wordpress installed and runs on localhost:8000 (default theme at this point)

install WP2Static and WP2Static S3 addon via Add New PlugIn a

[2021-09-04 23:03] john-shaffer commented on #781
Relative URLs should fail because they are invalid: https://www.sitemaps.org/protocol.html#informing

We should add a log message in that case and fall back to the defaults.

[2021-09-05 00:30] #751 closed, assigned to nobody

[2021-09-05 01:06] leonstafford commented on #284
closed by https://github.com/leonstafford/wp2static/commit/bb3183563a87d91e3544b263654e70c41c040f78

[2021-09-05 01:06] #284 closed, assigned to nobody

[2021-09-05 01:14] leonstafford commented on #802
Hi @SChubb,

This is a common issue when using certain Docker configurations.

WP2Static attempts to crawl your site using the WP defined Site URL.

In a Docker setup, where Docker is exposing a port to the host, such as `8000` in your case, but the container's webserver serves at `80`, WP2Static runs on the container and is attempting to crawl `http://localhost:8000` (the WP site URL), but there

[2021-09-05 01:22] leonstafford commented on #800
@leonstafford TODO:

 - test and release new addon
 - put case study up on wp2static.com for Adam's approval

[2021-09-05 01:22] #799 closed, assigned to nobody

[2021-09-05 01:23] leonstafford commented on #798
@cklingspor should be fixed in latest `develop` branch now. Please let me know if persists

[2021-09-05 01:23] #798 closed, assigned to nobody

[2021-09-05 01:26] john-shaffer commented on #781
Fixed in https://github.com/leonstafford/wp2static/commit/59540b17d875da2c418709caa2893e12832aef7e

[2021-09-05 01:26] #781 closed, assigned to nobody

[2021-09-05 01:31] leonstafford commented on #796
Wondering if this should go into an add-on or core. My dislike of AMP has me leaning to an add-on.

A few ways to approach it - we could detect for common AMP plugins or in this case, the theme's classes, to see if we should generate the URLs to be crawled.

Is my assumption about AMP that they're just static pages, so we could possibly do it in post processing phase and duplicate + rewrite a copy

[2021-09-05 04:59] leonstafford opened #805 "Deploy Cache view can present undefined offset warning"
Can arrive at DeployCache warning state in certain conditions.

In this case, I suspect the crawling failed, due to basic auth creds not having being entered. When viewing the Caches screen, getting undefined offset warning as attached.

Other consideration is that no deployment add-on had been installed.

Needs investigation and to at least guard against this state.

<img width="1041" alt="Screen

[2021-09-05 06:13] john-shaffer commented on #745
Fixed in 7.1.7

[2021-09-05 06:13] #745 closed, assigned to john-shaffer

[2021-09-06 08:57] palmiak commented on #751
Just tested the new release on my server that was causing problems - it's working now with new version 🎉

[2021-09-10 11:54] SChubb commented on #802
Hi @leonstafford,

Thanks for the response - couple of questions if that's OK?

So, to test things are working properly, I have WordPress running locally (not in a Docker container) via the WAMP stack - with a basic theme running. Site is available under localhost/mysite and can browse to it happily enough.

I've added in the WP2Static and WP2Static-S3-addon plugins and configured the S3 plugin wi

[2021-09-10 12:53] leonstafford commented on #802
Hi @SChubb,

Couple of things come to mind:

 - it shows most files not crawled due to caching. If there are files in the `wp-content/uploads/wp2static-processed-site` dir after a failure, you can be sure it got that far at least. If nothing in there, try WP2Static > Caches > Delete all caches, to confirm if site is actually being crawled.
  - the check max_execution_time message isn't great, it's

[2021-09-10 14:45] cklingspor commented on #798
Hi Leon, thank you for getting back to me. I will check once I have the time and let you know. Have a great day!

[2021-09-11 19:33] john-shaffer commented on #549
#794 should address this need

[2021-09-11 19:39] john-shaffer commented on #493
Closing because v7 has been out for a while now with this functionality.

[2021-09-11 19:39] #493 closed, assigned to nobody

[2021-09-11 19:42] john-shaffer commented on #715
Does anyone still have this issue with 7.1.7?

[2021-09-11 19:50] john-shaffer commented on #555
Redirects were implemented in #567.

Leon implemented the "Process queue" button in an earlier release, and #794 should fully address the original issue here.

[2021-09-11 22:16] #785 closed, assigned to nobody

[2021-09-11 22:17] john-shaffer commented on #785
It looks like we actually missed out a place where we should have set 'verify' false.

@working-name Can you confirm if https://github.com/leonstafford/wp2static/commit/23903448612f0426b73e97d4aecd92433b3cdcd6 fixes this for you, or does the issue remain?

[2021-09-17 14:04] adrianratajczak commented on #751
I tried fixed version from @leonstafford and still getting 500 error.
That's my error log file
`#1 /home/new.skiddou.com/public_html/wp-content/plugins/wp2static/src/Controller.php(633): WP2Static\URLDetector::detectURLs()
#2 /home/new.skiddou.com/public_html/wp-content/plugins/wp2static/src/Controller.php(745): WP2Static\Controller::wp2staticHeadless()
#3 /home/new.skiddou.com/public_html/wp-incl

[2021-09-17 14:49] leonstafford commented on #751
Hi @adrianratajczak, looks like we need to improve our error messaging when that particular exception is thrown, as it doesn't tell us the exact URL it's failing on, only that there was a `TransferException`.

Could you please list all the sitemaps your site has? And if it references the sitemaps in your robots.txt, if it exists.

[2021-09-17 14:53] adrianratajczak commented on #751
That's my sitemap file
https://new.skiddou.com/sitemap.xml

In my robots.txt sitemap is added

[2021-09-17 15:00] leonstafford commented on #751
Thanks @adrianratajczak. I'm not yet sure of the issue, but in the meantime, you may try to remove the sitemaps reference from the robots.txt to see if that's the cause we're seeing here...

[2021-09-18 22:29] john-shaffer commented on #585
Fixed in https://github.com/leonstafford/wp2static/commit/a83d56299f738da5046efb19f476c6c8ff15a11c. Will be in version 7.2.0.

[2021-09-18 22:29] #585 closed, assigned to nobody

[2021-09-18 22:33] #465 closed, assigned to nobody

[2021-09-18 22:35] #437 closed, assigned to nobody

[2021-09-18 22:36] #433 closed, assigned to nobody

[2021-09-18 22:36] #427 closed, assigned to nobody

[2021-09-18 22:42] #307 closed, assigned to nobody

[2021-09-18 22:43] john-shaffer commented on #213
Fixed in 7.1.7.

[2021-09-18 22:43] #213 closed, assigned to nobody

[2021-09-18 22:45] #483 closed, assigned to nobody

[2021-09-18 22:46] #466 closed, assigned to nobody

[2021-09-18 22:51] john-shaffer opened #808 "Add checks and log if file writes aren't successful"
This will help detect and debug issues like #598.

[2021-09-18 22:54] john-shaffer commented on #598
Closing in favor of #808. The actual problem with WP not being able to write files is (I believe) a problem with user permissions, but we should make it easy to spot that problem.

[2021-09-18 22:54] #598 closed, assigned to nobody

[2021-09-19 02:30] john-shaffer commented on #621
Fixed in https://github.com/leonstafford/wp2static/commit/a83d56299f738da5046efb19f476c6c8ff15a11c due to the use of MySQL locks.

[2021-09-19 02:30] #621 closed, assigned to nobody

[2021-09-19 02:33] john-shaffer commented on #558
Should be fixed in 7.1.7.

[2021-09-19 02:33] #558 closed, assigned to leonstafford

[2021-09-19 02:35] john-shaffer commented on #547
Should be fixed in 7.1.7.

[2021-09-19 02:35] #547 closed, assigned to nobody

[2021-09-19 02:39] john-shaffer commented on #489
Unfortunately, this is out of scope for this plugin. This would have to be implemented by Contact Form 7 or MailPoet.

[2021-09-19 02:39] #489 closed, assigned to nobody

[2021-09-20 23:32] #794 closed, assigned to john-shaffer

[2021-09-20 23:35] john-shaffer commented on #549
Should be addressed by https://github.com/leonstafford/wp2static/commit/68d6bd0c419b2f8d272105c4cd26c8dd4bda567a. Will be in 7.2.0.

[2021-09-20 23:35] #549 closed, assigned to nobody

[2021-09-20 23:36] john-shaffer commented on #555
Should be addressed by https://github.com/leonstafford/wp2static/commit/68d6bd0c419b2f8d272105c4cd26c8dd4bda567a. Will be in 7.2.0.

[2021-09-20 23:36] #555 closed, assigned to nobody

[2021-09-22 23:08] bookwyrm opened #811 "Optimization: Don't repeatedly check unchanging value"
https://github.com/leonstafford/wp2static/blob/84f1d33bcadbe0a7c485a72c8528b5703f147454/src/FilesHelper.php#L60

The value of `$site_path` doesn't change while we iterate over files in the filesystem, but we're checking the value each time.

Since if we have a non-string value for `$site_path` we won't ever get any files, it would be better to pull this check out before the iterator an simply shor

[2021-09-23 01:15] leonstafford commented on #811
💯

[2021-09-27 21:23] palmiak opened #814 "Bedrock Support / Filtering SiteInfo Class"
There is a problem with WP2Static and Bedrock. Bedrock has a bit different folder structure (https://roots.io/docs/bedrock/master/folder-structure/) and the ABSPATH is pointing a bit wrong (it's pointing the `wp` folder when it should point to the `web` folder).

Apart from Bedrock probably this could also cause problems where home_url and site_url are different (although I'm guessing here).

So I

[2021-09-27 21:46] palmiak opened #815 "Oembeds"
WordPress is using oEmbed feature - which in results adds oEmbed discovery urls to website header, which are based on the REST API:
[code]

of course those won't work with the static website, because of obvious reasons. I would either add those filters when wp2static is enabled:
[code]

or maybe only disabling it when the page is crawled by wp2static crawler - something like:
[code]

[2021-09-27 22:20] leonstafford commented on #814
Sounds awesome! Would love to be supporting roots' Bedrock! Many thanks and sounds solid for PR!

Do you think the Bedrock support needs to be in separate plugin or we could handle by detecting Bedrock env within WP2Static core?

Tradeoff of keeping core lean vs supporting popular dev env out of the box

[2021-09-27 22:27] palmiak commented on #814
I would go for separate. It's a bit of Bedrock way - https://github.com/roots/multisite-url-fixer - this how the fix for WP Multisite looks like.

Here I would do the same - a separate plugin with Composer support for ` "type": "wordpress-muplugin",`

[2021-09-27 22:27] leonstafford commented on #815
Hmm, I tend to love removing all the WP cruft, but have had cases where people wanted things left in. Static HTML Output plugin still removes some things, maybe even WP2Static has some disabling of WP stuff still included.

I'm interested in the idea of doing it only during our crawling. Yet, it introduces chance for user to not see potential site breakages until it's deployed. Not that these shou

[2021-09-27 22:31] leonstafford commented on #814
Great! Makes sense!

[2021-09-27 22:35] leonstafford commented on #814
I know we have `wp2static_modify_initial_crawl_list`, but also have `wp2static_curl_user_agent`. Let's drop the `modify` for this one and use `wp2static_siteinfo` as the filter name.

[2021-09-27 22:47] palmiak commented on #815
Yes - this plugin can remove this.

So the only thing that would be needed is pointing this out in the options screen somewhere so the users would now that this problem exists and it has to be taken care of with this plugin.

On the other hand we could create a simple addon for swapping the ombed to use iframe.ly for example

[2021-09-27 23:01] leonstafford commented on #815
OK, we have a Diagnostics page... When running that Diagnostics page, could check for that particular or a few such addons and/or check homepage for existence of those crufty elements.

I prefer the Diagnostics page vs introducing a notification. Will also work in WP-CLI then, too, if we don't print Diagnostics in CLI yet, we should, can pretty print as a table, with links to our/external docs on

[2021-09-27 23:03] leonstafford commented on #815
We can and should promote the Diagnostics feature more in the getting started docs (much work needed in docs!) and gives us a place to offer any other optimizations (suggest remove plugins that don't play nicely with static, etc)

[2021-09-29 18:34] leonstafford commented on #814
SiteInfo filtering supported merged in with @palmiak's [PR](https://github.com/leonstafford/wp2static/pull/816)

Keeping this open until there's a plugin to make use of it

[2021-09-30 16:35] leonstafford commented on #814
@palmiak if you create a repo for the Bedrock plugin or just some function code, would you like to add something on docs site: https://github.com/WP2Static/wp2static-www when ready?

[2021-10-02 18:22] bookwyrm opened #817 "Database error when running `post_process` from WP-CLI"
Error on output is:

[code]

Error occurred when running `wp wp2static post_process` in a basic site in Lokl.

[2021-10-03 00:09] leonstafford commented on #817
probably related to https://github.com/leonstafford/wp2static/pull/809

[2021-10-04 12:12] leonstafford opened #818 "Drop min PHP support down to 7.2"
We want to submit to wp.org. Due to [this constraint with their CI](https://meta.trac.wordpress.org/ticket/3791), cannot submit a min PHP 7.4 constrained plugin.

Will need to adjust tooling/checks and remove some unsupported typing for this and each addon.

[2021-10-05 02:36] #817 closed, assigned to nobody

[2021-10-05 07:07] leonstafford commented on #818
may not be required, promising comment that can now target min PHP 7.4 and get through WP's SVN, awaiting confirmation

[2021-10-05 22:55] leonstafford commented on #818
Should be fine. Otto confirms basic linting will pass, as wordpress.org is running php 7.4 now.

We'll submit and see!

[2021-10-05 22:55] #818 closed, assigned to leonstafford

[2021-10-08 21:50] bookwyrm opened #822 "Feature Request: Make visible option text easier to update"
https://github.com/leonstafford/wp2static/blob/10ba2905c200f47283e8e8536e161ab6e73e7274/src/CoreOptions.php#L60

Currently the option text is written to the database when the plugin is first activated. This means that we can't easily update the text later without writing an SQL query.

For instance, I wanted to change "Queues a new job every time a Post or Page is saved." to "Queues a new set of j

[2021-10-08 22:03] leonstafford commented on #822
Timely, just [tweeted this yesterday](https://twitter.com/ljsdotdev/status/1446422413483253760):

I'd still like to keep translations lowest priority after code quality, accessibility, features.

We get some really nice user-created guides in different languages (a recent Japanese one I found was much better than our docs at the time!).

It's very popular in WP to build in translation support just

[2021-10-08 22:06] leonstafford commented on #822
Re moving text out of DB for easier updating, still thinking on it...

[2021-10-08 22:10] leonstafford commented on #822
Some scenarios to consider for text updatibility:

 - we release with a typo and need to fix on future version
 - 3rd party builds custom UI (whitelabeled, different language, latest frontend tech)

 Constants + filters?

Performance hit of filters isn't too bad for our view screens, adds some extra noise to the code, but should be acceptable if important.

I'm more interested in what helps with e

[2021-10-09 00:33] jhatmaker opened #824 "500 error returned - when generating static site with RankMath plugin activated"
## Plugin - Caused unhandled exception

**Describe the bug**
On a fresh install of WP with WP2Static and RankMath (free) activated, (using the SiteMap options in RankMath), the Generate static site will fail (browser reports a 500 error) and the log file will report an unhandled ClientException.

**To Reproduce**
Steps to reproduce the behavior:
1. Install/Activate RankMath
2. Make sure the option

[2021-10-09 15:03] john-shaffer commented on #824
Thanks for the detailed report!

I was not able to reproduce this issue exactly, but I did find a similar problem that may be related. Can you test with https://github.com/leonstafford/wp2static/commit/bbc8abba9103d097a62a6bbbd8d7a4229e788f4b and see if that changes anything for you?

[2021-10-09 23:28] john-shaffer commented on #397
Fixed in v7 as it doesn't modify the CSS files at all.

[2021-10-09 23:28] #397 closed, assigned to nobody

[2021-10-10 00:46] john-shaffer commented on #216
Closing per Leon's comment in https://github.com/leonstafford/wp2static/issues/254#issuecomment-787009606

[2021-10-10 00:46] #216 closed, assigned to nobody

[2021-10-10 00:49] john-shaffer commented on #537
This has been fixed since Leon added the Run > "Generate static site" button a while back.

[2021-10-10 00:49] #537 closed, assigned to nobody

[2021-10-10 00:51] john-shaffer commented on #519
This has been fixed for some time now.

[2021-10-10 00:51] #519 closed, assigned to leonstafford

[2021-10-10 00:56] john-shaffer commented on #494
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 00:56] #494 closed, assigned to nobody

[2021-10-10 00:58] john-shaffer commented on #491
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 00:58] #491 closed, assigned to nobody

[2021-10-10 00:58] john-shaffer commented on #487
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 00:58] #487 closed, assigned to nobody

[2021-10-10 01:00] john-shaffer commented on #474
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:00] #474 closed, assigned to nobody

[2021-10-10 01:01] john-shaffer commented on #471
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:01] #471 closed, assigned to nobody

[2021-10-10 01:03] john-shaffer commented on #435
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:03] #435 closed, assigned to nobody

[2021-10-10 01:04] john-shaffer commented on #514
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:04] #514 closed, assigned to nobody

[2021-10-10 01:08] john-shaffer commented on #640
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:08] #640 closed, assigned to nobody

[2021-10-10 01:12] #593 closed, assigned to nobody

[2021-10-10 01:12] john-shaffer commented on #593
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:12] john-shaffer commented on #589
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:12] #589 closed, assigned to nobody

[2021-10-10 01:15] john-shaffer commented on #588
This is definitely feasible. I'm planning on doing a crawl rework and will keep this in mind.

[2021-10-10 01:16] john-shaffer commented on #581
Should be fixed now in v7. Please let us know if you still have any issues.

[2021-10-10 01:16] #581 closed, assigned to nobody

[2021-10-10 01:26] john-shaffer commented on #271
Closing per Leon's comment in https://github.com/leonstafford/wp2static/issues/254#issuecomment-787009606

[2021-10-10 01:26] #271 closed, assigned to nobody

[2021-10-10 01:33] john-shaffer commented on #319
Should be fixed now in v7. Please let us know if it is still an issue.

[2021-10-10 01:33] #319 closed, assigned to nobody

[2021-10-10 01:38] leonstafford commented on #485
@bookwyrm can you please check on this one?

[2021-10-11 13:10] bookwyrm commented on #485
This is only a factor in the v6 codebase. The new GitHub add-on for v7 will handle the situation better.

[2021-10-11 13:10] #485 closed, assigned to nobody

[2021-10-12 01:16] leonstafford opened #828 "Mock external requests in sitemap tests"
As a developer
I don't want to wait for slow network requests to run test suite
So that I don't avoid running them frequently and they aren't susceptible to side effects

Currently, running `composer test` takes too long due to fetching external resources in the sitemap tests.

We should use local test data to simulate the responses we see from current external resources.

Sitemap test scope shoul

[2021-10-12 01:17] leonstafford commented on #828
@palmiak suitable for Hacktoberfest?

[2021-10-12 01:33] john-shaffer commented on #724
Dupe of #828

[2021-10-12 01:33] #724 closed, assigned to nobody

[2021-10-21 04:35] john-shaffer opened #830 "Crawling does nothing after crawling addon is uninstalled"
Steps to reproduce:
1. Have Advanced Crawling Addon installed and activated
2. Uninstall the addon from WordPress
3. Attempt to crawl the site

Result: WP2Static runs without errors, but nothing is crawled.

[2021-10-21 14:30] leonstafford commented on #830
Nice catch!

[2021-10-22 01:55] john-shaffer commented on #830
How do you feel about adding a `wp2static_addon_active` filter? Then if an addon was deactivated or uninstalled, we can automagically treat it as unenabled.

[2021-11-09 01:53] john-shaffer commented on #775
Added in #816.

[2021-11-09 01:53] #775 closed, assigned to nobody

[2021-11-09 06:52] leonstafford commented on #830
@john-shaffer sorry, missed the comment - sounds OK to me

[2021-11-10 17:37] dghelm opened #838 "Add-on support for decentralized storage deployment on Skynet"
I work on a decentralized storage project called [Skynet](https://siasky.net/), which (among other things) makes deploying static websites very straightforward. We often have community members asking how to deploy WordPress sites to Skynet, and don't have a great solution.

Would you be open to a PR that added this feature as an add-on?

[2021-11-11 00:24] john-shaffer commented on #838
The add-ons are separate plugins, so no PR is needed. You can just make the add-on and announce it on [the forums](https://staticword.press/latest) and/or upload it to wordpress.org. There is some existing work in https://github.com/leonstafford/wp2static/discussions/765

[2021-11-11 00:25] #838 closed, assigned to nobody

[2021-11-16 03:50] #811 closed, assigned to nobody

[2021-11-16 10:03] john-shaffer commented on #822
Implemented in #829.

[2021-11-16 10:03] #822 closed, assigned to john-shaffer

[2021-11-27 23:57] #805 closed, assigned to nobody

[2021-11-30 18:10] shikata-ga-nai opened #841 "Plugin fails to execute"
On a fresh VPS I imported a wordpress website, purchased and installed the plugin.

When I try to run it, the UI says
500 error code returned from server.
Please check your server's error logs or try increasing your max_execution_time limit in PHP if this consistently fails after the same duration.

and the logs on the server show this:

[Tue Nov 30 18:09:20.531046 2021] [php:error] [pid 6785] [cl

[2021-11-30 23:48] john-shaffer commented on #841
The redirect limit was raised by #826. You can try either making the change in https://github.com/leonstafford/wp2static/pull/826/commits/3c9b7ce0e5c8d9a773ed3d91d9145e012901113e yourself, or using the latest code from git.

[2021-12-01 08:47] shikata-ga-nai commented on #841
Hey @john-shaffer ! thank you, that fix allowed the plugin to run a bit longer :)
But now it throws same error in UI, UI logs show this:
`2021-12-01 08:41:54: 404 for URL /http:/161.35.216.81/wp-includes/wlwmanifest.xml
2021-12-01 08:41:54: 404 for URL /http:/161.35.216.81/wp-includes/theme.json
2021-12-01 08:41:54: 404 for URL /http:/161.35.216.81/wp-includes/theme-i18n.json
2021-12-01 08:41:54:

[2021-12-01 16:42] Zyles opened #842 "Issue with pagination"
There is an issue with paginating tags and categories.

The discovered URL in the logs is:

`/c/<category>/page/1`
and
`/t/<tag>/page/1`

This creates a file named "1" on disk.

Where it should be:

`/c/<category>/page/1/index.html`

Wordpress 5.7.2
WP2Static 7.2.0-dev

[2021-12-02 02:26] john-shaffer commented on #789
#840 may help with this, once it's complete.

[2021-12-02 02:45] john-shaffer commented on #841
Thank you for the detail here. That looks similar to #715 and #677.

Do you also have docker involved? Can you post the results of your WP2Static Diagnostics page (`/wp-admin/admin.php?page=wp2static-diagnostics`)?

[2021-12-02 12:01] Zyles commented on #784
Any progress on this? I just tried latest version of the plugin and it did not discover my custom "/plugins/" directory path.

Are you not crawling the links in the source code on the website?

[2021-12-02 23:59] john-shaffer commented on #784
WP2Static does not crawl URLs in the source code other than those in sitemaps. I'm merging in the features from the advanced crawling addon as I have time, but I haven't gotten to this yet. It's definitely something that I want in.

[2021-12-04 17:58] LeviathanViktor commented on #841
Hey @john-shaffer ! Here're the diagnostics page screenshots:
[First](https://ibb.co/TKVxm8T)
[Second](https://ibb.co/jwm6c0Z)

[2021-12-12 22:18] michaelfig opened #843 "CLI only fires `wp2static_post_deploy_trigger` if there are deploy add-ons"
# Before creating an issue / filing a support request

 - [x] try to troubleshoot the issue yourself (see [Troubleshooting guide](https://forum.wp2static.com/-33/how-to-troubleshoot-a-failing-export))
 - [x] prepare as much information as possible to help the developer
 - [x] Identify the issue as likely: **WP2Static bug**

**Describe the bug**
`wp2static_post_deploy_trigger` is not fired via CLI

[2021-12-14 01:00] john-shaffer commented on #843
Can you help us understand your use case here? Would a new action do the trick?

[2021-12-14 02:33] michaelfig commented on #843
I want to run a trigger whenever a deployment happens, so I can deploy the processed files via the `netlify` command line (I need this for some Netlify Functions to be part of the bundle).  For the WP button, this works fine.  But when I run `wp wp2static deploy` it doesn't behave the same.

A new action would work, but it still seems strange that the existing `wp2static_post_deploy_trigger` behav

[2021-12-15 04:31] #843 closed, assigned to john-shaffer

[2021-12-15 04:32] john-shaffer commented on #843
Thanks! This will be in the next release.

[2022-01-10 00:47] vladstanca opened #844 "Crawling sites with basic auth fails authorization"
When a site is behind basic auth, the resulting static site just has the failed authorization error for every page.

**To Reproduce**
Steps to reproduce the behavior:
1. Add basic auth to site
2. Enter correct credentials in plugin settings
3. Generate static site
4. View static site or html and see auth error

**Environment (please complete the following information):**
 - Hosting OS: Ubuntu 20.0

[2022-01-17 05:27] narendersinghh opened #846 "Wp2static not working with Local by Flywheel"
After clicking generate button, it does nothing.

[2022-01-18 02:53] simondw opened #847 "MySQL syntax error thrown by IF EXISTS when dropping column for description & label"
Error received when running `wp wp2Static full_workflow` cmd on multisite.

https://github.com/leonstafford/wp2static/blob/236c737da100c26ebd19ec1f460ff14f6a2395c5/src/CoreOptions.php#L45

https://github.com/leonstafford/wp2static/blob/236c737da100c26ebd19ec1f460ff14f6a2395c5/src/CoreOptions.php#L46

[2022-02-07 05:00] gsxryan commented on #751
For those that land here and were a bit clueless like myself, these troubleshooting settings also help.

1) Check Wp2static > Diagnostics, resolve any issues (especially making sure /uploads is writable)
2) verify wp-content has full ownership inside the container.
Do NOTE: php had an error i ignored.  Even though i was within an acceptable version.
[code]
I had copied files from the host and brok

[2022-02-18 01:26] john-shaffer opened #849 "Job locks don't work with multisite"
See #848, https://github.com/leonstafford/wp2static/pull/848#issuecomment-1039008710

[2022-02-18 01:31] #849 closed, assigned to nobody

[2022-02-18 01:37] john-shaffer commented on #847
Fixed by 8ed46aaf8b378cc3aae07e4ed2dc64e781270849.

[2022-02-18 01:37] #847 closed, assigned to nobody

[2022-02-21 04:46] ampliads commented on #751
I am getting this error as well.
My Environment : Wordpress 5.9 with Wp2Static  7.1.7 (No Addons) on Laragon Local dev. I tried with both RankMath & Yoast with no success.
My error:
![2022-02-21_10-12-17](https://user-images.githubusercontent.com/71036669/154890642-980d3e52-ff59-4c78-b967-4c27842eb0ec.png)

My Wp2Static Log:
2022-02-21 10:12:13: Unable to fetch URL contents
2022-02-21 10:12:10: St

[2022-02-22 03:19] ampliads commented on #751
SOLVED!

Dear @leonstafford
Let me start with greetings!
Disclaimer :  we are more a digital & SEO agency and not the "hard coders". So, Accept our apologies in case we hurted the "coder's heart" (😄)

After some research and workaround, we have somehow managed to solve the issue.
We consistently tried to install wp2static from the downloaded package from the official site. It Didn't work.
Finally,

[2022-02-22 03:29] gabrfernandez commented on #751
@ampliads Did you solve the 500 error code? I'm having the same issue. Unable to fetch URL contents.

[2022-02-23 07:10] ampliads commented on #751
Hi @gabrfernandez ,
Yes. We are able to solve it.
May you give your working environment details with the log. In our case, the error was due to plugin files. I suggest you to use `git clone` and then run `composer install`
In case you are not familiar with GIT then simply download the git repo as zip > unzip it into wp-content/plugins (it should create wp2static folder) > in terminal : get into di

[2022-02-24 03:03] john-shaffer commented on #751
@ampliads Glad you got it working! There hasn't been a release in some time, and there are a lot of fixes in the current git repo. In case it helps you, @gabrfernandez, I've attached the most recent build.
[wp2static-00582cf74c26a486538355e9f78338fd1bb86623.zip](https://github.com/leonstafford/wp2static/files/8129337/wp2static-00582cf74c26a486538355e9f78338fd1bb86623.zip)

[2022-02-24 08:14] ampliads commented on #751
@john-shaffer
You are welcome! Personally, I feel, many wp users are marketing agencies / smo or tech noobs (just like us), may not be comfortable with git and the blacks, whites & greens (Collectively known as "the console" 😊) How about setting up instructions or creating a public blog with steps to get Git repo as zip!

[2022-02-24 08:17] leonstafford commented on #751
Thanks for the feedback, @ampliads! Sorry, I'm playing catchup with questions and releases at the moment.

As of few days ago, you can grab latest release from [wp2static.com/download](https://wp2static.com/download), by filling out a form, it will get emailed to you. I'll get the latest changes bundled into a release soon for easier downloading. Thanks for your patience with all this and good job

[2022-02-24 08:53] ampliads commented on #751
Dear @leonstafford !
I must say, the wp2static is doing a marvellous job! Wish long live to you and Wp2Static Team!
Yes,  Initially, I tried the download link and downloaded from the mail ID link only. But It didn't work.
It is quite understandable. How about making an explainer video or a blog with a proper How-to (that will be "nearly once for all" )
Also, May you suggest us where we can have de

[2022-03-01 01:54] utchy opened #850 "Writes content to disk, even for cache hits when "Use CrawlCache" is ON"
## Suggestion to improve crawling job.
- Skip writing content to reduce I/O write if cache exists.
- Make cache only if status code is not 404.
- Delete crawl queue from database to prevent crawling urls again, which are not found.
- Delete previously generated files under the directories both the crawled and the processed.

## FYI
I'm preparing a pull request to fix this issue.

[2022-03-04 16:46] thecodeassassin commented on #850
@utchy even with your changes applied CrawlCache is still not working. Even if I update a single posts it crawls ALL pages

[2022-03-07 01:48] utchy commented on #850
@thecodeassassin
Thanks for your comment. Ah, yes the plugin actually always crawls even with applying my changes, but never writes again. Before the changes, the plugin always crawls and "writes" on disk. So, please check your file modified date under `wp2static-crawled-site` directory if pages (and related pages) which you updated are only modified. Cheers.

[2022-03-13 15:59] twardoch opened #854 "500 error returned"
I had WP2Static 7.1.6 which worked fine with the https://github.com/leonstafford/wp2static-addon-advanced-crawling add-on.

I installed 7.1.7 and started getting 500 errors after the "2022-03-13 15:51:37: Starting crawling" step.

I installed 7.1.6 and it works fine again. So something broke in 7.1.7, but I’m not sure how I can see more details of what fails.

[2022-03-19 16:05] john-shaffer opened #855 "Allow setting blank option values from CLI"
Needed for the integration tests, and good to have in general.

[2022-03-19 16:19] #844 closed, assigned to nobody

[2022-03-19 16:19] #855 closed, assigned to john-shaffer

[2022-03-19 16:24] john-shaffer commented on #844
This is fixed in develop now. Thanks, @vladstanca and @thecodeassassin!

[2022-03-20 03:52] leonstafford opened #856 "Missing instructions on running integration-tests Composer script"
get a `integration-tests/test-matrix.sh: line 13: nix-shell: command not found` if running `composer run-script test-integration`

will check the GH action and see what minimal requirements we can put into the docs

[2022-03-20 03:58] leonstafford commented on #856
to get working in macOS, simply followed mutli-user install instructions at https://nixos.org/download.html

can add this to readme/docs and do a check for `nix-shell` at start of the `composer run-script test-integration` command

[2022-03-20 04:08] leonstafford opened #857 "address composer plugin authorization change"
in `test-integration`, we can see the following:

[code]

more info on the change here: https://getcomposer.org/doc/06-config.md#allow-plugins

see if it will affect wp2static and adjust accordingly, explicitly allowing or denying before getting suprised by the behaviour change.

[2022-03-20 04:18] leonstafford commented on #828
for now, running the sitemap external request tests fail on GH Actions runner due to access blockage.

we can mark tests with a group as "external requests" as per [phpunit docs](https://phpunit.readthedocs.io/en/9.5/textui.html#command-line-options):

`--exclude-group`

This will allow to keep running those locally, but skip on CI and optionally allow users to skip those slow external requests wh

[2022-03-20 05:01] #856 closed, assigned to nobody

[2022-03-20 05:12] leonstafford commented on #856
sorry @john-shaffer, I didn't see the ones in https://github.com/leonstafford/wp2static/tree/develop/integration-tests!

[2022-03-24 06:49] #850 closed, assigned to nobody

[2022-03-25 00:11] HammyHavoc commented on #854
Did you figure it out?

[2022-03-25 00:32] HammyHavoc opened #861 "500 error code"
Hi,

I go to `Generate static site` on the latest version of the plugin, but get this error:

`500 error code returned from server.
Please check your server's error logs or try increasing your max_execution_time limit in PHP if this consistently fails after the same duration.
More information of the error may be logged in your browser's console.`

My server log states this: `GET //sitemap.xml HTTP

[2022-03-28 04:44] leonstafford commented on #854
Hi @twardoch, sorry for the slow response. There should be an error shown somewhere in your server logs, either from the webserver/PHP or load balancer.

If you remove the advanced crawling addon and use with the latest code from this repo, does it handle OK?

[2022-04-03 07:58] leonstafford opened #862 "Rebuild custom namespaced Guzzle libraries to get latest changes"
Was security notice for one of Guzzle libs on https://github.com/leonstafford/static-html-output/pull/190

Usually, not too big a concern for WP2Static users, as dev WP sites shouldn't be publicly accessible, but worth updating when possible.

Could also look to use Mozart/Strauss, but they don't seem to be recently maintained

(custom guzzle libs I'm refering to can be found via the `composer.jso

[2022-04-03 12:30] leonstafford opened #863 "cache page shows weird text if no deploy caches exist"
<img width="1316" alt="Screen Shot 2022-04-03 at 10 30 10 pm" src="https://user-images.githubusercontent.com/2066833/161428158-ac19a93d-9e57-40b5-bac1-c0c8a8bd380d.png">

[2022-04-05 01:27] leonstafford opened #864 "Task: update refs for packages to wp2static/wp2static vs leonstafford/wp2static"
migrate over addons and related repos, too

[2022-04-06 07:34] shyambaseapp opened #865 "can't detect inactive domains (locally) using (wp wp2static detect) , using command-line"
I want to crawl the WordPress site which is installed on my computer (locally).
But the detected path goes for online crawling( wp wp2static crawl).

[demomaster@23.239.25.114]: [2022-04-06T07:27:15+00:00] Starting to detect WordPress site URLs.
[demomaster@23.239.25.114]:  PHP Fatal error:  Uncaught WP2StaticGuzzleHttp\Exception\ConnectException: cURL error 6: Could not resolve host: appledssdg.c

[2022-04-06 07:38] shyambaseapp commented on #865
If the domain is active then it works and if I add the domains in our /etc/hosts file then it also works(which is not active).

[2022-04-06 18:57] crstauf commented on #824
I encountered this issue with v7.1.7, and I do not have RankMath plugin installed.

[code]

Option `siteurl` does not have a trailing slash.

[2022-04-07 12:56] duanejevon opened #866 "Site crawl fails with Uncaught TypeError"
**Description**

When running the Crawl process, the following error appears: `PHP Fatal error:  Uncaught TypeError: WP2Static\Crawler::WP2Static\{closure}(): Argument #1 ($reason) must be of type WP2StaticGuzzleHttp\Exception\RequestException`

**To Reproduce**

1. From bash, run: "sudo wp wp2static detect". This completes successfully.
2. run "sudo wp wp2static crawl"
3. Upon reaching a certain

[2022-04-08 05:39] shyambaseapp commented on #865
I think wp2static crawl the path online like:

[2022-04-08T05:31:22+00:00] Starting crawling
[2022-04-08T05:31:22+00:00] Starting to crawl detected URLs.
[2022-04-08T05:31:22+00:00] Using CrawlCache.
Array
(
    [0] => Array
        (
            [url] => http://abc123.com/
            [path] => /
        )
    [1] => Array
        (
            [url] => http://abc123.com/favicon.ico
            [

[2022-04-08 05:44] shyambaseapp commented on #865
I want to crawl the site locally using given URLs, not forgo online.

[2022-04-27 08:48] joelw commented on #866
Not knowing much about modern PHP, I found a way to fix this by removing the type hint entirely:

wp2static/src/Crawler.php:234
[code]

[2022-05-04 10:10] nvnivs opened #867 "Issue with pagination on nested category pages"
Think i may have run into an issue with how the generation handles paging in the parent of nested category pages.

I've got the Glossary type of category. This category holds no pages, it holds categories each representing a letter for the glossary terms (a, b, c, d, e, etc).

On wordpress this works fine, and browsing to the parent glossary page displays all the pages within the child (letter) ca

[2022-05-09 16:01] bkno commented on #512
Deleted my last comment as in the end I was able to get this working with stevygee's gist with [a few tweaks](https://gist.github.com/bkno/3785a4c337401a96f9ea64a9d1828d1a). The main change was querying all public custom post types, and an additional param to the wpml_permalink to get translated permalinks.

However, I have found that when retrieving translated permalinks in the crawler, it is imp

[2022-05-09 17:35] barryanders commented on #240
On version 7 of wp2static, I ran into an error (`cURL error 60: SSL`) while trying to process a local site that doesn't have a certificate.

In `wp2static/src/SitemapParser.php`, I changed this line
[code]
to this
[code]

Now it works.

[2022-05-10 11:02] bkno commented on #512
I found that disabling `WPML > Languages > "Adjust IDs for multilingual functionality"` allows WP2Static to crawl all the translations. It fixed the issues I was having with the script above in relation to the language switcher.

In fact.. I don't think any script is needed anymore, at least for my situation where the translations each have different permalinks. The crawler can discover them by it

[2022-05-31 18:06] paulobarros commented on #802
Is there a way to expose the correct port via docker-composer yaml file?

[2022-06-14 22:53] BenJackGill opened #870 "Error 500 when generating site on LocalWP. Also PHP error: cURL error 60: SSL certificate problem: self signed certificate"
Likely issue: **Environmental**

**Describe the bug**
I am running wp2static locally using [Local WP](https://localwp.com/).

When clicking the "Generate static site" button it returns this error in the browser:

[code]
My current `max_execution_time` limit is `12000` so that is not the problem. Also the browser console only says `Failed to load resource: the server responded with a status of 500

[2022-06-17 14:45] matthewblott opened #871 "Sqlite Compatibility"
Hi,

I've been using the [wp-sqlite-db](https://github.com/aaemnnosttv/wp-sqlite-db) Sqlite plugin which is regularly maintained. It works pretty well with the main WordPress plugin but the obvious caveat being this doesn't apply to plugins.

I started using WP2Static recently and I'd really like to get it working with Sqlite.

A brief look revealed the following files generate platform specific S

[2022-06-17 22:18] leonstafford commented on #871
Hi @matthewblott, thanks for the interest and that's super exciting, I'd love the extra portability and environments we could support by being SQLite friendly!

My replies here have been a bit slow of late and still way behind on pushing a new release out, may be a little while 'til I can help you properly with this.

Do you get any errors output when trying to use WP2Static with SQLite that you c

[2022-06-17 22:20] leonstafford commented on #871
In terms of doing it as an add-on, it's certainly possible (in the case that we're unable to just make all existing statements compatible with SQLite. We do some table creation early in the WP boot process, so adding filters to those could allow an addon to modify those if needed.

[2022-06-17 23:01] matthewblott commented on #871
@leonstafford tbh it seemed fairly easy to spot when I looked earlier. The files I listed use SQL commands that won't run with Sqlite. Things like ```SHOW TABLES```, ```SHOW COLUMNS``` and ```TRUNCATE TABLE```. I don't think it would be hard to hack some code and get it working for my needs. But I wanted something a bit more maintainable and possibly useful to others, hence the reason for reaching

[2022-06-18 04:05] leonstafford commented on #871
OK, cool. So these 2 WP functions should be your friend:

 - https://developer.wordpress.org/reference/functions/apply_filters/ this one could go into a PR for WP2Static
 - https://developer.wordpress.org/reference/functions/add_filter/ - this one into your addon (see other WP2Static addons in github, probably still under https://github.com/leonstafford before we move them to /WP2Static)

 If you

[2022-06-18 04:07] leonstafford commented on #871
(That's ignoring any implications of changing those values to the rest of the PHP in WP2Static which may be expecting certain values back, in case the results of the queries change. You could modify further, like "if this filter returns false, skip this whole block of code or do something differently)

[2022-06-18 09:04] matthewblott commented on #871
@leonstafford Thanks, I'll have a look 🙂

[2022-06-20 21:00] web-programmer-here commented on #844
@john-shaffer when is this going to be released? all my exported pages, i get Unauthorized message.

[2022-06-20 21:03] web-programmer-here opened #872 "Can you release a new version from develop branch?"
Is it possible to release a new version from the develop branch?

[2022-06-21 01:00] #872 closed, assigned to nobody

[2022-06-21 01:01] leonstafford commented on #844
answered in https://github.com/WP2Static/wp2static/discussions/873

[2022-07-07 08:30] BenJackGill commented on #870
I fixed this by downgrading from PHP 7.4.1 to PHP 7.3.5.

It now works with Local WP.

[2022-07-13 15:28] pixeline opened #874 "wp2static bug: require a PHP version ">= 8.1.0" when it should be 7.3"
When installing via composer, it install without complaining. But then, when visiting the wp admin, I get this error :

Removing WP2static from package.json then `composer update` removes the issue.  I am on PHP 8.0.

According to the [plugin packagist page](https://packagist.org/packages/leonstafford/wp2static), it requires php7.3, not 8.1
![image](https://user-images.githubusercontent.com/393415

[2022-07-13 23:02] leonstafford commented on #874
Thanks for raising this issue, @pixeline!

I would suggest in your composer.json, to reference the latest development branch, as there's quite a lot of updates in it.

Per [Packagist](https://packagist.org/packages/leonstafford/wp2static#dev-develop), that requires `>= 7.4`

You may see this guide on targeting a development branch with Composer:

https://getcomposer.org/doc/05-repositories.md#load

[2022-07-13 23:03] leonstafford commented on #874
I'll keep this open to look into the issue about PHP 8.1 requirement

[2022-07-15 09:48] pixeline commented on #874
I tried:

[code]
I tried with both leonstafford and wp2static owners, leonstafford got me the furthest, to this error:
[code]

alex

[2022-07-15 10:23] leonstafford commented on #874
If you're running this on your local computer, I'd remove the `roave/security-advisories` dependency which is having a conflict with guzzle. If this is on a publicly accessible server, then it would be more for you to decide the security risk in removing that checker. I'll need to update my guzzle fork to overcome that type of warning being triggered.

WP2Static is best run on a non-public develop

[2022-07-31 06:20] LakhanGandhi opened #875 "404 Error while Crawling Images"
Issue :
While generating static site, in crawling, images are getting 404 error for favicon and uploaded images.

Initial Finding :
 - Plugin is searching for wrong URL and resulting in 404 error.
 - For windows OS backslash should replace with frontslash in Favicon and Uploaded images path.
 e.g :
404 for URL /wp-content/uploads\2022\07\bg1.jpg

In above example, "/wp-content/uploads" is default

[2022-08-04 19:26] timothylcooke commented on #240
Crawling already works. See https://github.com/WP2Static/wp2static/blob/0e6e23f597dcb6e20148b373c23ee48d71b0ad68/src/Crawler.php#L61

The only thing that doesn't work with a self-signed SSL certificate is the SitemapParser.

[2022-08-04 21:08] leonstafford commented on #875
Many thanks for reporting this, @LakhanGandhi!

[2022-08-08 21:20] #240 closed, assigned to nobody

[2022-08-19 23:24] john-shaffer opened #879 "Addon list can be blank in multisite"
@DougBeney at #https://github.com/leonstafford/wp2static-addon-s3/issues/37#issuecomment-1152811649

[2022-09-07 00:28] ryanprescott commented on #784
Any progress on RSS feeds? I'm using WPStatic for a blog where I'd like to be able to poll my RSS feed every so often from a separate API and push notifs to my users.

[2022-09-10 14:18] jplandry908 commented on #866
Hi @joelw. Your fix resolved the issue for me. Thank you!

[2022-09-13 02:39] djmtype commented on #507
Any movement on allowing relative urls?

[2022-09-19 19:19] iammudassar commented on #875
Facing the same issue

[2022-09-27 16:15] matthewblott commented on #871
Okay, I've played around with this quite a bit. Knowing neither PHP or WordPress I missed obvious things and it's been a learning process.

TL;DR
---

You can use the [SQLite](https://github.com/aaemnnosttv/wp-sqlite-db) plugin currently as is (with caveats, see below).

Longer Version
---

With a standard setup once you activate the plugin you can successfully create a static site when you click

[2022-09-29 22:15] joyously opened #880 "comment is unrelated to code"
https://github.com/WP2Static/wp2static/blob/4507096e020a95a76b8053418ee9fd98d7ec3373/src/Utils.php#L9
This comment is for a function that gives the difference between two times.

[2022-10-02 13:39] leonstafford commented on #880
Thanks @joyously! Definitely looks removable, along with another reference in https://github.com/WP2Static/wp2static/blob/0e6e23f597dcb6e20148b373c23ee48d71b0ad68/src/CLI.php

[2022-10-28 17:16] torcd opened #882 "Crawling 150 pages/minute: is this expected speed?"
`OS:` win x64
`HDD:` spinning
`WAMP:` xampp

`PHP max_execution_time:` Unlimited
`PHP memory_limit:` 1024M
`Uploads directory:` writable
`PHP version:` 	7.4.29 (thread-safe)
`cURL extension loaded:` Yes
`WordPress Permalinks Compatible:` Yes
`Apache:` 2.4
`MariaDB:` 10.4

The test Wordpress site is very lightweight and 100/100 lighthouse even when server-rendered.

This system crawls only **150 pa

[2022-10-29 00:55] john-shaffer commented on #882
`develop` branch has a Crawl Concurrency option that speeds up crawling significantly.

wp2static does most of its writes directly to files on disk, and not to mysql. There is a lot of room for optimization, though.

[2022-11-23 08:14] BenJackGill commented on #870
**Update:** This issue is still ongoing.

I have just tested PHP 7.4.3 and it looks like that version is also working on LocalWP.

Other PHP versions above this (8.0.22 and 8.1.9) will show debugging errors inside WordPress under the WP2Static > Caches tab. So I would avoid using those versions.

**Side note:** If you are on a Mac you also have to accept the LocalWP SSL certificate manually. In Lo

[2022-11-24 06:54] BenJackGill commented on #155
I am using WP2Static with the Netlify addon, and I also just realised that `_redirects` and `_headers` files are not included in the upload.

Where is that area? I can't see any fields for it in the Netlify addon options or even the main WP2Static options.

I am using the latest WP2Static version 7.1.7 and the latest Netlify addon version 1.0.1

[2022-11-24 07:30] BenJackGill commented on #155
I have also tried using a `netlify.toml` file in the root of my WordPress site but it also seems to be ignored.

**`netlify.toml`**:
[code]

@leonstafford or @fauziabd can you give any insight into how to get this working?