[2018-08-31 09:04] gracevillarino opened #148 "Missing thumbnail images using NextGen Gallery"
Sample page:
https://beautifulmoalboal.org/budget-stays-moalboal/

NextGen creates "gallery" folder within wp-content is this format:
wp-content/gallery/gallery-name/images.jpg

The thumbnails are inside the dynamic folder which is missing
wp-content/gallery/gallery-name/dynamic/thumbnail-images.jpg

[2018-08-31 14:24] gracevillarino commented on #148
Confirmed fixed

[2018-08-31 14:24] #148 closed, assigned to nobody

[2018-08-31 14:27] gracevillarino opened #149 "Non-https version of the base URL is used for the nextgen gallery images & thumbnail images"
See the gallery here:
https://beautifulmoalboal.org/budget-stays-moalboal/

[2018-08-31 16:59] gracevillarino commented on #149
Sample code in the index.html causing the issue.
Not urgent since I can just do a search/replace in the index.html pages
`galleries.gallery_df5fd9d96b3091ef9ed156d5eac6929f.images_list = [{"image":"http:\/\/beautifulmoalboal.org\/contents\/gallery\/moalboal-backpacker-lodge\/batch_PanagsamaBeach01.jpg","srcsets":{"original":"http:\/\/beautifulmoalboal.org\/contents\/gallery\/moalboal-backpacker-lo

[2018-08-31 17:46] #149 closed, assigned to nobody

[2018-09-05 23:16] Rapitharian opened #150 "Fatal error activating plugin."
When I install any to the plugins after version 5, I get the following error.
Fatal error: Can't use function return value in write context in /var/www/html/testsite/wp-content/plugins/static-html-output-plugin/library/StaticHtmlOutput.php on line 352
This means I am stuck on version 2.4.

[2018-09-05 23:23] leonstafford commented on #150
Hi @rapitharian, please see this on how to resolve: http://docs.wp2static.com/troubleshooting/error-when-trying-to-activate-the-plugin/

I’ll be making this error non-blocking to activation in a future release, but it’s still going to require a later PHP version for most functionality.

Cheers,

Leon

[2018-09-06 19:43] ghost opened #151 "Woocommerce - Not creating wp- folders"
I have 720 products on my Woocommerce store,  the wp folders do not get created. Does this plugin support Woocommerce? I have the Netlify export version set

This is the output within the zip:
cart_trashed(folder)
comments(folder)
feed(folder)
page(folder)
product(folder)
shop(folder)
/index.html(file)

This is running the 5.7 version with extra long setting in htaccess to allow for processing tim

[2018-09-07 01:14] leonstafford commented on #151
Hi @g4spow - so you were having issues with the 5.7 version?

It would be best to get you up to the latest version, as there are quite a few bug fixes and improvements to the output.

I would test first with the "Same server" deployment option, which is quicker, and if any errors in the deploy, send me the Error Log (a button will appear if an error is encountered) or check your PHP error log at t

[2018-09-07 01:18] leonstafford commented on #150
Using http://www.meandeviation.com/tutorials/learnphp/php-syntax-check/v5-3/, I'll allow activation for php 5.3 but warn to the user

[2018-09-07 15:39] ghost commented on #151
Yes, it was the 5.7 that wasn't creating the wp- folders. I will try removing Woocommerce and see whether it misses them off again and the "same server" option

[2018-09-14 13:00] leonstafford opened #152 "don't rewrite WP paths on external domains"

[2018-09-15 06:38] #152 closed, assigned to nobody

[2018-09-15 12:34] leonstafford commented on #150
fixed in version 5.8 (allow activation, but present user with notice to upgrade PHP)

[2018-09-15 12:34] #150 closed, assigned to nobody

[2018-09-18 08:58] leonstafford opened #153 "disable deploy button when deploying;add pseudo-cancel button"
cancel -> reload page to stop process

[2018-09-18 18:59] gwhitelaw opened #154 "Crawling data URIs fails"
Having updated to version 5.8 (WP VERSION 4.9.8) I have encountered the following error

[code]

Seems sensible to not try to crawl data uris.

Great job with the plugin!

[2018-09-18 22:56] leonstafford commented on #154
Thanks for reporting this, @gwhitelaw.

Version 5.9 is being a lot smarter about the crawling and I think this may be solved already.

To confirm this case, could you please include here a code sample from a page where it incorrectly detects the link? I will use it as a reference for a new automated test.

Cheers,

Leon

[2018-09-20 00:41] leonstafford opened #155 "support Netlify's _redirects file"
need to allow auto inclusion if the file exists:

https://www.netlify.com/blog/2017/05/04/how-to-do-redirects-on-netlify/
https://gist.github.com/philhawksworth/7b12a0785266f8dcf1960d2df93dfc59
https://www.netlify.com/docs/redirects/

[2018-09-20 12:29] leonstafford opened #156 "specify content type of ajax responses to json, use clearer messages"
will make JS code much more readable to have things like `remainingFiles` vs `> 0`

ie

[code]

[2018-09-20 12:33] leonstafford commented on #156
although, check we're not extending the size of responses, in case of bigger payload increasing export times

[2018-09-20 12:59] leonstafford commented on #156
JSON headers will be smaller than HTML

SUCCESS Message in HTML:
Content-Length: 1047

{success: true} in JSON:
Content-Length: 1045

[2018-09-20 13:14] leonstafford opened #157 "add detection for DOMDocument support / lib-xml and warn user if not present"

[2018-09-24 11:03] gwhitelaw commented on #154
I believe this has to do with data uris in CSS files!

`background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'%23232C59\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');`

Excited to try 5.9 then!

[2018-09-24 11:05] leonstafford commented on #154
@gwhitelaw - perfect, thanks for this!

5.9 is going well, but taking a bit longer than I expected (as I look further at the code, more improvements to be made!). Feels about halfway there, so :crossed_fingers: for the end of the week!

[2018-09-26 09:37] fauziabd opened #159 "Netlify do export failed"
Curl error code is 55. I use Ubuntu 18.04 on desktop to develop WordPress locally

[2018-09-26 11:01] leonstafford commented on #159
Hi @fauziabd - if you choose the ZIP deployment method, how large is your site? Netlify has a limit of 200MB on the free plan, I believe.

Offloading assets to a different CDN could be an option...

[2018-09-26 11:04] fauziabd commented on #159
Only 16mb

[2018-09-26 11:39] leonstafford commented on #159
hmm, so error 55 on cURL appears to be

Is this happening consistently at the same point in the deploy, or could it be a network connectivity issue?

I'm working on the next version of the plugin now and not yet at the point to do testing on Netlify, but will be aiming to make it easier to troubleshoot any issues

[2018-09-26 15:38] fauziabd commented on #159
it's working 3 days ago, today when i want to deploy it's appear an error. i will figure out what's happening, since yesterday i change some setting in my ubuntu.

[2018-10-01 02:48] fauziabd commented on #159
this is error log
`2018-10-01 02:46:05 GuzzleHttp\Exception\RequestException: cURL error 55: SSL_write() returned SYSCALL, errno = 32 (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in /home/fauzi/Documents/ctm/apps/wordpress/htdocs/wp-content/plugins/static-html-output-plugin/library/GuzzleHttp/Handler/CurlFactory.php:186
Stack trace:
#0 /home/fauzi/Documents/ctm/apps/wordpress/htdocs/wp-

[2018-10-01 03:17] fauziabd opened #160 "Relative url issue"
this is your instruction in the plugins setting:
`URLs in the exported site will be rewritten as relative URLs. ie, http://mydomain.com/some_dir/some_file.jpg will become some_dir/some_file.jpg. A base href will be set to http://mydomain.com/, from which all the relative URLs resolve to.`

it given a problem when define images url in external or theme style.css because it will loaded like this:
`t

[2018-10-01 03:22] fauziabd commented on #155
you can use netlify.toml to use redirect

[2018-10-01 10:36] leonstafford commented on #155
@fauziabd good point! I'll keep this issue open in order to ensure `_redirects` file inclusion works, but I imagine the `.toml` works fine

[2018-10-01 10:37] leonstafford commented on #160
Thanks @fauziabd, I'll do some work on this for 5.9 release and try to prevent issues

[2018-10-01 13:02] Rapitharian opened #161 "Automation issue in Version 5.8"
I am running Version 5.8 Pro of the plugin.
When I use the server side hook to have the plugin generate the static HTML it never completes. It creates the basic directories but none of the site specific folders.
The folders created as the "basic directories" are as follows:
author
category
comments
feed
index.html
wp-content
wp-includes
wp-json

When I manually run the generation of the files the

[2018-10-03 01:46] leonstafford commented on #161
Hi @Rapitharian I may have already replied via email, but I'm working on a new version (5.9) at the moment and will be diving into the automated export/deploy functionality area soon. I'll have a version for you to test soon. This should be easier than trying to debug on version 5.8, but will keep this open for now.

When you run the manually export, is the output correct? (ie, able to do a manual

[2018-10-03 09:49] Rapitharian commented on #161
Leon,
Correct the manual export works perfectly.
The automated export just stalls on 5.8.

Sent from my iPad

On Oct 2, 2018, at 9:46 PM, Leon Stafford <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Rapitharian<https://github.com/Rapitharian> I may have already replied via email, but I'm working on a new version (5.9) at the moment and will be diving into the automated exp

[2018-10-03 10:11] leonstafford commented on #161
OK, one last thing to try on the scheduled/cron export - if you can control the `max_execution_time` option in PHP, set that to the 25 mins or so. It will run faster than the web version, but it's doing it under one PHP process, unlike the web, which does each file/chunk in a new process.

That may get you sorted. It may have worked before when the site was smalled/not including as many files as 5

[2018-10-03 10:23] Rapitharian commented on #161
I will let you know as soon as I test it.

Sent from my iPad

On Oct 3, 2018, at 6:11 AM, Leon Stafford <notifications@github.com<mailto:notifications@github.com>> wrote:

OK, one last thing to try on the scheduled/cron export - if you can control the max_execution_time option in PHP, set that to the 25 mins or so. It will run faster than the web version, but it's doing it under one PHP process, u

[2018-10-09 12:38] Rapitharian commented on #161
Leon,
I changed the max_execution_time to 25mins and it had no effect.

Get Outlook for Android<https://aka.ms/ghei36>

From: Leon Stafford
Sent: Wednesday, October 3, 6:11 AM
Subject: Re: [leonstafford/wordpress-static-html-plugin] Automation issue in Version 5.8 (#161)
To: leonstafford/wordpress-static-html-plugin
Cc: Rapitharian, Mention

OK, one last thing to try on the scheduled/cron export -

[2018-10-09 18:07] laurent-d opened #162 "Misslinked assets from contents folder when WP is in Subdirectorie"
Hi @leonstafford !

Thanks for your great plugin.
On the release 5.8 - WP v.4.9.8 , the deploy put the contents folder in folder named on the directories of the installation but all pages are right.

Eg. WP Install on https://xxxx.com/portfolio , Access https://xxxx.com/
Deploy put assets on https://xxxx.com/portfolio/mystaticsite/portfolio/contents/... instead of https://xxxx.com/portfolio/mystat

[2018-10-09 23:03] leonstafford commented on #162
Thanks for reporting, @laurent-d

I’ve got this fixed in 5.9’s latest development build, but will keep this issue open until it’s tested for sure

If you’d like to test out the new features, please join me at https://wp2static.com/community/

[2018-10-10 09:01] laurent-d commented on #162
Thanks for the support @leonstafford  !!

[2018-10-12 21:18] laurent-d commented on #162
Hi @leonstafford ,

I tried the 5.9 Dev with another result,
i have to check : Discover new URLs while crawling if i want to found all my posts and assets from theme but images and posts link target my non static version.

Without check this option i have only 7 category and 1 index but 0 posts.
https://laurent.la/portfolio/wp-content/uploads/WP-STATIC-INITIAL-CRAWL-LIST

If you need some element,

[2018-10-12 21:33] eolamisan opened #163 "orfeo theme is not being exported properly"
I'm using the Orfeo theme and the live website looks good.
When I export the Orfeo theme some files are empty:
For example:

`C:\Apache24\htdocs\wordpress\mystaticsite6\wordpress\contents\ui\theme\assets\js\script.min.js`

![scrape-content](https://user-images.githubusercontent.com/4191912/46895019-9c4a1980-ce44-11e8-80bf-31bdd7e0795b.png)

[2018-10-13 09:20] leonstafford commented on #163
Hi @eolamisan this is likely due to hosting the site on Windows, which is not currently supported.

Whilst I'm working on fixing this for the next release, some users have reported success using AMPPS or Local by FlyWheel, both of which will allow you to run your WordPress site on Windows.

Stay tuned for version 5.9, where Windows support should be included.

[2018-10-13 09:20] #163 closed, assigned to nobody

[2018-10-13 11:32] #157 closed, assigned to nobody

[2018-10-26 07:52] sefasenturk95 opened #165 "Export does not include assets"
When exporting a website to static html files the export does not include the image assets nor the css/javascript files.

[2018-10-26 14:07] leonstafford commented on #165
Hi @Sef1995, thanks for reporting the issue. Please follow the guide below and re-open the issue if unable to get that working. Each WP site can be very different, so I'll need to know your specific theme and which assets are expected/missing in order to work on any solution:

https://docs.wp2static.com/en/troubleshooting/start-export/check-site/

[2018-10-26 14:07] #165 closed, assigned to nobody

[2018-10-26 14:20] sefasenturk95 opened #166 "Download ZIP file doesn't give download link"
After starting a manual deploy the process completes but it does not show a download link.
<img width="711" alt="screenshot 2018-10-26 16 18 35" src="https://user-images.githubusercontent.com/3214653/47572332-fc5bb800-d93a-11e8-8413-2c45523c6893.png">

[2018-10-26 14:22] leonstafford commented on #166
Hi @Sef1995,

Do you have any more luck if using pre-release of version 5.9?

https://github.com/leonstafford/wordpress-static-html-plugin/releases

Cheers,

Leon

[2018-10-26 14:31] sefasenturk95 commented on #166
Hi @leonstafford, thanks for your reply! Nope that version doesn't even try to export the html/css files. (No contents folder is being created). In the current plugin there is a contents folder when I download and extract the zip via FTP. But when I look into the contents/ui folder there is only an index.html (which shouldn't be there anyway, right?)

[2018-11-01 16:30] sefasenturk95 commented on #166
Hi @leonstafford, I'm still facing this issue. You got any other ideas?

[2018-11-02 16:50] leonstafford commented on #166
Hi @Sef1995 if that version of the plugin didn't help, I'd suggest trying a different hosting setup, to pinpoint what the issue is.

If hosted, I'd recommend Digital Ocean, for cheap, performant servers, which you only pay per hour you use ($5/month plan is powerful enough). So you could try it out and kill it if it's not useful.

At least, it may help to confirm where the issue is residing.

Chee

[2018-11-02 18:21] sefasenturk95 commented on #166
Hi @leonstafford, I tried but same results. I paid for the pro version of your plug-in and tried to e-mail you but no response. Little bit of support would be appreciated!

How does your script fetch all the assets that are being used? Because it recognises the HTML and exports it but doesn't export my CSS/JS files. Also I'm using WPML to translate the pages I have but it only sees the homepage of

[2018-11-02 19:56] leonstafford commented on #166
Hi @Sef1995 - with the latest release fro GitHub, please check the "Discover URLs" option, sorry if I forgot to mention that.

I would suggest you request a refund now, within the 30days. I don't want people paying for something that doesn't work for them. If you can get it working with your site, then by all means, please upgrade again.

[2018-11-02 21:51] sefasenturk95 commented on #166
Hi @leonstafford, thank you for your reply. The "Discover URLs" option did the trick!

[2018-11-03 09:47] sefasenturk95 commented on #166
Hi @leonstafford, with the pre-release the issue that I can't press on a link or something to download the zip still occurs though. I have to FTP into the server to download the zip.

[2018-11-03 09:48] sefasenturk95 opened #167 "Pre-release: Include additional URLs are not being saved after pressing "save current options"."

[2018-11-10 10:28] belidzs opened #168 "Upload to GitHub fails if repository is completely empty"
It seems like there's a limitation on GitHub API which prevents uploading files as blobs through API before a file is created on the GUI or pushed manually from git.

There should be a sanity check at the beginning of the process, because right now the job is running until the end even though the first call to the API has already failed. For me it took almost an hour to get to the end and realise

[2018-11-10 10:59] belidzs commented on #168
Now I installed the latest dev version and I can see there is a note mentioning this issue. Still, an automated check would be nice :)

[2018-11-12 01:42] leonstafford commented on #168
Thanks @belidzs - I think with the new version, if you run the GitHub test, it will populate with some files and prevent that, too.

I'm going to redo the way we send files to GitHub soon, in order to speed up when using batch processing. This should remove the empty repo problem.

Currently, we use blobs and trees to create our Git data. This will change to just regular style commits, as we're do

[2018-11-12 01:44] leonstafford opened #169 "Fails to crawl on self-signed local certificate"
Reported by user with 5.9, this may have been introduced when switching from `wp_remote_get` to Guzzle.

Fix in progress

[2018-11-12 05:12] leonstafford commented on #169
fixed by https://github.com/leonstafford/wordpress-static-html-plugin/commit/d11bf47977454cb613799bc8a81c493853a39f9c

[2018-11-12 05:12] #169 closed, assigned to nobody

[2018-11-12 11:15] belidzs commented on #168
All right, thanks!

[2018-11-15 04:31] leonstafford opened #170 "Using WordPress vs Site URL in determining Site URL?"
ie, if user has WordPress serving at http://mydomain.com, but actual WordPress files are at http://mydomain.com/secretdir007/ then we need to use that for certain function?

[2018-11-15 16:30] ghost commented on #170
There's also the possibility for constants to override database config e.g.

    define('WP_HOME','http://example.com');
    define('WP_SITEURL','http://example.com/wordpress');

Have to assume that the user has properly configured mod_rewrite or its equivalent, though it wouldn't hurt to test a few URLs to establish that the user has things configured properly and their 404 page actually returns

[2018-11-21 19:30] bilisimkurdu opened #171 "unable to complete test upload Github"
While syncing github via localhost, I get the error 'unable to complete test upload Github'.

All information is correct.

Good days.

[2018-11-21 19:31] bilisimkurdu commented on #171
Contact : ahmetyakupcontarli@gmail.com

[2018-11-21 20:59] bytesnz opened #172 "Write Base Href for relative URLS disabled still writes base url"
Just came across a related issue. When "Write Base Href for relative URLS" is unchecked, it generates pages with `<base href="/" />`. If it is disabled, there should be no base href so people can run it under or not under subdirs.

[2018-11-21 21:02] bytesnz commented on #160
It can't be as simple as adding a / as this will mean that the site won't be able to be run under any subdir (the benefit of relative dirs). `../../../` is hacky but may be better (up into the root of the site from /contents/ui/theme for the default settings

[2018-11-21 21:05] bytesnz opened #173 "Path rewriting paths confusing"
The path rewriting descriptions are a little confusing at the moment.
Eg `/wp-content/uploads will be re-written to /wp-content/...` will actually be what you set `wp-content` to be rewritten to (`/contents` by default). May be worth dynamically setting these, or using _`<wp-content>`_ to distinguish

[2018-11-21 21:08] bytesnz opened #174 "Path rewriting does not create rewrites"
It would be handy for the path rewrites to either copy the required files over (best option) or set up the links. When Same server - a sub-directory... nothing is set up / copied for these directories.

[2018-11-21 21:13] bytesnz opened #175 "Theme path rewrite absolute"
Currently, the path rewrite seems to rewrite the theme urls to absolute paths when use relative URLS is checked and Write Base Href for relative URLS is disabled

[2018-11-21 21:15] bytesnz commented on #175
Settings used:
Where will you host the static version of your site? Same server - a sub-directory on this server
Use relative URLS Checked
Write Base Href for relative URLS Unchecked

PHP 7
Wordpress 4.9.8
Static Site Generator 5.8

[2018-11-21 21:16] bytesnz commented on #174
Settings used:
Where will you host the static version of your site? Same server - a sub-directory on this server
Use relative URLS Checked
Write Base Href for relative URLS Unchecked

PHP 7
Wordpress 4.9.8
Static Site Generator 5.8

[2018-11-21 21:16] bytesnz commented on #173
Settings used:
Where will you host the static version of your site? Same server - a sub-directory on this server
Use relative URLS Checked
Write Base Href for relative URLS Unchecked

PHP 7
Wordpress 4.9.8
Static Site Generator 5.8

[2018-11-21 21:16] bytesnz commented on #172
Settings used:
Where will you host the static version of your site? Same server - a sub-directory on this server
Use relative URLS Checked
Write Base Href for relative URLS Unchecked

PHP 7
Wordpress 4.9.8
Static Site Generator 5.8

[2018-11-21 21:23] bytesnz opened #176 "Pages for archives, tags and categories not generated"
Pages for archives, tags and categories are not generated

[2018-11-21 22:24] bytesnz opened #177 "Site sub directory included in target folder"
When the wordpress site is served under a sub directory, eg `http://example.com/my-site`, the Same server will export to `<target_directory>/my-site` instead of `<target_directory>` as I would expect

[2018-11-21 22:31] bytesnz commented on #174
Not sure what happened the first couple of times I ran it, but it seems to be creating the files correctly now

[2018-11-21 22:31] #174 closed, assigned to nobody

[2018-11-22 02:51] leonstafford commented on #171
Hi @bilisimkurdu,

Please ensure your repository/branch has at least one existing commit before deploying. This is a known issue to be resolved/be easier for first time deploying.

Please let me know if that still doesn't resolve. I may need to see your PHP error logs in that case.

Cheers,

Leon

[2018-11-22 02:53] leonstafford commented on #172
Hi Jack,

Thanks for reporting this. More testing/work to be done in this area before next release.

Cheers,

Leon

[2018-11-22 02:54] leonstafford commented on #173
Hi Jack,

I believe this has been sorted in the latest development version. I'll close this upon release.

Cheers,

Leon

[2018-11-22 02:55] leonstafford commented on #175
Thanks Jack, I'll look into this and see if still an issue with the next version.

[2018-11-22 02:57] leonstafford commented on #176
@bytesnz - please try out the latest 5.9 snapshot (use the code in this repo, or a slightly older one under Releases)

The Discover URLs option under Crawl settings and Crawl increment under Advanced would be the most important options to adjust.

Love your issues reporting, think you'll enjoy trying the next version :)

[2018-11-22 02:59] leonstafford commented on #177
Solved in latest development builds.

Up until now, rewriting of paths has been quite hacky.

I'm about to enable both "Intelligent" and "Brute force" methods of rewriting. Brute force using regular expressions and intelligent proper DOM parsing.

The brute force will still be an improved version over what is currently in 5.8, but most sites will be able to use "intelligent", the default and clean

[2018-11-22 09:22] bytesnz opened #178 "Changing working directory does not work"
Changing the working directory from `.../wp-content/uploads` to something else (I tried `.../wp-content/staticgen`) does not work. I created the working directory and it generated the following files:
WP-STATIC-CRAWLED-LINKS  WP-STATIC-EXPORT-LOG  wp-static-html-output-1542878137

but it errored with the error
STARTING EXPORT: 2018-11-22 09:15:37
STARTING EXPORT: PHP VERSION 7.0.32-0ubuntu0.16.04.

[2018-11-22 09:26] bytesnz commented on #176
Thanks @leonstafford. Yeap, it's working in the dev version.

[2018-11-28 03:21] FredericoC opened #179 "Site not exporting properly - maybe not compatible with "bedrock" framework?"
Hi Leon,

I have used your plugin before with no issue, but it seems after I started using the "Bedrock" framework  from roots.io the export doesn't work at all. The crawler doesn't discover links properly and the Wordpress assets don't come across;

Bedrock - https://roots.io/bedrock/

Maybe something to do with the way they handle paths?

I would love to use your plugin with S3 as it is perfect

[2018-11-28 04:42] leonstafford commented on #179
Hi @FredericoC,

Thanks for reporting this. I haven't tested with Bedrock yet, but if any issues, will definitely want them resolved.

Could you please try this latest build zip here: https://github.com/leonstafford/wordpress-static-html-plugin/releases/tag/latest_snapshot

And do the usual of disabling all plugins/switching themes to isolate the cause. It could be a different environmental issue,

[2018-11-28 05:08] FredericoC commented on #179
edit: Redacted links
Hi Leon,

Thanks for the fast response.

The issue is the same with the new build;
- Deactivated all plugins
- Used a default theme

This was working before I started using the bedrock boilerplate, so I'm assuming it is some incompatibility with the crawler...

Clicking "Preview initial crawl List" returns:

[code]

Those links don't exist on my website, and I have about 60 mo

[2018-11-28 05:19] leonstafford commented on #179
Ok, rather interesting, no obvious things jumping out at me from that info.

Although, it hints at package managed WP, which Bedrock may be using and is
a known issue.

Earlier versions basically crawled from the outside, like SiteSucker or
httrack might. Recent versions infer things from WP, which gives some
advantages, but is likely what needs to handle “non-standard” WP dirs.

Bedrock and roots

[2018-11-28 06:13] FredericoC commented on #179
Created a very simple example with [Trellis](https://roots.io/trellis/) (roots.io provisioning and deployment system) and [Bedrock](https://roots.io/bedrock/);

https://github.com/3stack-software/bedrock-wpstatic-dev

Instructions in the readme, if you're using linux it's very easy to get going. I just tested that example and the latest wp static dev is not working properly.

This is [based on the

[2018-11-28 06:26] FredericoC commented on #179
As for the folder structure found this;
https://roots.io/bedrock-vs-regular-wordpress-install/

I'll try to play around with symlinks...

[2018-11-28 15:57] kykungz opened #180 "Static export only has empty folders"
I'm very new to WordPress, and want to try using Wordpress Static Site Generator Plugin to create a `.html` files from my WordPress site. I was following this tutorial from https://docs.docker.com/compose/wordpress/ which uses `docker-compose` to create a simple WordPress site.
[code]
Then I go ahead and activate your plugin and got no `html` files:
[code]
Any help?

EDIT: here is some information

[2018-11-28 20:09] newscloud opened #181 "Dev v5.9: Error crawling site pages on https"
I entered http://hub.lookahead.io so that it would know that's the url to generate for the site. That's not where the site is live.  The site exists at https://lookahead.io

The plugin didn't look directly at https://lookahead.io for crawling so it failed on every redirect from e.g. http://lookahead.io/portfolio/ => failed because it loads at https://lookahead.io/portfolio/

STARTING EXPORT: STATI

[2018-11-28 20:11] newscloud opened #182 "Dev v5.9: All copy local files failed"
Huge number of Errors trying to copy local files. (I do have the release version of the plugin deactivated and it ran previously... not sure if that's causing problems ... there was no way thru the WP admin to do an upgrade the dev code release you shared)

ERROR: trying to copy local file: /var/www/lookahead/http://lookahead.io/wp-content/uploads/2018/04/finding-time-zones-400x335.gif to: /var/ww

[2018-11-28 20:12] newscloud opened #183 "Dev 5.9: Github failed"
With 5.9 test release:

https://github.com/newscloud/lookahead
FAIL: Unable to complete test upload to GitHub

Notes:
- Repository is public and NOT empty
- I did not add any special access to the personal access key.

[2018-11-28 20:13] newscloud opened #184 "Request: Switch to Github Deploy key with write access"
I recommend you switch to deploy keys with write access ... as these can be established for a single repo. Personal access keys provide access to every repository ... It's not safe to be installing github personal keys in WP sites.

Deploy keys with write access can be configured for a single repository (public or private)

[2018-11-30 06:55] leonstafford commented on #180
Hi @kykungz,

Sorry for the late reply.

The clue is in this ` cURL error 7: Failed to connect to localhost port 8000: Connection refused` for the URL `http://localhost:8000/wp-content/themes/twentyseventeen/rtl.css`, probably the first URL it's attempting to crawl.

I used to use Docker primarily for developing this plugin and it was working well, but I can't recall exactly my setup.

It would ap

[2018-12-06 10:02] FredericoC opened #185 "v5.9: 404 When exporting `Yoast` sitemaps"
Hi Leon,

As discussed there seems to be an issue exporting my Yoast sitemap. I "include" the URLs in setup

![image](https://user-images.githubusercontent.com/1967784/49576606-4e0f4d80-f991-11e8-88fe-a9a470cf918d.png)

And returns;

[code]
It actually just creates files with an XML header.

The files do exist if you request from the browser, but I think they are not actual static files. Most like

[2018-12-07 01:38] gracevillarino opened #186 "No field to enter the base URL when choosing tar gzip optoin"
![screen shot 2018-12-07 at 9 35 24 am](https://user-images.githubusercontent.com/5719450/49622253-c151a780-fa03-11e8-9184-790d9c607041.png)

No field to enter the base URL

[2018-12-11 08:13] FredericoC commented on #179
@leonstafford
I dug around the source code and found the possible root of the major issues when using the Bedrock framework. I'm far from a Wordpress expert, so here's my findings for your review;

### PROBLEM 1 - Not generating the list of page URL's properly;
It seems that using the `site_url` function with bedrock is adding `wp` at the end of the URL e.g. https://example.test/wp/, which is not

[2018-12-12 16:06] leonstafford commented on #186
fixed in build  commit c916fa3

[2018-12-12 16:06] #186 closed, assigned to nobody

[2018-12-12 16:14] leonstafford commented on #161
Hi @Rapitharian,

Sorry for the late update. About a week ago, I got WP-CLI integration working with the plugin. I'll be phasing out the WP hook currently used with scheduling deploys, in favor of driving any automation from WP-CLI for more flexibility.

Please try the pre-release version here and let me know if any issues encountered:

https://forum.wp2static.com/-30/how-to-install-the-latest-pre

[2018-12-12 16:17] leonstafford commented on #172
Hi @bytesnz,

Could you please try the latest settings around Base HREF's from within the last week:

https://forum.wp2static.com/-30/how-to-install-the-latest-preview-of-version-59-of-wp2static

And let me know if that gets around your issue. You may need to set the Base HREF in both the Deploy and Processing tabs.

[2018-12-14 15:16] leonstafford commented on #179
Hi @FredericoC,

FYI, I've got a Trellis + Bedrock install running now and will start debugging this tonight. It should solve it for Debian package-managed WP installs and anyone with custom paths.

Fingers crossed!

[2018-12-14 18:24] leonstafford commented on #179
Debugging log:

WPSite injected into plugin's JS for admin screen:

[code]
Default export with TwentySeventeen theme results in the following in the export folder:

`category  -content  -includes  index.html`

[2018-12-14 18:29] leonstafford commented on #179
`site_url` incorrectly shown as `"site_url":"http://example.com/wp/",` vs `example.com`

needs to be grabbing the other one, as in the settings:

![siteurlvshome](https://user-images.githubusercontent.com/2066833/50020522-cf598680-0008-11e9-879b-cfca1e39b0f6.png)

[2018-12-14 18:39] leonstafford commented on #179
A working site's reference:

[code]

[2018-12-14 18:41] leonstafford commented on #179
We can also see the `"wp_content":"//srv/www/example.com/current/web/app",` is completely wrong and should be `/srv/www/example.com/current/web/wp/wp-content/`

[2018-12-14 18:57] leonstafford commented on #179
We also see the theme root and actual theme dirs differ, when seeing the themes set by default WP install vs any loaded by Bedrock

[code]

[2018-12-14 19:02] leonstafford commented on #179
As there is nothing else in a Bedrock's /web/wp/ dir besides these, we may be OK to deduce the /wp/ dir based on the current theme's parent's parent's path, ie

from `/srv/www/example.com/current/web/wp/wp-content/themes/twentyseventeen`

we can go 2 levels up

But at this point, do we even need the `wp-content` directory for anything?

if we are rewiring the full path the the plugins dir and the

[2018-12-14 19:20] leonstafford commented on #179
proposed change is:

 - rm all references to wp-content, don't leave it as a rewrite option
 - rm all references to theme_root, don't leave it as a rewrite option
 - rewrite fields become full paths, no funky concatenation, ie `wp-content/themes/twentyseventeen`
 - add rewrite theme for child theme if active
 - these rewrite rules are just that, rewrite rules, allowing for users to add any other a

[2018-12-16 09:31] leonstafford commented on #179
Update: went with the former option. Less code, less potential for errors.

noting another issue during implementation:

When plugin is trying to just copy a file that doesn't need parsing, it's assuming the standard WP directory structure. We can either make this optimization an option or put in some better detection to find where the files are... (latter preferred)

[code]

[2018-12-16 14:39] leonstafford commented on #179
@FredericoC this part is now working - w00t!

![renamingbedrocksite](https://user-images.githubusercontent.com/2066833/50054954-dd2f1900-017a-11e9-908c-9794e77647ff.png)

Quite a bit of (needed) refactoring came out of this task, so still a bit more work/tidying up, but I'm really excited about this stuff coming out!

[2018-12-16 18:11] leonstafford commented on #179
@FredericoC happy to close this now :smile_cat:

I've put an example guide here: https://forum.wp2static.com/-42/how-to-export-when-using-bedrock-by-rootsio

And this is in the latest build zips here: https://forum.wp2static.com/-30/how-to-install-the-latest-preview-of-version-59-of-wp2static

Please re-open with any issues you find

[2018-12-16 18:11] #179 closed, assigned to nobody

[2018-12-17 02:24] FredericoC commented on #179
Great work Leon!

Just a question, I haven't tried it yet but it seems you were focusing on the  `web/wp/wp-content/*` folder, but with Bedrock the idea is to put the themes, uploads and plugins folders under `web/app/*`, so the  "custom code", uploads etc is separate from the `wp` installation. I assume with the new rewrite config this is not an issue anyway, but I think it would be good to clari

[2018-12-17 04:53] leonstafford commented on #178
Thanks for reporting. The working directory has been dropped from the latest version to reduce complexity. It may reappear in the future, if there is enough demand. The UI elements are gone from the latest build on the Releases page.

[2018-12-17 04:53] #178 closed, assigned to nobody

[2018-12-17 04:55] leonstafford commented on #175
Should have a lot more control over these with the latest build on Releases page.

[2018-12-17 04:55] #175 closed, assigned to nobody

[2018-12-17 04:56] #173 closed, assigned to nobody

[2018-12-17 04:57] #172 closed, assigned to nobody

[2018-12-17 04:58] leonstafford commented on #166
Hi there, I did find a bug with this, sorted in the latest build from the Releases page

[2018-12-17 04:58] #166 closed, assigned to nobody

[2018-12-17 04:58] #161 closed, assigned to nobody

[2018-12-17 05:02] leonstafford commented on #151
should be sorted with latest pre-release version on Releases page. please try and let me know if any issues encountered

[2018-12-17 05:02] #151 closed, assigned to nobody

[2018-12-17 05:02] #170 closed, assigned to nobody

[2018-12-17 05:03] leonstafford commented on #160
solved in latest builds on Releases page

[2018-12-17 05:03] #160 closed, assigned to nobody

[2018-12-17 05:03] #156 closed, assigned to nobody

[2018-12-17 05:04] leonstafford commented on #155
area to input redirects and headers files in latest builds

[2018-12-17 05:04] #155 closed, assigned to nobody

[2018-12-17 05:04] #153 closed, assigned to nobody

[2018-12-17 05:05] #176 closed, assigned to nobody

[2018-12-17 05:08] #177 closed, assigned to nobody

[2018-12-17 05:10] leonstafford commented on #182
sorted in latest builds from Releases page. Manual plugin install works for now until official release

[2018-12-17 05:10] #182 closed, assigned to nobody

[2018-12-17 05:12] #167 closed, assigned to nobody

[2018-12-17 05:13] leonstafford commented on #162
Hi @laurent-d,

No longer need to set Discover URLs, is always on in latest builds. Other improvements also available, please try from the Releases page

[2018-12-17 05:13] #162 closed, assigned to nobody

[2018-12-17 05:14] #171 closed, assigned to nobody

[2018-12-17 05:23] leonstafford commented on #181
I believe this is due to the WP site_url or home set to the http not https, which I assume you are rewriting links to elsewhere. Once your site is on https, update WP’s config to use https not http in the site’s settings. Let me know if that doesn’t resolve it

[2018-12-17 05:23] #181 closed, assigned to nobody

[2018-12-17 05:25] leonstafford commented on #159
let me know if still facing this issue. I recommend trying the same settings on a different host to confirm if it’s specific to your Ubuntu environment

[2018-12-17 05:25] #159 closed, assigned to nobody

[2018-12-17 06:12] leonstafford commented on #179
Hi @FredericoC,

I think that's the case, my dir structure is here: https://forum.wp2static.com/-42/how-to-export-when-using-bedrock-by-rootsio

Just whatever defaults they give out of the box. Wasn't completely sure where to put the other static stuff, like a static export test, it's under /wp in my example, but could just as easily be in /app, with the plugins and uploads, etc

I'll make another

[2018-12-17 06:13] leonstafford opened #188 "add common frontend build files to initial file list exclusions"
[code]

[2018-12-17 06:17] leonstafford commented on #184
Hi @newscloud, I've shifted this over to here, with a working solution for now. Sorry, thought I'd replied earlier to this:

https://forum.wp2static.com/-43/switch-to-github-deploy-key-with-write-access

[2018-12-17 06:17] #184 closed, assigned to nobody

[2018-12-17 06:20] leonstafford commented on #183
Anything in the PHP error log?

by `I did not add any special access to the personal access key`,  have you tried giving it all permissions to eliminate that aspect?

I'll close this off as I get closer to next release and GH deploys are generally working.

Feel free to open a new thread in the forum for such issues, then we can dig deeper and try to isolate the cause: https://forum.wp2static.com/

[2018-12-17 06:20] #183 closed, assigned to nobody

[2018-12-17 06:44] leonstafford opened #189 "Error display box shows on fresh docker instance"
![firstiniterrordocker](https://user-images.githubusercontent.com/2066833/50070760-da2b3b80-0201-11e9-9d9c-35b7ff18643c.png)

[2018-12-17 07:13] leonstafford commented on #189
path fixed, but still permissions issues:

[2018-12-17 07:35] leonstafford commented on #189
SOB!

[code]

who is putting this in there? WP or Docker WordPress magic?

[2018-12-17 08:10] #189 closed, assigned to nobody

[2018-12-17 08:12] leonstafford commented on #180
Hi @kykungz,

I've just done some testing with your exact `docker-compose.yml` and put a little guide here, for the settings to be used with the latest build of the plugin (available at the Release page in GitHub):

https://forum.wp2static.com/-44/how-to-use-with-a-docker-compose-setup

You may still have some issues with your host name resolution. If that's the case, please post on the forum: htt

[2018-12-17 08:12] #180 closed, assigned to nobody

[2018-12-17 15:32] leonstafford opened #190 "Failing to rewrite certain <a> tags from Yootheme"

[2018-12-17 17:15] leonstafford opened #191 "not normalizing relative links"
given a link of /wp-content/something in original source, this should be converting it into a FQURL for later rewriting. This is not happening for sometime... quite critical

[2018-12-17 17:25] leonstafford opened #192 "URLs not being replaced in XML files"
test as part of Yoast work, use straight Text Processor for now if it works well enough

[2018-12-20 16:17] dmeagor opened #193 "Export log not working"
I'm unable to get the new beta version to export to github and the log doesn't seem to update with in info.

The test github works ok and I can also export to zip just fine.

I've seen this almost randomly appear sometimes but I'm unsure if its related.

STARTING EXPORT: 2018-12-18 01:23:41
STARTING EXPORT: PHP VERSION 7.2.11
STARTING EXPORT: PHP MAX EXECUTION TIME 180
STARTING EXPORT: OS VERSION

[2018-12-20 16:19] leonstafford commented on #193
Hi @dmeagor,

Could you set your GitHub batch size to 1 and let me know if it fails after a certain number?

This could then be GitHub API rate limiting, which you can adjust the settings for, or possibly a large file being encountered that takes too long/causes a timeout.

Anything in your PHP error logs?

[2018-12-20 17:46] dmeagor commented on #193
Tried again after enabling error logging and the log files are blank.  The w2static log hasn't updated (just shows old version) and the export chunk number is not shows (it disappears and the error message telling me to check the log appears.)

[2018-12-20 19:30] leonstafford commented on #193
Hi @dmeagor,

Could you please try working these steps to eliminate any potential environment issues:

https://forum.wp2static.com/-33/how-to-troubleshoot-a-failing-export

Cheers,

Leon

[2018-12-21 21:37] leonstafford commented on #193
@dmeagor, closing this issue. Trying to keep the GH issues just for verified issues with the plugin. If there are still problems with usage, please open a new thread on https://forum.wp2static.com and I'll help work through the diagnosis. If we isolate it to a specific problem with the codebase, we can keep add a new issue here.

Cheers,

Leon

[2018-12-21 21:37] #193 closed, assigned to nobody

[2018-12-21 21:39] leonstafford opened #194 "Full URLs in linked CSS files not being rewritten (Base URLs done, need to apply all rewrites)"
Example can be seen on the CSS file here:

https://wp2static-vultr1.netlify.com/wp-content/themes/diagnostic-theme-for-wp2static/style.css

[code]

[2018-12-21 22:56] leonstafford opened #195 "Add child theme assets to initial file list"
updated FilesHelper for parent files fix, need to apply also to ensure child theme assets detected

[2018-12-22 15:22] #195 closed, assigned to nobody

[2018-12-22 17:30] #185 closed, assigned to nobody

[2018-12-22 17:30] #192 closed, assigned to nobody

[2018-12-22 17:35] leonstafford commented on #185
@FredericoC - Yoast sitemaps are now being detected and rewritten properly from this build onwards:

https://github.com/leonstafford/wp2static/releases/tag/5e3184f

[2018-12-22 17:53] #194 closed, assigned to nobody

[2018-12-22 18:19] leonstafford commented on #191
cannot reproduce. tests are green for within HTML and CSS files

[2018-12-22 18:19] #191 closed, assigned to nobody

[2018-12-22 18:26] leonstafford commented on #168
closing, as we have messaging in the UI and docs explaining the need for a non-empty repo. More robust system for doing the GH deploys not far off, which will not have this same requirement.

[2018-12-22 18:26] #168 closed, assigned to nobody

[2018-12-22 18:35] leonstafford commented on #154
@gwhitelaw tested again and found no issues with the latest build. Can grab it at the Releases page in GitHub for now, then will be released to the wp.org plugin repository.

[2018-12-22 18:35] #154 closed, assigned to nobody

[2018-12-22 18:48] #188 closed, assigned to nobody

[2018-12-24 18:25] leonstafford opened #196 "github_prepare_export returning 200 w/no body"
via UI

runcloud

[2018-12-24 20:03] leonstafford opened #197 "Too many files open during crawling"
Certain servers affected when crawling large sites, need to look at how to keep the open files to a minimal

ie, on a minimal Vultr, provisioned by runcloud:
[code]

moving the client instantiation in `/library/StaticHtmlOutput/SiteCrawler.php` outside it's loop should help. Need to determine who/what is opening the most files

[2018-12-24 20:22] leonstafford commented on #197
stracing the pid with `strace -f -t -e trace=file -p 1793`  (the php cmd from top once generation started) results in

[code]

[2018-12-24 20:45] leonstafford commented on #197
`watch lsof | wc -l` did see large increases, but with some overriding of system's max open files, this number rised, then returned to original throughout the generation process

[2018-12-24 21:00] leonstafford commented on #197
`ulimit -n 10000` in current shell allowed generation on this server.

lsof count went from high 9,000's to 13k+ then scaled back down to original number towards later stage of generation

[2018-12-24 21:06] leonstafford commented on #197
checking `php` max limits via cat `/proc/{PID}/limits` shows that set in the shell

[2018-12-24 21:50] leonstafford opened #198 "guard against empty vars in TXTProcessor"
[code]

[2018-12-25 21:16] leonstafford commented on #190
Look at an HTML5 compatible parser, like https://github.com/Masterminds/html5-php

Manually require files with:

[code]

[2018-12-26 06:19] leonstafford commented on #190
fixed by c30c4d9

[2018-12-26 06:19] #190 closed, assigned to nobody

[2018-12-26 10:11] leonstafford opened #199 "404 image page being saved as HTML with .jpg extension"
ie, `./app/themes/diagnostic-theme-for-wp2static/assets/images/EXPECTED_404_DISCOVERD_FROM_LINKED_CSS.jpg` in diagnostics theme

[2018-12-26 10:17] leonstafford opened #200 "use str_ireplace in unreplaced URLs detection, add tests in diagnostics theme"
Use it in the "unreplaced URLs method at end, for better detection there and to avoid performance hit on majority of sites it won't be detected on...

Use case:

Posts/pages, where people have used mixed capitalization/non-lower for the site's URL

[2018-12-26 10:20] #198 closed, assigned to nobody

[2018-12-26 18:47] leonstafford opened #201 "detect DOMDocument / use html5-lib otherwise or show warning"

[2018-12-27 15:14] dimobelov opened #202 "Variable exception"
subdir need to be wp_subdir
https://github.com/leonstafford/wp2static/blob/6d88c667b62b91d29af484422ef9096bedf258f9/provisioning/deployment_modules/GitLab.php#L246

[2018-12-27 15:15] leonstafford commented on #202
Thanks @dimobelov, will get it out with next minor release

[2018-12-27 15:21] dimobelov commented on #202
This is also present in Bitbucket module and SitePublisher
 https://github.com/leonstafford/wp2static/blob/6d88c667b62b91d29af484422ef9096bedf258f9/library/StaticHtmlOutput/SitePublisher.php#L41

https://github.com/leonstafford/wp2static/blob/6d88c667b62b91d29af484422ef9096bedf258f9/provisioning/deployment_modules/Bitbucket.php#L84

[2018-12-27 15:22] leonstafford commented on #202
OK, that explains some issues post-6.0 release! Thanks again, sorry it went out with these bugs. Really needed to get it out as was months in the making, so chose the quieter Xmas time for less impact of any major issues.

[2018-12-30 05:37] #202 closed, assigned to nobody

[2018-12-30 05:41] leonstafford opened #203 "suppress logging warning when a comment-stripped CSS file is empty"
often, a style.css become empty, once parsed and comments are stripped.

non-blocking errors/warnings in the Export Log tend to throw users off, when they hit another error the plugin didn't capture.

separate logs for crawling, processing and deployment may be more intuitive...

[2018-12-30 09:30] leonstafford opened #204 "detect when server is https but WP url is http"
some testing needed around whether this always causes failure and how serious an issue it is...

[2019-01-01 05:37] leonstafford opened #205 "updating within dashboard deactivating former version (6+)"
investigate

[2019-01-02 22:18] leonstafford opened #206 "JS files not being included in export"
Regression issue appears to have crept in between 6.1 and 6.1.2

[2019-01-02 22:30] leonstafford opened #207 "only first Additional URL being included?"

[2019-01-02 22:45] leonstafford opened #208 "look into suppressing warnings / ensuring no dependency on functions than can be disabled"
ie:

[code]

[2019-01-02 22:49] leonstafford commented on #205
couldn't reproduce

[2019-01-02 22:49] #205 closed, assigned to nobody

[2019-01-03 07:11] leonstafford opened #209 "full URL background image from linked CSS not being rewritten"
example of Elementor header bkg, from wp-content/uploads/styles/page-2.css or such

[2019-01-03 08:03] leonstafford commented on #209
non-issue

[2019-01-03 08:03] #209 closed, assigned to nobody

[2019-01-03 08:11] leonstafford opened #210 "PowerPack plugin dir differs from official"
`wordpress-static-html-plugin` vs `static-html-output-plugin`

[2019-01-05 13:52] rehanvdm commented on #206
@leonstafford I see you closed this, but I am experiencing this now. I can see in the Export log that it reports all the JS files are empty but it is not
[code]

[2019-01-05 13:59] leonstafford commented on #206
Hi @rehanvdm,

Can you please try this dev build and let me know if it fixes it for you?

[rehanvdm_with_powerpack.zip](https://github.com/leonstafford/wp2static/files/2729551/rehanvdm_with_powerpack.zip)

If so, it will be coming out shortly, else I need to dig deeper.

Cheers,

Leon

[2019-01-05 14:10] rehanvdm commented on #206
The output is unfortunately identical..

I started a clean install of WP this morning:
STARTING EXPORT: WP VERSION 5.0.2
STARTING EXPORT: PLUGIN VERSION 6.1.3

Using the stock AWS AMI for wordpress (https://aws.amazon.com/marketplace/pp/B00NN8Y43U?qid=1546697347607&sr=0-1&ref_=srh_res_product_title) I deployed it onto AWS

Let me know if there is any thing I can help with.

[2019-01-05 14:12] leonstafford commented on #206
Thanks @rehanvdm,

To isolate the plugin code as the issue, could you please try version 5.8 from the bottom of this page?

https://wordpress.org/plugins/static-html-output-plugin/advanced/

And just do a ZIP or same-server deploy to see if those JS are being picked up.

If the issue persists, then I may have some ideas as to environmental causes.

Cheers,

Leon

[2019-01-05 14:15] leonstafford commented on #206
If it's not the plugin, then Bitnami stack has some issues with static site serving, if mod_pagespeed is enabled, as it changes the filenames.

There's a few other things Bitnami can do that cause trouble, some notes I had here:

https://leonstafford.github.io/notes/lightsail_bitnami_wordpress_tweaks/

That was for LightSail, but Bitnami is usually the same anywhere

[2019-01-05 14:27] rehanvdm commented on #206
So good news for me (maybe not for you) . Version 5.8 of the plugin worked. There are still a few 404s when I view it in the browser, but that's fine , expected them. The site works as expected.

Such a big change between the version on the wp-admin panel and I saw that the directory structure is different from the 6.1.3 version after the export. There were no wp-content and wp-include folders.

[2019-01-05 14:29] leonstafford commented on #206
Hi @rehanvdm,

It's always good news when we eliminate a potential cause to the issue :)

OK, I've got a release coming close to get out, so will do some extra testing on AWS + Bitnami.

Could you please let me know your main theme, plugins and if you have WP installed under https, with a subdomain or subdirectory? I'll try to replicate the issue, I think a few others are affected by this now.

[2019-01-05 14:42] rehanvdm commented on #206
Sure

Plugins:
- Akismet Anti-Spam Version 4.1 **NOT ACTIVE**
- All In One SEO Pack Version 2.1.0.1 **NOT ACTIVE**
- All-in-One WP Migration Version 6.82 **NOT ACTIVE**
- Google Analytics for WordPress by MonsterInsights Version 7.3.3 **NOT ACTIVE**
- Hello Dolly Version 1.7 **NOT ACTIVE**
- Jetpack by WordPress.com Version 6.8.1 **NOT ACTIVE**
- Simple Tags Version 2.4.7 **NOT ACTIVE**
-WP Mail S

[2019-01-05 14:43] leonstafford commented on #206
@rehanvdm, that's perfect, thanks! Keep an eye out for 6.2 with the fix

[2019-01-05 14:47] rehanvdm commented on #206
Will do, thanks for the great work!

[2019-01-05 15:02] #196 closed, assigned to nobody

[2019-01-05 15:21] leonstafford opened #211 "benchmark reading/writing bytes of file vs number within"

[2019-01-05 18:11] leonstafford commented on #206
Hi @rehanvdm,

I've replicated the issue on a new Bitnami stack on AWS.

Will update when a fix is in.

[2019-01-05 18:35] leonstafford commented on #206
Hi @rehanvdm,

Please try this one. The issue causing this was a silly one-line error that's now fixed. I'd bypassed my own testing and on my local environment, the issue wasn't apparent.

This is still an in-development build, but the fix will come out ASAP in 6.2

Cheers,

Leon

[2019-01-05 18:35] leonstafford commented on #206
[rehandvm_fixed_with_powerpack.zip](https://github.com/leonstafford/wp2static/files/2729778/rehandvm_fixed_with_powerpack.zip)

[2019-01-05 18:37] #206 closed, assigned to leonstafford

[2019-01-05 19:37] rehanvdm commented on #206
@leonstafford Sorry to be that guy again.. Firstly thanks for the quick reply and fix, appreciate it.

So I tried the new zip you provided above. So all of the files were found in the Export log. Except 1 JS file:

[code]

It could also not find the sitemap.xml but that might be because of my setup, not sure have nnot done any thing sitemap related and not a WP expert.

[code]

[2019-01-05 19:41] leonstafford commented on #206
OK, I didn't check the free-blog theme yet, but in case the way that JS is loaded differs from the others, you may try adding it in the Additional URLs field under the Crawl Settings

If you can share me the original site's source code, where the JS file is referenced, I can look into it, else, please create a new GH Issue here for "missing assets from free-blog theme" and then I'll be able to dig

[2019-01-05 20:37] rehanvdm commented on #206
Okay, so that navigation.js file was actually empty in the source(wp), I just added a comment in the file so that it has some content and then it got copied. So that might be something you would want to look at, to copy empty files as well. But this did not solve the problem, something else is throwing an error, I am not sure what though, it is as if only some of the JS gets executed, the sidebar

[2019-01-05 21:47] fhwebcs opened #212 "img srcset tag's URLs not being handled properly"
Hi, I've tried WP2Static (version 6.2) with latest WorpPress version (5.0.2). If I check `Use relative URLs` some URLs remain absolute. In my case the `srcset` attribute for `img` tags still contains absolute links.

Some demo HTML (first default page by wordpress - see line 9 in the following code):
Processed (generated by WP2Static via static site export):
https://gist.github.com/fhwebcs/17a3a84

[2019-01-08 03:53] fmt opened #213 "Yoast creates new sitemap files every 1000 lines"
If the site exports more than 1000 posts, Yoast paginates the post-sitemap.xml writing sequential filenames (pls see screenshot) but detectVendorFiles on StaticHtmlOutput/FilesHelper.php hardcodes the files:

[code]

![sitemap](https://user-images.githubusercontent.com/140614/50808945-ebdf9a80-12f8-11e9-8e30-cc3ff9f9fe70.jpg)

[2019-01-08 16:21] leonstafford opened #214 "ensure protocol relative URLs in XML/other files being rewritten"
as per discussion here https://forum.wp2static.com/-53/yoast-sitemap-url-not-being-replaced

[2019-01-09 04:38] leonstafford opened #215 "create offline zip mode issues post v6.0"
needs investigation / test coverage

[2019-01-09 04:42] leonstafford opened #216 "rewriting rules not being applied to certain URLs"
ie, YooTheme's `/wp-content/uploads/`

check normalization, add test coverage

[2019-01-09 04:43] #210 closed, assigned to leonstafford

[2019-01-09 04:43] leonstafford opened #217 "WP URL detection level 'everything' not as complete as v6.0"

[2019-01-10 08:31] #217 closed, assigned to leonstafford

[2019-01-10 18:08] #207 closed, assigned to leonstafford

[2019-01-10 18:48] leonstafford commented on #214
reproduced on an S3 deploy with `<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="//example.test/main-sitemap.xsl"?>`

[2019-01-10 18:51] leonstafford opened #218 "WP dir renaming when subdirectory contains wp"
needs investigation, but attached S3 listing shows likely cause

![bedrock_wp_dir_renaming](https://user-images.githubusercontent.com/2066833/50989943-55eb8000-1543-11e9-9669-139635970ce7.png)

[2019-01-10 19:56] leonstafford opened #219 "Allow user to choose which post types are detected for initial crawl list"

[2019-01-10 22:00] jasonbiondo commented on #204
@leonstafford I am getting mixed content errors using this plugin with https and can't export anything

[2019-01-11 08:27] dimobelov opened #220 "Not properly working with unicode websites"
Fix:
https://github.com/leonstafford/wp2static/blob/e7bc17116859a10c0b8b2c1c95f0215dda3b6ca3/library/StaticHtmlOutput/HTMLProcessor.php#L611

[code]

[2019-01-11 08:29] leonstafford commented on #220
oh, great, thanks Dimo!

Do you have some before/after source code I could add to a test for this?

[2019-01-11 08:29] leonstafford commented on #220
as in, the HTML source that was previously not being converted properly

[2019-01-11 08:36] dimobelov commented on #220
Snippet from homepage index.html.
Without fix:
[code]

With fix:
[code]

[2019-01-11 08:38] leonstafford commented on #220
Perfect, thanks!

A few other fixes, cleanups and tests being added at the moment, I'll get this into the next release.

[2019-01-11 08:39] dimobelov commented on #220
Btw its good to double decode output html. This is known issue with unicode.

[code]

[2019-01-11 08:55] leonstafford commented on #220
@dimobelov, I'm not having any joy with testing this:

[code]
Even with multiple decodings... Any ideas?

[2019-01-11 08:58] leonstafford commented on #220
OK, some progress with adding `<meta charset="utf-8"/>` to the test inputs.

[2019-01-11 08:59] #220 closed, assigned to nobody

[2019-01-11 11:06] dimobelov opened #221 "Simplify SitePublisher like this in GitLab (need testing)"
https://github.com/leonstafford/wp2static/blob/ec45a98f229716c35ca7a0b95dcdf719783d82a7/library/StaticHtmlOutput/SitePublisher.php#L25
Tested on Windows Server with GitLab and GitHub
I left not needed lines in comments to track changes. Added fix for Windows Server paths. With these changes GitLab not need overriding for `create_deployment_list` and can be removed.

[code]

[2019-01-11 12:01] leonstafford commented on #221
Thanks so much for this, @dimobelov!

I'll get this in ASAP with some testing. I also need to replicate the Progress indicators first introduced into the GitHub deploy, so will try to do at the same time.

It's so great when people take the time to contribute some code to the project, really!

[2019-01-11 12:16] dimobelov commented on #221
@leonstafford , can you make in GitLab module upload only changed files like GitHub? I really like your plugin and i'll try to help dev in future too. The best plugin to convert WP to static site!

[2019-01-11 13:34] leonstafford commented on #221
Hi @dimobelov,

Yes, one way or another, they'll all soon be diff-based deploys.

One idea I've been thinking to try is a log of hashes during each deploy. Then the plugin can tell if it needs to attempt the deploy without requesting status from the 3rd party. This can be a nice, generic mechanism.

It is less useful on the first deploy, where it will still need to check the status.

GitHub change

[2019-01-11 13:56] leonstafford commented on #204
Hi @jasonbiondo,

Could you please tell me a bit more about your hosting setup and share the latest Export Log from the Logs tab?

[2019-01-12 12:25] leonstafford commented on #221
@dimobelov just looking at this now with some other weekend work

I think we'll need to keep the section dealing with the `$basename_in_target` detection, as several of the deploy methods need a format like:

`/local_path/to/original/file.jpg,/remote_path/to/original/file.jpg`

and some like:

`/local_path/to/original/file.jpg,/remote_path/to/original/` (without the basename appended)

But I'll cl

[2019-01-12 12:27] leonstafford opened #222 "Deploy list filepaths incorrect for BitBucket"
investigate and fix

[2019-01-12 13:51] dimobelov commented on #221
Azure IIS and in localhost XAMPP. This fix doesn't affect Linux distros. They not use `\` in paths. This is only for windows servers.

[2019-01-12 13:53] #222 closed, assigned to nobody

[2019-01-12 14:04] dimobelov commented on #221
@leonstafford, leave this issue open, pls. I'll test again with your new modifications tomorrow.

[2019-01-12 14:05] leonstafford commented on #221
@dimobelov thanks, will do. I'm still going to go through each deploy method, have just fixed Bitbucket for now.

[2019-01-12 14:29] leonstafford opened #223 "rm Guzzle, Psr httpd, dependency"
- [x] library/StaticHtmlOutput/SiteCrawler.php
 - [x] provisioning/deployment_modules/Bitbucket.php
 - [x] provisioning/deployment_modules/BunnyCDN.php
 - [x] provisioning/deployment_modules/GitHub.php
 - [x] provisioning/deployment_modules/GitLab.php
 - [x] provisioning/deployment_modules/Netlify.php

[2019-01-12 21:02] dimobelov commented on #221
In new code i just added fix in
https://github.com/leonstafford/wp2static/blob/db2b7e3623fe193f8705cb9b667accbb6920f98f/library/StaticHtmlOutput/SitePublisher.php#L67 and all is fine
[code]

[2019-01-13 05:56] leonstafford opened #224 "surface cURL options in Advanced settings"
ie

[code]

[2019-01-13 07:24] leonstafford opened #225 "add cachebuster to visit deployed site link"
to prevent ppl seeing browser cache when CDN cache purged

[2019-01-13 07:55] leonstafford commented on #221
Hi @dimobelov,

I'll get to GitLab soon, working my way down this list: https://github.com/leonstafford/wp2static/issues/223

BunnyCDN took longer than expected as it had some bigger issues, now resolved.

[2019-01-13 19:09] leonstafford commented on #221
Hi @dimobelov,

Latest commit has GitLab able to do a complete deploy, if batch size set to 1, but speed is quite slow and no skipping identical files yet.

It will likely take 3-4 times longer than you're used to.

I aim to get the optimizations in and GitLab deploy solid in next coding session.

Cheers,

Leon

[2019-01-13 19:32] leonstafford commented on #221
* seems that it is OK with large batch sizes, after all

[2019-01-13 20:00] leonstafford opened #226 "apply generic progress indicator function to deploy methods"

[2019-01-13 20:01] leonstafford opened #227 "move GitLab file tree fetching to flat-file / execute once only"

[2019-01-13 23:41] DirectorGunner opened #228 "Issues with installation in sub directory and maybe theme loading scripts too"
404 issue
I tried WP2Static in Wordpress which installed on a subdirectory of my site.
However, when crawling your plugin is checking for files in the site root which WordPress is not installed and returning a 404. It should only be searching for files recursively starting from the subdirectory WordPress is installed in.

possible additional issue
WP2Static does not seem to want to crawl my theme

[2019-01-14 01:42] DirectorGunner commented on #228
issue resolved by cleaning uploads folder

[2019-01-14 01:42] #228 closed, assigned to nobody

[2019-01-14 09:20] dimobelov commented on #221
https://github.com/dimobelov/wpstatic-somefixes
There i fixed some errors in new code and also added lazy solution for deploy after post publish. After 2-3 days i'll remove this repo.

I work only with GitLab and GitHub. Other is unchecked.

[2019-01-14 09:29] #223 closed, assigned to nobody

[2019-01-14 09:52] leonstafford opened #229 "refactor S3 and FTP deploy files as subclass of SitePublisher"

[2019-01-14 11:41] leonstafford commented on #221
cool, no worries about leaving it up, I'm not too worried about anyone circumventing licensing for PowerPack.

I've been refactoring GitLab and SitePublisher quite a bit today, I'll push up what I have now

[2019-01-14 11:43] leonstafford commented on #221
* very interested to see your on-publish deploy solution, will just get through the current refactoring as I'm breaking many things in the process

[2019-01-14 17:19] leonstafford opened #230 "sending completion email when on WP_CLI produces PHP notice"
Notice: Undefined index: SERVER_NAME in /srv/www/example.com/current/web/wp/wp-includes/pluggable.php on line 330

[2019-01-14 17:31] leonstafford commented on #228
Hi @LevyImage, sorry for the late response from me on this - glad you got it sorted!

Will ponder how this might be avoided / better reported to the user when it occurs.

Was this after migrating the site from one location to another and the crawl list or such was using the old structure?

[2019-01-14 18:02] DirectorGunner opened #231 "Base HREF not being used for relative links"
I set Base HREF to `/`
And Rewrite Links to
[code]

And Rename Exported Directories to
[code]

However, output HTML source code shows links not prefixed with `/`
EG
`<script type="text/javascript" src="A/D/E/public/js/js_composer.js>"`
instead of
`<script type="text/javascript" src="/A/D/E/public/js/js_composer.js>"`

Therefore, I think the Base HREF is not working properly?

[2019-01-14 18:50] DirectorGunner commented on #228
Sorry, I think it was simply user error. My fault. I was able to get it to crawl as well as generate. Albeit with one relative URL issue but otherwise working out.

[2019-01-14 21:52] leonstafford commented on #221
@dimobelov latest commit adds diff-based deploys to GitLab (other deploys likely in broken state as I'm refactoring GitLab first, then will apply to others).

Please try this with 2 deploys, first to capture the file hashes of deployed files, 2nd to use those to diff against.

I'll add an option to turn-on/off in settings, along with a button to delete the file containing the paths/hashes. If you

[2019-01-14 23:31] szepeviktor opened #232 "Complete list of what wp2static does"
Do you plan to include a list what actually is being done inside WordPress that results in website that does not need a backend?

[2019-01-14 23:34] szepeviktor commented on #232
Something like

- posts, taxonomy, archives
- 404 page
- comments
- AJAX calls
- feeds, trackback, XML-RPC
- emojis
- 3rd-party support (sitemap, frontend login)

etc.

[2019-01-15 06:27] leonstafford commented on #232
Hi Viktor in Hungary! I'm aiming to improve documentation and tutorials/screencasts this month.

I believe you are looking for a "How it works?" type article?

Regarding

It is more from the outside of WordPress that the static site is generated, though it does use knowledge of WordPress in order to know which URLs to crawl.

I realize this isn't a great explanation, so I'll work on such an articl

[2019-01-15 10:32] BHWD opened #233 "Custom ZIP Name"
It would be ideal if we could define the output ZIP filename as well as make the timestamp optional. For systems that fetch the ZIP file based on a fixed URL this would make the process easier.

[2019-01-15 11:10] leonstafford opened #234 "check if .htaccess from library dir included in plugin builds"

[2019-01-15 11:32] leonstafford opened #235 "add support for custom urls from Ccustom-post-type-permalinks plugin"
https://ja.wordpress.org/plugins/custom-post-type-permalinks/

test also with custom post type of `news`, with `hierachical = false`

test multipage pagination URLs are all included

[2019-01-15 17:13] dmeagor opened #236 "subfolders saved with full url and colon breaking git checkout"
I cannot extract our site to disk as some of the folders are being saved with subfolders containing full URLs  including the colon after http: which  breaks git checkout (at least on windows.)

dummy-home/contents/data/elementor/css/http:/stage.mydummysite.co.uk/wp-content/uploads/2018/

[2019-01-15 17:36] leonstafford opened #237 "upon failure in GUI, prompt to re-run with Debug Mode on"
When failed export message appears, if Debug Mode is not on, prompt to turn it on.

If Debug Mode is on, prompt to view Export log

[2019-01-15 17:47] leonstafford commented on #236
Hi David,

Thanks for reporting this. It may be fixed in the latest dev build, but to be sure, and so I can test this, could you please add the following details (obfuscate domains/sensitive info as needed):

 - WP site URL
 - WP home
 - subdirectories if any WordPress is installed in
 - OS / way WordPress is installed
 - themes & plugins activated

And most importantly perhaps, a sample of the or

[2019-01-15 19:00] leonstafford opened #238 "Add hook for post-deploy"
scenario:

when deploy is finished, triggers hook, which can be listened for in functions.php for users to run arbitrary commands

[2019-01-15 19:20] leonstafford opened #239 "add filter to allow loading additional URLs from user's functions"
scenario:

User needs to load additional URLs to crawl. Adding via additional URLs is not an option, due to dynamic nature of the URLs.

Expose a filter that the user can call from functions.php and feed their own URLs into by whatever function they use to generate them.

[2019-01-15 21:14] leonstafford opened #240 "support for when WP is loaded over https but site URL and home are http"
When https the admin site is loaded over https, but the WP site URL and/or home are http, the plugin tries to load frontend assets over http, which is blocked by insecure warning.

The crawling will likely also not work properly.

[2019-01-16 01:32] dgomesbr commented on #240
consider using mkcert on mac/linux to emulate localhost dev wordpress as well.

[2019-01-16 10:26] leonstafford commented on #240
Thanks @dgomesbr, will look into it.  Have you found any issues with the plugin crawling mkcert or other generated certs for localhost or arbitrary local domains?

[2019-01-16 15:31] xguya opened #241 "Problem. Cache just my homepage and some pages"
Hello, your plugin works but doesn't cache all my html pages. Just a randombly number of last posts for every category and my homepage.
I didn't get any error, I tried to generate static page using cli and from your plugin..  any idea?!

[2019-01-16 15:33] leonstafford commented on #241
Hi @xguya, I have a fix for properly detecting all posts and pages for building initial crawl list.

You can try the latest `master` branch of this repo and let me know if there's still an issue

[2019-01-16 15:34] leonstafford commented on #241
or try this:

[xguya.zip](https://github.com/leonstafford/wp2static/files/2764770/xguya.zip)

[2019-01-16 15:43] xguya commented on #241
I'm yet using version 6.2. damn.

Btw thank you for your answer. Your project is very interesting.

[2019-01-16 15:45] leonstafford commented on #241
`develop` branch also has the PowerPack stuff included, if you want to try the other deployment methods out (Netlify, GitHub, GitLab, S3, etc). Though in develop and current master, only GitLab and GitHub are currently working, as I'm doing a big refactor. From next release, master branch will remain stable/parity with releases

[2019-01-16 15:47] leonstafford commented on #241
* sorry, I lied, haven't pushed up the PowerPack changes yet, but you can get from the provisioning/deployment_modules dir and put into repo base

[2019-01-16 16:09] xguya commented on #241
Omg works! I uploaded your .zip and I didn't set apache as owner. Is perfect now! I tried also with wp cli and it works!.

Btw I prefer pay and support your project. I'm sending you an email for info about payment with btc.

[2019-01-16 19:00] #239 closed, assigned to leonstafford

[2019-01-16 19:16] xguya commented on #241
FYI, .zip you sent me in email (PowerPack) with me doesnt work, but works zip file you sent me in this support ticket.

[2019-01-16 19:41] leonstafford commented on #241
Cheers. Yes, 6.2 has some issues solved but not yet released. At least a few more days to get out 6.2.1 (likely 6.3, as some major refactoring/new features)

Sent from my iPod

[2019-01-17 02:10] dgomesbr commented on #240
Not really but the other way around, since I have all my sites over 127.0.0.1 or any other local ip, I used to host them without HTTPS, now trying to migrate those, relative paths and other links are not catch and eventually go into the static version without the // or http:// which defeat the purpose of having it.

Using MKCert Locally, I can force everything to load from a HTTPS standpoint and o

[2019-01-17 10:29] #238 closed, assigned to leonstafford

[2019-01-17 21:38] twiginteractive opened #243 "Deploy action hook doesn't fire from WP UI"
`wp2static_post_deploy_trigger` hook isn't fired when the WP UI is used to kick off a site generation job, specifically for ZIP and/or subdirectory deployment types.

Also typo on https://github.com/leonstafford/wp2static#post-deployment-hook - should be
`add_action('wp2static_post_deploy_trigger' ....) not add_filter('wp2static_post_deploy_trigger'...)`

[2019-01-18 03:21] guangrei opened #244 "wrong wp-content and wp-includes names"
hi, something went wrong in result `wp-content` generated to `-content` and `wp-includes` generated to `-includes` is this a bug?

p.s : am not touch any setting except filled url destination and my wordpress blog installed in /public/wp

[2019-01-18 18:47] leonstafford commented on #244
Hi @guangrei, this confirms this one, thanks: https://github.com/leonstafford/wp2static/issues/218

If you can try renaming from `public/wp` to `public/something-else` I think it will avoid the issue with the rewriting rules.

I need to track down the issue and resolve, so will leave this open

[2019-01-18 18:54] leonstafford opened #245 "Version 6.3 Release blockers"
**Settings**
- [x]  button to delete all `***-previous-hashes`

Refactor each deploy method (diff-based deploys, methods moved to parent class, progress indicators)
 - [x] GitHub
   - [x] diff-based deploys
   - [x] progress indicators
   - [x] remote path deploy check
   - [x] post-deploy hook triggered
   - [x] WP-CLI deploy
 - [x] GitLab
   - [x] diff-based deploys
   - [x] progress indicators

[2019-01-19 05:41] leonstafford opened #246 "previous hash file being overwritten on each request if not maximum API batch size"
for a batch size of 1, it should be:

 - reading previous hashes into array
 - adding current file as additional row
 - writing out new array

[2019-01-19 06:52] leonstafford commented on #246
not an issue

[2019-01-19 06:52] #246 closed, assigned to nobody

[2019-01-19 07:17] leonstafford opened #247 "community guide on htaccess subdirectory static serving broken"
link to a more comprehensive guide

[2019-01-19 08:48] leonstafford opened #249 "options for cURL max wait times, etc in Advanced Settings"
on slow connections, experiencing what look like API errors but are actually timeouts. Not logging the cause well.

Set sane defaults and allow users to override

[2019-01-19 09:20] leonstafford commented on #249
sane(?) defaults added for connection and action timeouts, still need to surface settings to user to allow overriding

[2019-01-19 12:15] swtrse opened #250 "Urls not recognices as local and therefore not changed"
I recogniced that some plugins use urls like
href="//mysite.com/page/xxx"

This urls not get regogniced as local urls and do not get changed to destination url.

My quick workaround ist to replace that urls right bevore export with absolut urls but after updating the plugins the url is changed back of course

[2019-01-19 12:17] swtrse opened #251 "Export to File system does not remove deleted pages/css/images etc."
I noticed that once a file is exportet to the file system it does not get deleted even if the site is removed from wordpress and a new export has been done this file stays and can be of course called if you know the url.
Export should also check for deleteted files and removes them from the file system target

[2019-01-19 12:30] leonstafford commented on #251
Thanks @swtrse,

Good idea. Short-term, I'm implementing a diff-based deploy for all methods, which will come out very soon. After this, I can look at adjusting the subdirectory deploy to optionally do a removal check (will slow down deploys a bit, but many, like you, will prefer it). A more brutal approach is to just delete the target dir and recreate it, faster, if not needing the diff-based/inc

[2019-01-19 12:31] leonstafford commented on #250
Hi @swtrse, this was a regression bug from 6.0+ I'll get it sorted very soon.

[2019-01-19 20:02] leonstafford opened #252 "Switch CloudFront invalidation to direct cURL request"
doesn't seem to be firing currently

[2019-01-20 17:58] leonstafford commented on #252
fixed

[2019-01-20 17:58] #252 closed, assigned to leonstafford

[2019-01-20 17:58] leonstafford commented on #243
fixed in `develop` branch

[2019-01-20 17:58] #243 closed, assigned to nobody

[2019-01-20 18:00] leonstafford commented on #229
fixed

[2019-01-20 18:00] #229 closed, assigned to leonstafford

[2019-01-20 18:00] leonstafford commented on #226
fixed

[2019-01-20 18:00] #226 closed, assigned to leonstafford

[2019-01-20 18:02] leonstafford commented on #221
Hi @dimobelov,

Getting close to the next release now.

Could you please this one with both GitLab and GitHub using the diff-based deploys.

[dimo.zip](https://github.com/leonstafford/wp2static/files/2776905/dimo.zip)

Closing this issue now as am tracking pending release tasks in another ticket and GitLab should be good now.

[2019-01-20 18:02] #221 closed, assigned to nobody

[2019-01-20 18:03] leonstafford commented on #218
@guangrei I'm moving https://github.com/leonstafford/wp2static/issues/244 into here to track with one issue. Should be solved soon

[2019-01-20 18:04] leonstafford commented on #244
duplicate of https://github.com/leonstafford/wp2static/issues/218

[2019-01-20 18:04] #244 closed, assigned to nobody

[2019-01-21 01:02] jk2l opened #253 "Support for instance profile"
Hi, I would like to have support for AWS Instance profile for S3 deployment. This will make credential and secret management easier also a preferred option for AWS best practice

[2019-01-21 17:48] leonstafford opened #254 "Support YooThemes Pro's dynamic image sizes"
The ajax requests are only replaced by plain html when the images are displayed in the corresponding screen size.
So it takes forever to have all the images sizes and srcset static :

[2019-01-21 18:31] leonstafford opened #255 "verbose debugging option, which users can be prompted to turn on after a failed export/deploy and re-run"

[2019-01-22 18:20] leonstafford commented on #241
This is fixed in the develop branch, preparing to make a release now, along with other fixes

[2019-01-22 18:20] #241 closed, assigned to nobody

[2019-01-22 18:20] leonstafford commented on #250
This is fixed in latest `develop` branch and a release is being prepared to go out soon

[2019-01-22 18:20] #250 closed, assigned to leonstafford

[2019-01-22 18:21] #245 closed, assigned to leonstafford

[2019-01-22 21:09] bfinlay opened #256 "Add DigitalOcean Spaces deployment option"
This could be accomplished by enhancing the region selection data in /library/aws/Aws/data/endpoints.json.php

or by allowing user to explicitly configure endpoint S3 deployment tab and in powerpack/S3.php

examples:
1. https://www.digitalocean.com/community/questions/how-to-use-digitalocean-spaces-with-the-aws-s3-sdks
2. https://www.digitalocean.com/community/projects/adapting-an-existing-aws-s3-

[2019-01-23 02:20] leonstafford commented on #256
Thanks @bfinlay, it is about time to get some new deployment options in.

I've shifted away from the aws ADK in the upcoming release, as it was quite heavy just for S3 & CloudFront, but will be fine to use DO's API directly.

Have you looked at the WP-CLI functionality within the plugin yet? It allows a lot of flexibility with integrating into custom workflows.

Also, thanks for buying a license,

[2019-01-23 02:23] leonstafford opened #257 "Check basic auth being applied in 6.3 preview"
investigate

[2019-01-23 02:24] leonstafford opened #258 "cURL warnings in 6.3 preview"
investigate:

Warning: Use of undefined constant ch - assumed 'ch' (this will throw an Error in a future version of PHP) in /var/www/html/wp-content/plugins/static-html-output-plugin/library/StaticHtmlOutput/SiteCrawler.php on line 314

[2019-01-23 02:26] leonstafford opened #259 "renaming missing dir warning in Bitnami"
Trying to rename non-existent directory: /opt/bitnami/apps/wordpress/htdocs/wp-content/uploads/wp-static-html-output-1548194770/content/inc/sitepress-multilingual-cms

[2019-01-23 09:56] leonstafford opened #260 "add WP-CLI actions to check rewrite rules"
make more comprehensible in the code, with keys/examples in array for both original->placeholder and placeholder->target rewrite rules

[2019-01-23 10:32] leonstafford opened #261 "protocol relative link on http site being rewritten to to full https in deploy"
check rewrite rules within the placeholder rewriting phase

[2019-01-23 10:44] leonstafford commented on #261
ie:

WP url:

`http://mydomain.com`

on-page:

`//mydomain.com/somelink`

Destination URL:

`https://mystaticsite.com`

resulting link on destination page:

``https://mystaticsite.com/somelink`

[2019-01-23 12:16] #257 closed, assigned to nobody

[2019-01-23 12:16] #258 closed, assigned to nobody

[2019-01-23 16:17] leonstafford opened #263 "Add new deployment options (Azure, DO Spaces, etc) as separate plugins"
allows more freedom to have multiple plugins for opinionated version of the same deployment types, better separation of concerns

[2019-01-24 08:04] azdanov opened #264 "Messed up DOM after exporting"
After exporting `blockquote` html tag gets messed up. I am using Netlify export.

Here's the live website: https://wordpress-first.netlify.com/markup-html-tags-and-formatting/

Here are some screenshots:

Local:
<img width="1280" alt="screenshot 2019-01-24 at 10 00 56" src="https://user-images.githubusercontent.com/6123841/51663315-1e5aea00-1fbf-11e9-9f69-481ca090554e.png">

Exported:
<img width="

[2019-01-24 08:06] azdanov commented on #264
Just a guess, but maybe the html parser thinks that `The HTML <blockquote> Element...` text contains real tags.

[2019-01-24 10:11] leonstafford commented on #264
Many thanks for finding this, @azdanov!

I have to tidy up some unit tests today for HTML parser, so will try to get this fixed the same time.

[2019-01-24 14:51] fmt opened #266 "Buckets with dots on it's names (ie www.bucket.com) will fail export on 6.3"
If the bucket name has one or more dots, uploading will fail completely with an "Error : Failed to upload" message both on CLI and web interface

[2019-01-24 16:21] leonstafford opened #267 "roots.io sage dist folder not detected for export"
to investigate

webpack generated `dist` dir may contain `scripts, styles, fonts, images`. In user-reported case, only images was missing, but adding via Additional URLs solved it.

Look to detect Sage theme or dist dir and add to additional URLs

This may be a good time for me to try a companion plugin, like WP2Static Sage or such, to hook into the URLs queue and add Sage-related things...

[2019-01-24 18:13] leonstafford opened #268 "escaped URLs not being properly rewritten"
investigate, check diagnostics theme

[2019-01-24 18:17] leonstafford opened #269 "S3 test upload returning false positives"
investigate, along with other deploy tests. likely OK'ing the 2xx/3xx status, not the correct body

 - [X] s3
 - [x] bitbucket
 - [x] bunnyCDN
 - [x] github
 - [x] gitlab
 - [x] netlify
 - [x] ftp

[2019-01-25 21:59] leonstafford opened #270 "Look into working with an index.php/my-post-name/ permalink setup"
Was apparently working in 5.8 or earlier, but not in 6.3+

[2019-01-26 09:02] marcfilleul commented on #254
I'm not sure it can be handled by WP2Static because I've tried many website crawlers without success.

When uploading images, YOOtheme Pro will automatically create additional resized versions: 768px, 1024px, 1366px, 1600px, 1920px, 200%. Therefore, it's recommended to upload images with high resolution. Thanks to the srcset attribute, the best image source for a visitor's device will be loaded.

[2019-01-26 09:03] marcfilleul commented on #216
YooTheme doesn't use `/wp-content/uploads/` for jpg or webp images but a cache directory where dynamically generated images are stored.

See this thread for more details : [https://github.com/leonstafford/wp2static/issues/254](https://github.com/leonstafford/wp2static/issues/254)

[2019-01-26 09:40] marcfilleul opened #271 "YOOtheme Pro - Some directories are not crawled"
Hi,

When exporting to static with YOOtheme Pro theme, there are some missing files and directory.

Here is the "parent" path : `wp-content/themes/yootheme/vendor/assets/uikit-themes/`

In this directory there are many directories corresponding to different styling schemes but only one is used on a given site, the one corresponding to the active style.

And in this active directory there are some

[2019-01-26 11:06] #269 closed, assigned to nobody

[2019-01-26 11:08] #249 closed, assigned to nobody

[2019-01-26 11:09] leonstafford commented on #271
related to https://github.com/leonstafford/wp2static/issues/254

look at both together

[2019-01-26 11:28] leonstafford opened #272 "check for mod pagespeed"
Just output in debug mode is a good start, then can surface to a Pre-flight check

https://stackoverflow.com/a/11106231/1668057

[2019-01-26 13:41] leonstafford commented on #266
@fmt, could you please test the attached, looks to be sorted now.
[s3dotnamefix.zip](https://github.com/leonstafford/wp2static/files/2799034/s3dotnamefix.zip)

[2019-01-26 13:41] #266 closed, assigned to nobody

[2019-01-26 13:42] leonstafford commented on #272
skipping this for now, will get indicator of pagespeed from full debug log

[2019-01-26 13:42] #272 closed, assigned to leonstafford

[2019-01-26 13:55] leonstafford commented on #267
@giacomoalonzi - this should be "fixed" now `dist` was previously added as an exclude,along with other common build files, not realizing this was required for Sage. It may include too much for other libs that have their dist dir included, but can be filtered out in those cases. More is better when it comes to asset detection!

Please give the attached a test. This is now in the `develop` branch

[

[2019-01-26 13:55] #267 closed, assigned to nobody

[2019-01-26 15:39] leonstafford commented on #264
@azdanov, in starting to look into this issue, I think this is more of an HTML validity issue, which when DOMParsing will not cope with.

Suggested solution is to use HTML entities like `&lt; BLOCKQUOTE &gt;` to achieve **< BLOCKQUOTE >**

Please let me know if that's not working and will re-open

[2019-01-26 15:39] #264 closed, assigned to nobody

[2019-01-26 15:50] azdanov commented on #264
Thanks for checking this out.

Will do!

But it's still odd. I was using [Theme_Unit_Test](https://github.com/WPTRT/theme-unit-test) to generate the content. Probably similar issues might occur in the future for other users. Maybe it's worth mentioning in a _Troubleshooting_ section of the readme?

[2019-01-26 16:03] azdanov commented on #264
Okay, still no luck.

<img width="792" alt="screenshot 2019-01-26 at 17 55 57" src="https://user-images.githubusercontent.com/6123841/51789704-7c8cf600-2194-11e9-94d6-5cb089794f34.png">

[2019-01-26 18:00] leonstafford commented on #264
@azdanov - willing to look into it further, but what's the current issue with that one?

I'd need the original source code from the WP site, the published code from the static output and ideally the 2 screenshots again. I'm not quite understanding the issue, sorry

[2019-01-26 18:09] leonstafford commented on #260
drop. is output in Debug Mode now

[2019-01-26 18:09] #260 closed, assigned to nobody

[2019-01-26 18:09] leonstafford commented on #259
solved via Slack

[2019-01-26 18:09] #259 closed, assigned to nobody

[2019-01-26 18:20] leonstafford commented on #230
in WP core. not fixing

[2019-01-26 18:20] #230 closed, assigned to nobody

[2019-01-26 18:21] leonstafford commented on #227
won't fix here. will separate out into own plugin

[2019-01-26 18:21] #227 closed, assigned to leonstafford

[2019-01-26 18:22] leonstafford commented on #232
closing and will deal with in greater documentation work

[2019-01-26 18:22] #232 closed, assigned to leonstafford

[2019-01-26 18:29] azdanov commented on #264
[Original - Pastebin](https://pastebin.com/JGywKQK9)
[Static - Pastebin](https://pastebin.com/Umx7cyEk)

<details>

<summary>
Original
</summary>

[code]

</details>

<details>

<summary>
Static
</summary>

[code]

</details>

In original the line 108 is `<code>&lt;blockquote&gt;</code>`.

<img width="1280" alt="screenshot 2019-01-26 at 20 20 57" src="https://user-images.githubusercontent.com/6123

[2019-01-26 18:40] #234 closed, assigned to nobody

[2019-01-26 18:41] leonstafford commented on #236
fixed in 6.3 (offline ZIP mode to ignore base href and relative URL settings)

[2019-01-26 18:41] #236 closed, assigned to nobody

[2019-01-26 18:43] leonstafford commented on #231
This is expected behaviour. The relative URLs `A/D/E/public/js/js_composer.js` or such, will be appended to the Base HREF of `/` if both are set like that.

Please re-open if not working as expected

[2019-01-26 18:43] #231 closed, assigned to nobody

[2019-01-26 18:44] leonstafford commented on #215
fixed in 6.3

Issue was with offline zip mode still using the Base HREF and relative link settings, which it needed to ignore. One other user had issues with this that were resolved by disabling Jetpack plugin

[2019-01-26 18:44] #215 closed, assigned to nobody

[2019-01-26 18:45] leonstafford commented on #211
closing. later optimization/investigation

[2019-01-26 18:45] #211 closed, assigned to nobody

[2019-01-26 18:45] leonstafford commented on #208
closing, low impact

[2019-01-26 18:45] #208 closed, assigned to nobody

[2019-01-26 18:52] #201 closed, assigned to nobody

[2019-01-26 18:53] leonstafford commented on #203
will only show in Debug Mode, where more info is better

[2019-01-26 18:53] #203 closed, assigned to nobody

[2019-01-26 18:54] leonstafford commented on #199
closing, 404's will be shown in Debug Mode

[2019-01-26 18:54] #199 closed, assigned to nobody

[2019-01-26 18:58] leonstafford commented on #200
This should be handled early on, when setting the placeholder URLs.

Start with failing test

[2019-01-26 18:59] leonstafford commented on #204
duplicates https://github.com/leonstafford/wp2static/issues/240

[2019-01-26 18:59] #204 closed, assigned to nobody

[2019-01-26 19:13] szepeviktor opened #273 "Proper library usage"
Please use composer in the repo

- sabberworm/php-css-parser
- nicolab/php-ftp-client
- pear/net_url2

Use composer autoloader.

Install composer packages in release process.

Exclude non-production files from the release zip.

[2019-01-26 19:19] leonstafford commented on #273
Hi @szepeviktor, probably not going to do this, as I can't control each user's installation environment. Unless you have other suggestions / examples of other WP plugins using such a workflow?

[2019-01-26 19:21] szepeviktor commented on #273
I've meant it for **this repo only**

When you release to WP.org `composer install ...` will add those libs.

[2019-01-26 19:30] leonstafford commented on #273
Ok, still open to this, but not convinced it's possible.

We'd want to custom namespace libraries to avoid conflicts with other plugins who've used the same names for these with slightly different versions.

The URL lib will be phased out soon. FTP can be rewritten to own-code and just left with the CSS Parser.

I'd like to avoid external libs in the project as much as possible.

[2019-01-26 19:47] szepeviktor commented on #273
[The GitHub Wiki](https://github.com/leonstafford/wp2static/wiki) is a great place to keep your release check-list!

[2019-01-26 19:56] #214 closed, assigned to nobody

[2019-01-26 19:58] leonstafford commented on #273
Cheers. I'm shifting all docs to GH readme files vs separate static site (more focus, less tools). I'd prefer to keep them in markdown files than GH wiki for more portability further down the line. I'll get better contributor guidelines in soon!

[2019-01-26 20:00] leonstafford commented on #273
* Killed the Wiki, as was very out of date and not going to be used going forward

[2019-01-26 21:46] azdanov opened #275 "Page crawl depth"
The issue is with crawling depth for blog and comment pages.

For example on a blog page [blog/](https://wordpress-first.netlify.com/blog/) there is a link to [blog/page/2/](https://wordpress-first.netlify.com/blog/page/2/) which works fine. But on [blog/page/2/](https://wordpress-first.netlify.com/blog/page/3/) there is a link to [blog/page/3/](https://wordpress-first.netlify.com/blog/page/3/) wh

[2019-01-27 01:42] leonstafford commented on #275
@azdanov, which theme is this using? The plugin used to be more a traditional crawler, but now infers knowledge of URLs from WordPress for the first level and crawls one more level after that.

I'll look into the detection of the post/comment pagination URLs. We want to see them all in the initial crawl list preview on the Crawling tab

[2019-01-27 02:44] fmt commented on #275
@azdanov meanwhile you could use something like:
[code]

[2019-01-27 03:52] #273 closed, assigned to nobody

[2019-01-27 04:17] leonstafford opened #276 "homepage missing on certain sites"
appears fixed, awaiting confirmation
[6.4-dev.zip](https://github.com/leonstafford/wp2static/files/2799761/6.4-dev.zip)

[2019-01-27 04:25] leonstafford commented on #224
low priority

[2019-01-27 04:25] #224 closed, assigned to nobody

[2019-01-27 05:13] azdanov commented on #275
@leonstafford It's a custom theme based on [Sage](https://github.com/roots/sage). Here is it's repo: [azdanov/wordpress-first](https://github.com/azdanov/wordpress-first).

@fmt Thanks!

[2019-01-27 05:19] leonstafford commented on #275
Thanks @azdanov, I'll use that to test.

[2019-01-27 08:24] leonstafford commented on #235
creating `news` custom post type via Toolset Types

[2019-01-27 09:07] leonstafford commented on #235
Permalinks set as follows, after adding the custom post type and some FakerPress generated content

![custompostpermalinks](https://user-images.githubusercontent.com/2066833/51798956-ddc8ce00-2255-11e9-82ca-d25314560f7e.png)

I can now access `/news/` and see paginated archive view of news posts with URLs like:

http://example.test/news/cupiditate-qui-eos-incidunt.html

[2019-01-27 09:27] leonstafford commented on #235
Errored on first run.

Logs show

That's good.

`news/page/2` and `news/page/6` is in log

Initial crawl list preview shows:

[code]

So, no pagination at all (fix during this as part of https://github.com/leonstafford/wp2static/issues/275)

Last few lines of log before erroring were:

[code]

Server-side logs showed:

[code]

Likely just local env specific, retrying

[2019-01-27 09:40] leonstafford commented on #235
re-ran with crawl increment set to 1, completed fine. Exported static site appears fine, with the `/news/blah.html` working well.

`news/page/2` exists, but `news/page/3` onwards are not all there.

[2019-01-27 09:56] leonstafford commented on #235
pseudo-code for getting pagination URLs:

[code]

[2019-01-27 10:02] leonstafford commented on #275
I should have this working in first version tonight, with something like this in the FilesHelper class:

https://github.com/leonstafford/wp2static/issues/235#issuecomment-457904099

[2019-01-27 11:20] azdanov commented on #235
@leonstafford Nice! Is there a similar function as `get_option( 'posts_per_page' )`, but for comments?

[2019-01-27 11:22] leonstafford commented on #235
@azdanov ah, good point, forgot about comments!

`comments_per_page` is available, along with whatever's on the Settings > Discussion page.

There's always the chance that themes will override these values, but this should get us most of the way there...

[2019-01-27 14:47] leonstafford commented on #235
For this issue, problem looks solved, based on following initial crawl list and testing.

Continuing on with category and comment pagination links in https://github.com/leonstafford/wp2static/issues/275

[code]

[2019-01-27 14:53] leonstafford commented on #235
need plural forms of post types

[2019-01-27 14:59] leonstafford commented on #235
* with the custom .html permalinks, we're also getting `xxx.html/feed/` links throwing notices in logs. Ignorable for now

[2019-01-27 15:16] leonstafford commented on #275
Remaining to fix in this issue:

- [x] category pagination URLs
- [x] comment pagination URLs

[2019-01-27 15:17] #235 closed, assigned to nobody

[2019-01-27 15:27] azdanov commented on #275
I've also noticed:

- [x] tags pagination URLs

[2019-01-27 15:51] leonstafford commented on #275
^ luckily, tags came for free with the category code (both taxonomy > term elements)

[2019-01-27 15:58] leonstafford commented on #275
damn, one more:

Posts that split across multiple pages (will make new issue for that)

[2019-01-27 15:59] leonstafford opened #277 "detect URLs for posts that span multiple pages"
test, may already be covered with post URL detection

[2019-01-27 16:02] leonstafford opened #278 "Add Permalinks structure to Debug Logging"

[2019-01-27 16:13] leonstafford commented on #275
w00t, got it

[code]

[2019-01-27 16:30] #275 closed, assigned to nobody

[2019-01-27 16:31] azdanov commented on #275
@leonstafford Good job!

[2019-01-27 16:44] leonstafford opened #280 "Update tagline and imagery"
for wp.org and within plugin settings screen:

[2019-01-27 21:34] sebascontre opened #281 "Homepage missing when generate from WP-CLI"
Hi, the plugin works without problems when I mannually go to the settings page and hit the "Start static site export", but when I use the WP-CLI command, for some reason, the homepage is generated as a 404 wordpress error. ("The page can’t be found.")

[2019-01-28 01:42] leonstafford commented on #281
Hi @sebascontre,

Thanks for reporting. I presume this to be with version 6.5?

I'm looking into a similar issue reported here and have an idea what may be causing it:

https://forum.wp2static.com/-64#post-9

Expect a fix out today.

Cheers,

Leon

[2019-01-28 01:54] #281 closed, assigned to leonstafford

[2019-01-28 11:08] leonstafford opened #283 "Roadmap / feature requests"
This serves as a roadmap, so you can see what's coming up.

Something missing? Add your feature request as a comment below.

Need a new feature in a hurry? Contact leon@wp2static.com to sponsor a feature and have it fast-tracked

# Roadmap

_TODO: migrate existing from https://forum.wp2static.com_

### Deployments

 - [ ] option to rewrite forms to Netlify, Formspree, Basin, etc
 - [ ] deploy to D

[2019-01-28 11:08] leonstafford commented on #280
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-28 11:08] #280 closed, assigned to nobody

[2019-01-28 12:29] leonstafford opened #284 "Creating an issue / Troubleshooting | バグを報告する"
# Before creating an issue / filing a support request

 - [ ] try to troubleshoot the issue yourself (see [Troubleshooting guide](https://forum.wp2static.com/-33/how-to-troubleshoot-a-failing-export))
 - [ ] prepare as much information as possible to help the developer
 - [ ] Identify the issue as likely: **Theme** / **Plugin** / **Environment** or **WP2Static bug**

## Determining if it's an issu

[2019-01-29 05:51] leonstafford opened #287 "deployers struggling with @ in filenames"
as first reported in https://wordpress.org/support/topic/s3-deploy-issue-with-filenames-containing-2x/

user solution involved encoding `@` as below:

[code]
Check each deploy method to see which are affected and add a universal method to deal with it

Test out URL encoding of all S3 filenames when transferring or alternatively, set the **content-disposition** metadata, as per:

 - https://stackov

[2019-01-29 09:36] mylesagnew opened #288 "Cloudflare Blocking with Captcha"
When converting a site from WP to Static HTML the conversion process appears to use external IP or resource to do the scan.

[https://www.dropbox.com/s/whfxnngyo5fhlyb/2019-01-29_17-24-57.png?dl=0](https://www.dropbox.com/s/whfxnngyo5fhlyb/2019-01-29_17-24-57.png?dl=0)

[2019-01-29 10:02] mylesagnew commented on #206
WP2STATIC:Version 6.5.3
Missing JS files from "REVSLIDER"
[https://www.dropbox.com/s/6y06va75v7ly3ga/2019-01-29_19-57-23.png?dl=0](url)
Directory listing
[https://www.dropbox.com/s/j3wc9cgyt7gcjq4/2019-01-29_20-01-54.png?dl=0](url)

[2019-01-29 18:39] swtrse opened #290 "404 page when exporting files from theme"
I tried to run wp2static to deploy a static version to the local file system.
I can use a workaround for copy this files manually but that is not the desired state.
The /wp-content/themes/ribosome-pro/css/font-awesome-4.7.0/fonts is my problem.
The /wp-content/themes/ribosome-pro/css/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2 is perfectly awailable https://2018.aninite.at/wp-content/themes

[2019-01-29 20:27] leonstafford commented on #290
Hi @swtrse thanks for reporting the issue. I don't think there's any specific rules for woff or woff2 in the plugin, so appears to be a rewriting/parsing issue of some sort (the 2018s?).

By logs, did you try the Debug Log? Able to email that through to me: leon@wp2static.com

[2019-01-30 04:13] leonstafford opened #291 "catch exception when crawl list encouters file permission issues"

[2019-01-30 04:14] leonstafford commented on #291
prevents initial crawl list building from completing when file in question may not be important. Log but don't fail

`.git` dirs should be excluded anyway

[2019-01-30 04:31] leonstafford commented on #237
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:31] #237 closed, assigned to leonstafford

[2019-01-30 04:31] leonstafford commented on #255
partially implemented, moving to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:31] #255 closed, assigned to leonstafford

[2019-01-30 04:32] leonstafford commented on #233
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:32] #233 closed, assigned to nobody

[2019-01-30 04:33] leonstafford commented on #225
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:33] #225 closed, assigned to nobody

[2019-01-30 04:34] leonstafford commented on #219
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:34] #219 closed, assigned to nobody

[2019-01-30 04:36] leonstafford commented on #278
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:36] #278 closed, assigned to nobody

[2019-01-30 04:36] leonstafford commented on #277
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:36] #277 closed, assigned to leonstafford

[2019-01-30 04:36] leonstafford commented on #263
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:36] #263 closed, assigned to nobody

[2019-01-30 04:37] leonstafford commented on #256
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:37] #256 closed, assigned to leonstafford

[2019-01-30 04:38] leonstafford commented on #253
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:38] #253 closed, assigned to nobody

[2019-01-30 04:40] leonstafford commented on #251
moved to https://github.com/leonstafford/wp2static/issues/283

[2019-01-30 04:40] #251 closed, assigned to nobody

[2019-01-30 05:09] leonstafford commented on #288
Thanks @mylesagnew,

I use CloudFlare primarily for caching performance when I use it.

I turn off/lower their firewall rules like this:

![cfsecurity](https://user-images.githubusercontent.com/2066833/51959504-a9d8ed00-248f-11e9-868b-6a54b9222ea3.png)

For me, this wasn't out of compatibility with crawling with WP2Static, but that when I travel especially, I get CloudFlare security warning pages.

[2019-01-30 05:09] #288 closed, assigned to nobody

[2019-01-30 05:11] leonstafford commented on #288
* the IP seen there looks like your server's IPv6 one. Do you get the same from an `ifconfig` on the server?

[2019-01-30 05:14] mylesagnew commented on #288
Server IP's are whitelist both IPV4 and V6 I will double check in the configuration rules on Cloudflare.

[2019-01-30 06:42] leonstafford commented on #288
it would be nice if the plugin could alternately crawl on an internal address. for UI based crawls, it could work, ie where wp-config.php sets the Site URL and Home via `$_SERVER['HTTP_HOST']`, but not for WP-CLI, where this isn't available... Bypassing CloudFlare or even just https could speed up the crawls quite a bit...

I'll make a new task to attempt a solution to this, but not likely to have

[2019-01-30 07:10] leonstafford commented on #197
discovered that adding a delay between crawls allows time to certain servers to close up files and avoid this error...

[2019-01-30 07:28] #197 closed, assigned to nobody

[2019-01-30 07:28] leonstafford commented on #197
fixed on `develop` scheduled for 6.6 release

[2019-01-30 11:17] swtrse commented on #290
Today I activated debug mode and started a new export.
The error was gone, so I deactivated debug mode and started a new export.
The error is still gone.
It seems like there was some caching issue yesterday.
I would consider it solved since the error is gone.
The thing I am not happy about is that I sepend 3 hours+ yesterday to solve this error and today it is not reproducable.

[2019-01-30 12:46] leonstafford commented on #290
We should trade our :keyboard:  for :hammer: & :triangular_ruler:  and be content with carpentry :smile_cat:

Glad it's sorted itself out, please let me know if it reappears.

[2019-01-30 12:46] #290 closed, assigned to nobody

[2019-01-31 15:13] bardaxx commented on #268
the bug seems appearing when the url is in https

[2019-01-31 15:41] bardaxx commented on #267
@leonstafford nope, there's an error in the crawling process, but it's not printed out in the debug log

[2019-01-31 18:53] leonstafford opened #292 "replace double slashes with single in Detected URLs queue"
do after hook, in case any user-submitted ones are also in

[2019-01-31 19:13] leonstafford opened #293 "not forcing https in placeholder URLs when Destination URL is https protocol"
scenario:

User's site is running at https://domain.com

Site URL is defined as https://

But there are links in posts or theme still to http://

When doing rewrite to placeholder URLs, if protocol is https://, need to ensure all placeholder URLs written as https (unless protocol relative ones)

[2019-01-31 20:20] leonstafford commented on #292
local dev reproducible:

`/category/uncategorized//page/1`

[2019-01-31 20:41] #292 closed, assigned to nobody

[2019-01-31 20:44] leonstafford commented on #287
closing with quick fix to be released in 6.6, more comprehensive fix to be revisited

[2019-01-31 20:44] #287 closed, assigned to nobody

[2019-01-31 21:41] leonstafford commented on #293
releasing in 6.6

[2019-01-31 21:41] #293 closed, assigned to nobody

[2019-01-31 22:23] leonstafford commented on #276
should be fixed now

[2019-01-31 22:23] #276 closed, assigned to nobody

[2019-01-31 22:42] pperrin opened #295 "Relative links setting being ignored."
I have no fancy settings - almost all default...

I am creating to a sub-directory on the current site (http(s)://(etc)/staticsite

But although I have checked 'relative links' - despite this all links are fully specified 'http(s)://(etc....).

Setting a 'site url' means that URL is prepended to all links.... and adding a HREF base adds that tag, but makes no difference to the embeded URLs.

[2019-01-31 22:42] pperrin opened #296 "I have a site with lots of posts using the [audio] quick code - but the relevant images don't get saved."

[2019-01-31 22:46] leonstafford commented on #295
Many thanks for filing these issues, @pperrin. Should be able to dive into relative link functionality soon and cover with unit tests to get it working and stop it breaking (which I think the case is here, likely related to some recent changes to the core URL rewriting mechanisms).

[2019-01-31 22:47] pperrin commented on #296
I have sites with posts using the [audio] short code, I am creating the static site in a 'subdirectory' - wp2static doesn't copy the audio control image buttons into the subdirectory structure. The 'play' and 'mute' buttons are just black blank buttons.

The theme style sheets mostly seem to work - but these images (referenced via the style sheet) are in the  includes-JS folder -- some things from

[2019-01-31 22:48] leonstafford commented on #296
Thanks Paul, I wasn't aware (or have long forgotten) about this [audio] shortcode being a built-in WP feature: https://codex.wordpress.org/Audio_Shortcode

Should be able to sort this out for you and others in the near future.

[2019-02-01 17:04] leonstafford opened #299 "Allow overriding port used in cURL"
* this doesn't address issues with Destination URL custom port support

[2019-02-01 21:35] leonstafford opened #301 "s3 failing for certain region / bucket name combinations"
needs testing for all regions with and without dots in names

switch endpoints as per previous issue around dots in bucket names discusses

[2019-02-01 21:36] leonstafford opened #302 "update DDVs with latest S3 regions"

[2019-02-01 22:01] leonstafford commented on #301
deploying to "new" s3 buckets seems OK, old is having the issue

[2019-02-02 16:06] leonstafford commented on #301
|region|bucket name|result
|---|---|---
|us-east-1|wp2staticnodotsuseast1| :ok_hand:
|us-east-1|wp2static.with.dotsuseast1| :ok_hand:
|eu-north-1|wp2staticnodotseunorth1| :ok_hand:
|eu-north-1|wp2static.with.dotseunorth1|

[2019-02-02 16:30] #301 closed, assigned to leonstafford

[2019-02-02 16:30] #302 closed, assigned to nobody

[2019-02-02 17:38] leonstafford opened #304 "Detected URLs /posts/page/n needs to replace to /posts/page/n"
- check for `posts` having been renamed
- strip out of getAllWPPostxxxx function in FilesHelper

[2019-02-03 18:35] leonstafford opened #305 "bump min requirements to PHP 7.2 or at least 7"
Note: I have a simplified version of the plugin that will work with older sites I'm going to make available, that can likely support PHP 4 or earlier versions and will still do an OK job at exporting. Once exported, that can be deployed with the latest plugin version...

[2019-02-04 01:38] leonstafford opened #306 "fix for subsequently crawled malformed URLs overwriting homepage with a 404"
to be investigated.

possibly a case of `/?some=malformed&url=whatver` being detected or generated from a plugin or such

multiple potential issues:

 - shouldn't be detected
 - shouldn't be saving results of a 404 request
 - shouldn't be saving to a path already written during export

awaiting some user Debug Logs to have some clear examples

[2019-02-04 02:50] #304 closed, assigned to leonstafford

[2019-02-04 02:52] leonstafford commented on #304
Basic stripping of `/posts` implemented. This will work for most use cases. Various user customizations could change default posts slug. Those may be rewritable via the Processing tab options

[2019-02-04 14:00] dmeagor opened #307 "relative urls adding http:/"
Trying to do a simple deploy to folder (and manual git push due to git issues) using relative urls but the links are rewritten with http:

http:/wp-content/somefolder/

Note the single / after http.

It seems impossible use relative urls anyway as you are forced to enter something into the Destination URL, so I've had to enter root / as the value.

I'm fairly sure that relative URLS should be the

[2019-02-06 06:26] iloveoss commented on #295
+1 for this issue. I am experiencing the same issue. No matter what setting I choose the generated HTML files don't have relative path.

[2019-02-07 19:29] leonstafford opened #309 "halt processing if n subsequent/initial pages fail to return valid response"
ie, just debugged issue where:

WP URLs are mydomain.com

but was getting curl errors (not properly surfaced) of unable to access, same with wget mydomain.com from the host.

adding WP site URL (mydomain.com) to /etc/hosts resolves the issue, but need to catch this earlier to save headaches and lengthy debugs...

[2019-02-07 19:30] leonstafford commented on #309
maybe do a "test crawl" of homepage first and fail quickly.

[2019-02-08 02:09] #299 closed, assigned to leonstafford

[2019-02-08 11:39] jalbstmeijer opened #310 "static home page looks different from the original WP"
Hi,

Just testing wp2static  6.6.2 on a freshly installed wp-5.0.3, using the "Subdirectory on same server" output option.
I expected the static home page to look the same as the original from WP.

But I seem to get "page" content on the static home where I do not get that on the original WP output.

I'm I missing something?

Gr, J

![static_output](https://user-images.githubusercontent.com/362000

[2019-02-08 14:48] leonstafford commented on #310
Hi @jalbstmeijer, it does seem to be a new bug affecting a few people. Not sure yet whether it's down to a particular theme, permalinks setting or plugin.

Could you please run this latest build, with Debug Mode enabled (Advanced tab) and email me through the results: leon@wp2static.com
[test_fix_404_homepage.zip](https://github.com/leonstafford/wp2static/files/2845538/test_fix_404_homepage.zip)

[2019-02-08 15:20] jalbstmeijer commented on #310
Hi Leon,
test_fix_404_homepage.zip is not producing any static output for me.
So I mailed a log of est_fix_404_homepage.zip and 6.6.2.
Gr, J

[2019-02-08 15:26] jalbstmeijer commented on #310
"Not sure yet whether it's down to a particular theme, permalinks setting or plugin"

Just to be clear, I'm testing against a fresh WP 5.0.3 install.
Only actions taken are wp2static plugin install and config.

[2019-02-08 15:45] leonstafford commented on #310
@jalbstmeijer few things that may help from your logs:

 - upgrade PHP to 7+ (7.2 minimum recommended, as it's the oldest actively supported)
 - define permalinks in WP dashboard > Settings > Permalinks

Could you please try at least the Permalinks and send me another log?

[2019-02-08 15:50] leonstafford commented on #310
Comparison of environments users are experiencing this issue:

PHP | WP URL | Desintation URL | OS | Permalinks | WP
--- | --- | --- | --- | --- | ---
5.6.4 | http://domain.local | http://domain.local/subdir/ | AMZ Linux | none | 5.0.3
7.2.10 | http://ipaddress | https://domain.tld/ | buntu 18.04 | /%postname%/ | 5.0.3

[2019-02-08 15:52] leonstafford commented on #310
I'm going to test against a few more environments now to reproduce

[2019-02-08 16:05] leonstafford commented on #310
tested against vultr WP app instance:

success message, but no zip

archive dir empty, errors in php-fpm logs:

running again with Debug Mode enabled:

[2019-02-08 16:07] leonstafford commented on #310
logs not containing any lines of file saving:

[code]

[2019-02-08 16:13] leonstafford commented on #310
@jalbstmeijer please try the latest attached
[fix_not_saving.zip](https://github.com/leonstafford/wp2static/files/2845866/fix_not_saving.zip)

[2019-02-08 16:23] jalbstmeijer commented on #310
with permalinks /%postname%/ enabled I get the expected output (it is php 5.6.40 btw)

[2019-02-08 16:41] jalbstmeijer commented on #310
I now get static output with this dev version.
To be honest I never noticed the "You need to set your WordPress Pemalinks" message before.
So I think that was my problem.
Maybe just not only mention this need, but also disable the "Start static site export" button in case no permalink is set?

[2019-02-08 16:43] leonstafford commented on #310
Hi @jalbstmeijer - yes, very poor UX, used to have a bit more blocking there, planning an overhaul of such issues.

It may still not have worked for you with permalinks due to this other issue, but glad it's outputting for you now!

Please feel free to email/open GH issue for any other issue you're encountering.

Oh, did this sort the homepage showing a static WP page for you?

[2019-02-08 17:24] jalbstmeijer commented on #310
No, in my case it was 100% the permalink not being configured.

php-5.6.40 + wp-5.0.3 + wp2static-6.6.2  generates now the correct output

But happy I could help debug the dev not creating output bug

[2019-02-08 18:44] leonstafford commented on #310
Ok, great to hear!

I was thinking to change the minimum supported PHP version to 7.2 in the next release, but I'll instead just make that an encouragement within the plugin. Users wanting to migrate old WordPress sites without worrying about server upgrades will then not be discouraged. Removing the heavy AWS SDK and other libraries in recent releases should make dependencies very low now... curi

[2019-02-08 18:47] leonstafford commented on #305
in not wanting to discourage users who may be looking to WP2Static as a means to archive an old site or simply keep publishing an old site without worrying about upgrading the server it's on, keeping the required version to 5.6 for now, but should do some testing on pre 5.3 environments, now that the dependencies are much less...

[2019-02-08 18:47] #305 closed, assigned to nobody

[2019-02-09 18:56] #310 closed, assigned to leonstafford

[2019-02-10 02:45] leonstafford opened #311 "detect fonts required by Beaver Builder"
ie, user needed to add the following to Additional URLs:

[code]

[2019-02-10 17:51] Semonxue opened #312 "New feature for export pages to custom gitlab instance"
It's great to see this plugin can export site to gitlab to match CI/CD progress. Now export only work for `gitlab.com` not for gitlab custom instance.

It will be more useful if wp2static can support it. Maybe just change the git remote url to upload. And add one more input `gitlab instance URL` before `Destination URL`.

Thanks for this great work.

[2019-02-10 21:43] leonstafford opened #313 "rewriting issue on certain links"
original to placeholder fine, but placeholder is remaining on certain anchors

 - seen on http -> https site
 - possibly when site url link does/n't have slash on the end
 - expand test dataset in unit test to cause fail, implemenent fix

[2019-02-11 11:46] leonstafford opened #314 "wp footer not staying hidden"
![overlapping](https://user-images.githubusercontent.com/2066833/52561223-5b333780-2e2d-11e9-9450-12a63bdd1cbf.png)

FFox

[2019-02-12 11:37] leonstafford commented on #268
@giacomoalonzi thanks for your patience with this. Have isolated the cause to when the original WP site is one protocol (http/s) and destination URL is another. fix to follow soon

[2019-02-12 11:38] leonstafford commented on #313
unit tests expanded, this should be fixed. leaving open until further verification

[2019-02-13 00:15] #268 closed, assigned to nobody

[2019-02-13 07:44] leonstafford opened #315 "reports of .mp4's not being included in the crawl"
need to check that additional URLs overrules any other exlusions/filters

[2019-02-13 10:21] bardaxx commented on #268
thank you @leonstafford !!!

[2019-02-14 18:30] leonstafford commented on #313
fixed in 6.6.4

[2019-02-14 18:30] #313 closed, assigned to leonstafford

[2019-02-15 00:43] leonstafford opened #316 "offline zip including destination URL in output"

[2019-02-15 09:17] leonstafford opened #317 "php 5 incompat array dec"
failed to be detected in testing - need to check PHPCodeSniffer rules

[2019-02-15 09:19] leonstafford commented on #317
fixed build attached
[6_6_4_php5.zip](https://github.com/leonstafford/wp2static/files/2868585/6_6_4_php5.zip)

[2019-02-15 10:35] leonstafford commented on #317
updated
[6_6_4_php5_b.zip](https://github.com/leonstafford/wp2static/files/2868874/6_6_4_php5_b.zip)

[2019-02-15 11:05] leonstafford commented on #317
https://github.com/PHPCompatibility/PHPCompatibility

Try to get as old compatibility as possible

[2019-02-17 06:25] leonstafford commented on #317
[6_6_4_php5_d_uncompressed.zip](https://github.com/leonstafford/wp2static/files/2872713/6_6_4_php5_d_uncompressed.zip)

[2019-02-17 06:28] #317 closed, assigned to nobody

[2019-02-17 13:03] leonstafford commented on #212
working on this now. ensuring URLs are crawled and properly rewritten. being a group of one or more URLs with the trailing information, these are initially being handled by a different process than the existing image processing functions.

[2019-02-17 13:09] #316 closed, assigned to nobody

[2019-02-17 13:34] #212 closed, assigned to leonstafford

[2019-02-18 03:52] leonstafford commented on #312
moved to roadmap parent ticket https://github.com/leonstafford/wp2static/issues/283

[2019-02-18 03:52] #312 closed, assigned to nobody

[2019-02-19 11:21] leonstafford opened #319 "not rewriting links in inline style img srcs"
from https://wordpress.org/support/topic/incorrect-links-to-http-placeholder-wpsho/

 have similar problem with links like http://OFFLINEZIP.wpsho/.... I’m using Manual Deployment (ZIP archive) with checked “Allow offline usage” option. All link paths are transformed good expect places where I use inline styles with background-image in my code:

<div style="background-image: url(<?php echo $image[

[2019-02-19 13:56] stevenwoolston commented on #315
This can probably be closed now after our discussion

[2019-02-19 14:21] #315 closed, assigned to nobody

[2019-02-20 04:13] leonstafford opened #320 "URLs as first class entities"
To reduce complexity and the amount of code, we may introduce the following objects:

### URL

**Properties**

 - `protocol` (`http://`, `https://` or `//`)

**Methods**

 - `getOfflineURL( page_path )`
 -

### Destination URL

**Properties**

 - `protocol` (`http://`, `https://`, `//`, ``) no protocol for offline zips, for example
 - host (`mydomain.com`, ``)
 - `/`

UI to select this, ie

protoc

[2019-02-20 06:08] leonstafford opened #321 "use cURL multi with same size as Crawl Increment"
so that value of 1 is 1 request from client, 1 curl_multi request

100 is 1 curl_multi request of 100 URLs per 1 client request

try on limited shared hosting and increase the default Crawl Increment to a stable amount for a better first export experience for users

[2019-02-20 06:39] leonstafford commented on #321
refactoring needed to make code clearer and allow for isolation of processes

Currently, flow within SiteCrawler (from UI) is as follows:

 - load settings
 - start a crawl (initial or discovered URLs)

Crawl is:

 - check whether to use initial or discovered URLs list
 - check we still have URLs to crawl
 - do actual crawl

Actual crawl (`crawlABitMore()`):

 - load all URLs from crawl list into

[2019-02-20 22:55] chris--jones commented on #319
I have this issue as well affecting all the images on my site. Some images have a src starting with "../https://PLACEHOLDER.wpsho/"

Some links also have a url like `<a itemprop="url" href="../http://OFFLINEZIP.wpsho" class="header-logo logo-image current-logo-main">`

My site is hosted in http, but exposed over https via proxy - not sure if this is affecting things.

[2019-02-24 06:49] internationils opened #323 "Plugin does not work with My Private Site plugin"
Hello,
I have a site set as a private site via the plugin
`jonradio-private-site/jonradio-private-site.php
My Private Site | Creates a Private Site by  allowing only those logged on to view the WordPress web site.  Settings  select the initial destination after login. | Version 2.14.2 | By David Gewirtz`
This means that only logged in users can see the site, everyone else gets a login page. I had

[2019-02-24 07:17] fanzydong531 opened #325 "Delete deploy cache seems not working"
popup says "Deploy cache cleared", but never export full posts. I set one post per page for a test and the static folders only contains the head and tail.

[2019-02-25 05:03] toddheslin opened #326 "cURL error:Could not resolve host"
So I had this bug and fixed it. Opening an issue and closing it such that it will be available for anyone who comes across the same issue.

Core problem: when running export, every URL request was responding with `cURL error:Could not resolve host`. I verified this by ssh-ing into the box and curling the same URL. When doing it from my machine (not SSH), the DNS resolved fine, but when doing it wi

[2019-02-25 05:03] #326 closed, assigned to nobody

[2019-02-25 15:28] leonstafford commented on #325
Hi @fanzydong531, sorry for the late reply.

Are these regular posts or custom posts? Do these URLs appear in your **Initial filelist preview** (Crawl tab)?

Could you please email me a full Export Log (enable Debug Mode in Advanced tab, then the Export Log will appear in Logs tab after re-running export).

[2019-02-25 15:42] leonstafford commented on #323
Hi @internationils,

As mentioned on the other issue, you should be well served by http basic auth to keep the site private. WP2Static will support that with those fields you mentioned. I would suggest replacing the private plugin with a `htpasswd` based authentication. You could also add IP-restrictions as an extra level, if you're not changing IPs to often or have the ability to easily modify th

[2019-02-25 17:09] internationils commented on #323
OK, I switched to HTTP auth, that works, thanks.

[2019-02-25 17:09] #323 closed, assigned to nobody

[2019-02-26 05:21] fanzydong531 commented on #325
@leonstafford, glad have your response.

It works, after I restarted the local server. Thanks for this great plugin.
My environment is XAMPP7.3.2 with PHP 7.3.2, WP 5.0.3 and wp2static 6.6.5. The theme is built-in "Twenty Seventeen".

I wonder how it would be when there're multi-editor maintenance content.

[2019-02-26 05:28] toddheslin commented on #326
Hmm interesting. Just a note that I had this issue pop up again today and it was fixed by running `sudo netplan apply` on the host again. I'll add any more feedback on this thread to help anyone else coming across the same issue.

Note that the site is running fine, it's just the curl requests from the app aren't working.

[2019-02-28 13:44] neuronpartners opened #330 "Optimize deployement : remove css & js version, browser caching, rewriting process"
Hi Leon,

I have several issue with the plugin, depends of the themes & the plugin option.

- i think some issue come from the js & css version parameter
- the time loading could be optimize directly thanks to wp2static with browser caching for example, activating in .htaccess maybe
- rewriting process is a nightmare and takes so much time. It might be possible to simplify it

thanks

Morgan

[2019-03-03 15:39] #321 closed, assigned to leonstafford

[2019-03-03 15:46] leonstafford commented on #306
resolved in prior release

[2019-03-03 15:46] #306 closed, assigned to leonstafford

[2019-03-06 14:50] Albatross19 opened #332 "Canonical tag is removed when checking remove <link> tags"
I have just noticed on two of my test sites that the **canonical** tag is missing from the source code.

I think you should consider adding a warning next to that option regarding this as it might create a significant impact on websites, or add an option to leave some tags in place.

I'm using the latest version which is: 6.6.5

[2019-03-10 03:18] xguya opened #335 "info about number limit pages and advice"
Hello, I use your plugin on websites with 20-30 pages and is ok, do you think could be ok use this plugin on a website with  about 40.000 pages with daily update on some pages?
Is there a way to refresh some pages without reload all pages?

[2019-03-10 18:38] leonstafford commented on #335
Hi @xguya, 40,000 pages will be fine, but it heavily depends on the server you are running the export on and web server/PHP configurations. Otherwise, I cannot give a hard limit advice.

For daily updates, you definitely want the process to be fast. I have some features coming soon to speed up the crawl. For the deploy part, this will already do diff-only deployments for several of the deployment

[2019-03-10 18:38] #335 closed, assigned to nobody

[2019-03-11 17:11] Dayjo commented on #319
Hello,

I am also getting this on link tags for css. I downloaded zip file manually.

![](http://c.dayjo.me/5210fd37c7c6/Image%202019-03-11%20at%205.09.05%20pm.png)

And all external js script tags, although my internal images seem fine.

Let me know if you need any more info.

[2019-03-12 07:05] vladstanca commented on #311
This is also an issue with elementor.

[2019-03-13 15:47] mj-watts commented on #319
@leonstafford I don't know if this is useful information...

I was getting this placeholder output when the urls in wordpress were protocol relative eg. `src="//domain...` or `href="//domain...`, instead of `src="https://domain...` or `href="http://domain...`.

When the url is http or https the placeholder problem disappeared for me.

I was getting this problem when using [Smart Slider](https://sm

[2019-03-14 09:25] Dayjo commented on #319
@altescape yeah, I would say that this was the same cause of the issue for me.

[2019-03-23 09:08] markdicker commented on #332
I came across this issue myself the other week and developed a fix.  I've submitted it for review, so hopefully it will make it into the next release.

[2019-03-27 22:15] vladstanca opened #340 "Ignore certain files and directories in destination directory"
What would be the best way to prevent overriding certain files or directories in the destination directory. Let's say you have a path that is not part of wordpress, maybe a landing page, or widget or something, e.g. mysite.com/special-path/. It would not be a path that would be crawled as part of deployment, but it needs to remain in the destination directory.

If there's no way at the moment, it

[2019-03-31 18:50] leonstafford opened #341 "exclude query string URLs in detection"
ie, Elementor

[code]

[2019-04-02 11:10] jalbstmeijer opened #343 "the cli command wp wp2static deploy does nothing"
Hi,

Using wp2static 6.6.5.

When using the deploy option "sub-directory on current server" the cli "wp wp2static generate" does seem to deploy too, the static output directory is filled.
When clearing the static output directory and running "wp wp2static deploy", the  static output directory stays empty.

I imagined to be able to first generate, and then deploying to different targets by changing

[2019-04-05 12:38] dmeagor commented on #295
Any update on this?  This issue is causing us some serious problems in development as we're having to regenerate multiple versions for each staging and qa environment, as well as for every developer (due to ports.)

[2019-04-05 14:44] leonstafford commented on #295
Hi @dmeagor - most issues will not be patched before version 7 release, but then this is one of the priorities.

[2019-04-09 08:26] sunberrysolar opened #347 "IDEA : upload or update only one page"
It would be great to be able to choose one only page to upload or update, ie for debugging css.
It will be faster than updating the full website each time after a modification.

[2019-04-09 08:50] sunberrysolar commented on #347
Sorry, I just realize it can be done by excluding url !
Thanks for this great plugin

[2019-04-09 08:50] #347 closed, assigned to nobody

[2019-04-14 12:53] mrpatg commented on #283
How about a post processing action?

I want to trigger a CircleCI build when everything is done uploading to github (for instance). Or shoot out a notification or what have you. Right now you could do it by piping in the email to a script, but it would be handy to have.

Thanks

[2019-04-14 13:18] Retrospector commented on #283
It would be great to be able to deploy the Static files to [Minio](https://min.io/), which is a self hosted, Amazon S3 compatible Object Storage, but free, open source and self-hosted.

Thanks a lot for a possible consideration!

[2019-04-15 14:34] asommer70 opened #348 "Can't customize crawl request header user-agent."
I have a sort of odd situation with a WP site that needs to have certain content exported and certain content not.  The way it's setup there are custom WP function calls to apply a different theme, menu, etc depending on the user role.

Previous versions (2.2) of WP2Static used the wp_get_remote function to crawl the site.  This function set the curl request User-Agent to 'WordPress/5.1.1; https:/

[2019-04-16 13:52] asommer70 commented on #348
On further investigation I found the user-agent header check in the site theme that determines what styles and layout to apply.  I can simply adjust that code instead of changing the plugin.

So unless there is a demand for custom user-agents please feel free to deny the pull request.

Thanks for your time!

[2019-04-19 10:34] leonstafford commented on #348
Thanks @asommer70 - good option to have, will get this in for version 7 soon

[2019-04-19 10:57] leonstafford commented on #348
@asommer70 - added in https://github.com/WP2Static/wp2static/commit/236e0abb22b8580773ed6d06db780c4d41b3fcdc

[2019-04-19 10:57] #348 closed, assigned to nobody

[2019-04-23 10:13] rluisr opened #351 "Does not exist "WP-STATIC-PROGRESS.txt""
When I execute "start static site export" but failed with "Failed during "Crawling initial file list", please consult the Help tab for where to get assistance."

I have tried to change below
- memory_limit: 4096M
- max_execution_timeout: 180s
- clear cache/cookie via Chrome with secret mode

## Request
![image](https://user-images.githubusercontent.com/7776462/56572336-dbc69f00-65f9-11e9-8f88-8f59

[2019-04-23 10:53] leonstafford commented on #351
Hi @rluisr,

Not sure what's causing the error for you, but there's probably an error in server logs indicating why the file wasn't written. You may try to remove all the WP* and wp-* files belonging to WP2Static from your uploads dir.

I've removed the progress indicators completely from version 7, which is due soon, as I wasn't happy with the implementation and want to make other areas of the pl

[2019-04-24 06:30] rluisr commented on #351
Thanks reply @leonstafford
I tried to delete WP* annd wp-* files which are under the `uploads/` directory.
but not solve.

Not created only "WP-STATIC-PROGRESS.txt". Another files of WP2Static is created.

I add debug code like below:

## ProgressLog.php
[code]

I already checked `error_log` is working when I added other plugin, but I couldn't see debug message in it in this case.

Maybe this func

[2019-04-24 09:47] rluisr commented on #351
## SiteCrawler.php

![image](https://user-images.githubusercontent.com/7776462/56649819-d2ecd080-66c0-11e9-869c-5bb3f9b55b9c.png)

I couldn't see `CALLED def`.
Not proceed after below
[code]

[2019-04-24 09:58] rluisr commented on #351
Hi @leonstafford .
fixed this problem. sorry.

Add FQDN into `/etc/hosts` and working.

Need the function for checking this plugin can access wordpress with `base_url` on server before generate.

[2019-04-26 00:13] frank699 opened #352 "Option to rewrite trailing slash in URLs"
Hello :)

I've creat a static verison of my little blog and upload it in my FTP to a folder. monwebsite.com/test/

But it's weird. I don't anderstand why but in the static version of my website, the URL of the category are redirected (R301) like that : mywebsite.com/category/web to mywebsite.com/category/web/ <--- It add a / at the end.

This is not the case in the dynamic version. Do you know why

[2019-04-26 03:59] leonstafford commented on #352
Thanks @frank699!

OK, so initially, I thought this was the plugin rewriting the URLs, but it may be a configuration option in your web server (Apache or Nginx?).

When serving a static site, each directory will use the index.html in this case as it's default document, so that we don't need to use `/category/web/index.html`

So, when the server detects a directory and rewrites behind the scenes to

[2019-04-26 04:18] frank699 commented on #352
Hello Leon,
Thanks for your quick answer.

In my info.php I can see that :

Linux nameeeee.o2switch.net 3.10.0-962.3.2.lve1.5.24.8.el7.x86_64 #1 SMP Fri Jan 4 06:55:54 EST 2019 x86_64

$_SERVER['SERVER_SOFTWARE'] | Apache
-- | --

Apache 2.0 Handler | Ian Holsman, Justin Erenkrantz (based on Apache 2.0 Filter code)
-- | --

Does it help ?

[2019-04-26 10:10] leonstafford commented on #352
Perfect, cheers. The section on "DirectorySlash Directive" here may be of help:

http://httpd.apache.org/docs/2.2/mod/mod_dir.html

But also warns of reasons you may choose to keep it on.

[2019-04-26 14:38] frank699 commented on #352
hm.. When I add "DirectorySlash Off" in my htaccess and generate a new static version. Upload it in mywebsite.com/test/
For the URL of the WP categories there is no / at the end. Ok it's great. But this is not the webpage of my WP category. It show me what files that are in the directory.
With this msg : "Index of /test/category/name-of-the-category" with : feed/ + index.html + page/

[2019-04-27 15:29] leonstafford commented on #332
@Cybergo-at, thanks to the fix from @markdicker this is now resolved in the `develop` branch here and will go out with version 7 release soon. Closing here

[2019-04-27 15:29] #332 closed, assigned to nobody

[2019-05-03 00:41] szepeviktor opened #356 "SitePublisher missing method"
There's no `upload_files()`
https://github.com/WP2Static/wp2static/blob/develop/plugin/WP2Static/SitePublisher.php#L247

props. @phpstan

[2019-05-03 16:30] szepeviktor opened #363 "Clean class files"
@leonstafford Would you be comfortable with having the class files only with `class { ... }` and move instantiation into the caller?

[2019-05-03 17:14] leonstafford commented on #363
yes, *but* I'm doing some testing with the HTMLProcessor at the moment, for now, sticking functions out into separate files and will be doing some performance testing.

It's the messiest class and called most frequently (along with SiteCrawler). These already bypass WordPress calls to minimize resources, but should be able to go even smaller.

It will seem weird to just require functions in their

[2019-05-03 17:27] szepeviktor commented on #363
This question has two purposes

- to enable static analysis
- to enable compose autoloading

[2019-05-03 18:34] leonstafford commented on #363
so, compose autoloading, not convinced it has use in a WP plugin installed via wp.org / WP dashboard by users - we cannot use composer for those users... unless we use own autoloader, is it worth it?

(you're starting to convince me :) )

if we get static analysis and there's not a lot of extra overhead, then I think I'm sold for the benefits in development.

We can avoid the pains of composer in

[2019-05-03 18:40] szepeviktor commented on #363
May this may convince you https://github.com/Yoast/wordpress-seo/blob/trunk/composer.json#L24

[2019-05-03 18:41] szepeviktor commented on #363
Listen: we won't get a single package by composer. We will only load **our** classes.

benefits:

- no more require-s
- testable
- loads a class only if needed

[2019-05-03 18:48] leonstafford commented on #363
convinced :) think you had me at previous comment

ready for PR or instruction

[2019-05-03 18:58] szepeviktor commented on #363
- [ ] Make up our mind on class naming (WP2Static_ prefix?), class file naming (WPCS?), directory structure: [PSR-4, PSR-0](https://getcomposer.org/doc/04-schema.md#autoload)
- [ ] Clean up all class files: nothing outside `class { ... }`, 1 class/file
- [ ] Remove require-s `grep -rFn require`
- [ ] Add composer.json
- [ ] Test!

What do you say?

[2019-05-03 19:04] leonstafford commented on #363
Sounds great!

+1 for `WP2Static_` prefix

Can we use the same for file naming? Clarity over brevity?

+1 the rest

[2019-05-03 23:39] szepeviktor commented on #363
What is the min. PHP version?

https://github.com/WP2Static/wp2static/blob/develop/readme.txt#L6 ?

https://github.com/sabberworm/PHP-CSS-Parser/blob/master/composer.json#L12 ?

core's old 5.2? then use xrstf/composer-php52

https://make.wordpress.org/plugins/2019/04/01/wordpress-to-move-to-php-5-6/ ?

sabberworm/php-css-parser forces us to support >=5.3.

:) namespaces are introduced in 5.3.0

[c

[2019-05-04 05:18] leonstafford commented on #363
Great, thanks! We'll go PHP 7.0 min for WP2Static version 7+, with recommendation to 7.2+.

For those really unable to upgrade/pressure their hosting provider, will offer a SaaS solution.

Will do my best and am very appreciative of your continued help and patience!

[2019-05-04 15:21] szepeviktor opened #367 "Code review"
- [ ] inspect plugin from the viewpoint of entrypoints: https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/wordpress/_core-is.php#L21-L100
- [ ] watch PHP error log
- [ ] Run Query Monitor plugin
- [ ] measure Linux loadavg
- [ ] find URL-s not exported
- [ ] compare WP-generated content with static output
- [ ] look for 404-s in the static output
- [ ] check HTTP caching
- [

[2019-05-04 16:00] szepeviktor opened #368 "Deploy to Zeit Now"
"Now" is popular.

They host static websites https://zeit.co/examples/static
They have an API https://zeit.co/docs/api/

[2019-05-04 16:02] leonstafford commented on #368
Indeed! @fransallen is also interested in Zeit

[2019-05-05 02:16] DirectorGunner opened #370 "Offline use incorrectly moving up one directory in internal links"
In offline use mode, the rendered static source code has ../ before every internal URL string.
All other plugin options are at default settings.

[2019-05-05 02:21] DirectorGunner opened #371 "PLACEHOLDER.wpsho randomly in static source code"
After rendering a static version of the site,
I am finding random http://PLACEHOLDER.wpsho or PLACEHOLDER.wpsho throughout internal URLs. There's not a great number, but they are consistently in the same places after rendering the site.

[2019-05-05 04:13] leonstafford commented on #371
Thanks D,

Working on overhaul for this in version 7. I've got successful offline ZIP exports in latest dev version for one test site, a bit more work to go to test all edge cases.

For meantime, you may check what the original URLs are that are failing to be rewritten. They may be `//link` style protocol-relative, which is a definite issue in 6.6.5

[2019-05-05 04:14] leonstafford commented on #370
We'd expect `../` document-relative URLs for an offline site to function. But these are incorrectly going an extra level?

[2019-05-05 04:58] DirectorGunner commented on #371
If it helps, examples from the crawl log
[code]
Each `Memory allocated by crawl script` line,
is usually followed at some point by a couple of these placeholder.wpsho lines until the next memory allocated by crawl line. It's very consistent for the min.css file urls and randomly (I guess based on how it crawls) for the others referenced above.

All local development. I'm using Wordpress multisite

[2019-05-05 05:00] DirectorGunner commented on #370
oh? I didn't realize `../` was expected behavior. My apologies.

[2019-05-05 05:00] #370 closed, assigned to nobody

[2019-05-05 05:34] DirectorGunner commented on #283
Just an ease of use suggestion for the processing tab options.
**Rewrite Links in source code**
**Rename Exported Directories**

1. having perhaps more clear/consistent directions
eg see `,inc/` in renames example has a backslash while the other lines do not, this is confusing

2. a more "smart" Rewrite/Rename options setup if you will, where your plugin detects the common folders and leaves boxes

[2019-05-05 14:41] szepeviktor opened #372 "Add CircleCI badge for the default branch"
like https://github.com/szepeviktor/phpstan-wordpress/blob/master/README.md

[2019-05-05 16:17] szepeviktor opened #375 "Make Circle a GitHub App"
https://github.com/marketplace/circleci

on PR-s there's a "Checks" tab

[2019-05-06 00:09] szepeviktor opened #378 "How to defeat parse_url()"
@leonstafford I've been shown `/** @var string[] */` on a PHPStan issue.

You should put it right above parse_url when it has only 1 parameter - e.g. src/WPSite.php:53

[2019-05-06 18:37] #372 closed, assigned to nobody

[2019-05-06 18:48] leonstafford commented on #375
![checksenabled](https://user-images.githubusercontent.com/2066833/57247513-3f28e600-706a-11e9-8815-bea2f0f53521.png)

enabled

[2019-05-06 18:48] #375 closed, assigned to nobody

[2019-05-06 19:31] szepeviktor commented on #378
'host' => string, 'port' => int, 'user' => string, 'pass' => string,
         'path' => string, 'query' => string, 'fragment' => string)|false.

[2019-05-06 19:43] szepeviktor opened #386 "Nicify Circle's output"
This was mentioned to the authors of Composer: https://github.com/composer/composer/issues/8112

While they are developing this I'd like to play with sed. How to do that?

Ooops! In my fork :)

[2019-05-06 22:15] szepeviktor opened #390 "Line lenght in the post-CGA era"
Could we allow 100 or **120** long lines?

[CGA](https://en.wikipedia.org/wiki/Color_Graphics_Adapter) with 80×25 characters was developed 40 years ago.

![CGA card](https://upload.wikimedia.org/wikipedia/commons/5/55/IBM_Color_Graphics_Adapter.jpg)

[2019-05-06 23:03] crystalminds opened #392 "Unable to unset an option through WP_CLI"
You are able to SET and GET an option from the WP_CLI. However you can't unset an option once it's set.

[2019-05-06 23:04] crystalminds commented on #392
Fixed it in Pull Request #391

[2019-05-06 23:38] szepeviktor commented on #283
Methods supported by WP_Filesystem() should be part of the plugin as Deploy methods

- direct file write
- FTP
- SSH

and implementing other protocols such as Google Cloud Engine could be implemented as WP Filesystem

[2019-05-08 08:42] leonstafford commented on #390
![Screenshot from 2019-05-08 15-41-14](https://user-images.githubusercontent.com/2066833/57361926-c9c32f80-71a7-11e9-99e5-7f343318be39.png)

not until I have a bigger laptop

[2019-05-08 08:42] #390 closed, assigned to nobody

[2019-05-08 08:47] leonstafford commented on #386
quietened it for now

[2019-05-08 08:47] #386 closed, assigned to nobody

[2019-05-08 08:49] leonstafford commented on #371
Hi @LevyImage , can you please attach the before/after code snippets, where the URLs didn't get replace properly? Doing some work on this area now and should be to solve it

[2019-05-08 08:50] leonstafford commented on #367
can you please pop into your fork? I'm on Issue cleanup mode now

[2019-05-08 08:50] #367 closed, assigned to nobody

[2019-05-08 08:51] leonstafford commented on #368
added to roadmap placeholder: https://github.com/WP2Static/wp2static/issues/283

[2019-05-08 08:51] #368 closed, assigned to nobody

[2019-05-08 08:58] leonstafford commented on #363
removed obvious requires. 1 left for when revisiting WP-CLI functionality soon. some left in views, which also need overhaul, proper WP method for loading templates with data to allow easy translations

[2019-05-08 08:58] #363 closed, assigned to nobody

[2019-05-08 08:58] #356 closed, assigned to nobody

[2019-05-08 09:02] DirectorGunner commented on #371
I am sending you an email reply with the entire zips (under 50MBs each) so you can see exactly this and all other issues I've been facing working localhost and Wordpress Multisite for getting things to work. In about 5 mins will send you an email with both zips.

[2019-05-08 09:06] leonstafford commented on #371
Thanks. If a full site backup, I can properly debug that when back at workstation on the 12th. For now, I can just work on specific before/after code snippets to ensure those are being processed properly

[2019-05-08 09:08] #325 closed, assigned to nobody

[2019-05-08 09:16] DirectorGunner commented on #371
Email sent, no they're just static versions.
But here are some examples
in some JS files
[code]

[2019-05-08 09:30] #314 closed, assigned to nobody

[2019-05-08 09:39] leonstafford commented on #371
Thanks D, can you please give me the surrounding source code from the original site and the same for that above block? The surrounding tags may be relevant and the original source is what I really need to see why it's not detecting/rewriting it properly. Cheers

[2019-05-09 07:17] mykt0ngc0 opened #397 "Parser breaks CSS files."
Is there a way to disable the CSS parser and just export the css files unchanged?

[2019-05-09 08:10] leonstafford commented on #397
Hi @mykt0ngc0. In the latest development builds, there is indeed a check-box to disable parsing the CSS files. Will be able to control this from version 7, which I'm working on finalizing now.

[2019-05-09 08:23] mykt0ngc0 commented on #397
Awesome! Thanks @leonstafford 🙏

[2019-05-12 13:45] markdicker opened #401 "url embeded in css rules not being rewritten"
If the url is embeded in a css rule it is not being rewritten.  An example of this is when using Optimole image caching.  background-image urls are rewritten by the Optimole plugin as follows.

`background-image:` url('http://domain.com/background_image.jpg' );`

becomes

`background-image: url('https://xxxxxxxxxi.optimole.com/w:auto/h:auto/q:auto/http://domain.com/background_image.jpg' );`

When

[2019-05-12 14:22] #401 closed, assigned to nobody

[2019-05-15 18:14] leonstafford commented on #283
review object store options here for add-on contenders https://www.lowendtalk.com/discussion/137353/object-storage

[2019-05-16 02:08] EdwardDeaver opened #403 "Empty zip file"
Plugin version: 6.6.5
Wordpress version: 5.2
Theme: Portum
OS: Windows 10
Installation type: localhost
Server setup: WAMP Server 3.1.9

Issue: The plugin will generate a 63mb empty zip file, The logs indicate that it is crawling all pages successfully.

[2019-05-16 08:17] leonstafford commented on #403
Hi @EdwardDeaver,

Windows filepaths aren't totally supported. Suggest using Local by FlyWheel on Windows for a more friendly environment.

[2019-05-17 10:22] leonstafford opened #409 "Things I wanted way back when"
What doesn't make it in goes into the roadmap.

### What's the minimal to get V7 out the door?

 - [x] deploy on post create/update
 - [x] invalidate cache when post/page is updated
 - [x] WPCron / custom trigger support (must have, to ensure no major rewrite for addons)
 - [x] test_folder() missing static-html-output-plugin/wp2static.php on line 56
 - [x] support ticket submission allows sending

[2019-05-19 00:33] alexfares commented on #371
Hi @leonstafford!

Before:
[code]
After:
[code]

[2019-05-21 07:42] leonstafford commented on #392
Thanks again for this fix, @crystalminds!

Available in `develop` branch and in early development release of v7: https://github.com/WP2Static/wp2static/releases/tag/7.0-build0002

[2019-05-21 07:42] #392 closed, assigned to nobody

[2019-05-21 07:43] leonstafford commented on #371
Big overhaul of rewriting in v7. Available in `develop` branch or in early development release here:

https://github.com/WP2Static/wp2static/releases/tag/7.0-build0002

Please let me know any remaining rewriting issues you encounter on that

[2019-05-21 07:43] #371 closed, assigned to nobody

[2019-05-21 07:44] leonstafford commented on #351
Thanks @rluisr - the check for local DNS resolving is on my list.

Please give this early development build of V7 a try when you have time:

https://github.com/WP2Static/wp2static/releases/tag/7.0-build0002

[2019-05-21 07:44] #351 closed, assigned to nobody

[2019-05-21 07:45] leonstafford commented on #343
Hi @jalbstmeijer, sorry for the super delayed response!

With WP-CLI that indeed should be possible.

Please try this early development build of V7, where "site root relative URL rewriting" actually works, so you can even deploy to different domains and the static output should work fine with one generation and multiple deploys.

https://github.com/WP2Static/wp2static/releases/tag/7.0-build0002

[2019-05-21 07:45] #343 closed, assigned to nobody

[2019-05-21 07:46] leonstafford commented on #341
fixed in `develop`

[2019-05-21 07:46] #341 closed, assigned to nobody

[2019-05-21 07:47] leonstafford commented on #403
You can also try this early development build of V7, which may give better results, but encourage you to avoid Windows filepath hosting options generally:

https://github.com/WP2Static/wp2static/releases/tag/7.0-build0002

[2019-05-21 07:47] #403 closed, assigned to nobody

[2019-05-22 21:33] Shapecast opened #423 "Add a feature to invalidate WP site cache before exporting (cache buster in crawler)"
Some static site generators that also use caches (e.g. simply static + auto-optimise) require us to manually load each page to rebuild the cache before exporting which is a horrible and non-scalable process.

It would be great if you could find a way to rebuild the cache automagically before exporting.

Thanks

[2019-05-27 14:09] hzxie opened #424 "Uncaught FtpClient\FtpException: FTP extension is not loaded!"
I filled in the FTP confidential, but it tells me that "FAIL: Unable to login to FTP server".
I'm sure that the FTP confidential is correct.

And the WordPress returns HTTP 500 saying: `The site is experiencing technical difficulties.`
How to solve this problem?

[2019-05-28 11:05] meredevelopment commented on #283
Hi, we have an immediate need for S3/CF profiles support. Pleased to see it on the list!
If you want it tested please let me know. If it's not planned for a while, do you have any pointers for adding a profile string to the invalidation request manually?

[2019-05-28 13:12] hzxie commented on #424
Specifically,

[code]

[2019-05-28 13:22] #424 closed, assigned to nobody

[2019-05-29 23:53] x9t9 opened #427 "Attempt to control / force server vars with ini_set"
I noticed that the script can easily exceed execution time ( especially on default-ini servers ).
Searching the code I did not see any attempt at controlling server` var`s. ( correct me if I am wrong )

Maybe it would be a good idea to try and force / set `max_execution_time` at the very  beginning of the script.

`ini_set('max_execution_time', 120);  // this will set max_execution time for 120 se

[2019-05-30 12:17] leonstafford commented on #427
Thanks @x9t9! There used to be an request to set max_execution_time, I believe. As you mentioned, most shared hosting will report the setting has been changed, but override it with their own hard limits.

Will think on it some more. A more elegant approach to handle long-running processes may be borrowed from popular backup / bulk image processing plugins.

I'll give the ini setting methods a try

[2019-05-30 13:16] #378 closed, assigned to nobody

[2019-06-08 21:14] sunberrysolar opened #433 "Conflict with autoptimize plugin ?"
When using Autoptimize plugin, some images are not showing into posts.
After verification, the resized image is not uploaded to github.
Disabling Autoptimize solve the issue.

[2019-06-18 00:59] meandillar opened #435 "Links not being rewritten in source code"
I am using Webpack to export CSS and JS into a build folder within my theme. Within the wp2static plugin I have rewrite rules to change the default Wordpress `wp-content` folder naming, and have set up links to be rewritten accordingly. Currently these links aren't being rewritten in my CSS files which are found in `my-theme-folder/build/`. Is this expected? And is there a way to achieve this func

[2019-06-19 07:35] Squazz opened #436 "Character encoding issues in URLs"
I have a danish site, with danish characters (æ,ø,å) in the URLs:
During "Crawling discovered URLs", the danish characters are turned into
/wp-content/uploads/2019/03/stofbleer-på-snor-1024x721.jpg
/wp-content/uploads/2019/03/stofbleer-pÃ¥-snor-1024x721.jpg

The URL on my site: https://squazz.dk/wp-content/uploads/2019/03/stofbleer-p%C3%A5-snor-1024x721.jpg

If this is not an error ,and if this is

[2019-06-20 17:00] bookwyrm opened #437 "Not all HTML entities should be decoded"
Some HTML entities (such as `&lt;` and `&gt;`) should be preserved as entities in the static site, not converted to characters. If they are converted to characters then the browser will not display them because they look like unknown HTML tags.

[2019-06-21 16:50] nottix opened #440 "Crawling single url"
Hi,

is it possible to crawl a single specific path?

For example, if i want to crawl a single page after i updated it?

I cannot update the whole site every time i update a page.

Thank you.

[2019-06-22 03:56] leonstafford commented on #427
@x9t9 - added `max_execution_time` override in https://github.com/WP2Static/wp2static/commit/3ae39f9c2777c437c694bb0e8e8bbca71ad94c8d

will look at `memory_limit` also

[2019-06-24 20:07] dnrce opened #443 "crawlPort not being honored"
I am running WordPress in a docker container with container port 80 mapped to host port 8080. The site URL is `http://localhost:8080`. I have configured the crawl port in WP2Static to `80`, yet I see the following error during crawling:
[code]
If my understanding of `crawlPort` is correct, I expect WP2Static to use port 80 instead of trying 8080.

Am I doing something wrong or is this a bug? Thank

[2019-06-29 12:22] andre2007 opened #446 "Cannot set local address as destination url"
I choose ```Sub directory on current server``` and set set as destination url an address of my local network e.g. ```http://myraspberry/wordpress-static```
While starting static site export an error is shown for the destination url because it doesn't contain .com.

Could you allow local addresses?

[2019-06-29 14:14] andre2007 commented on #446
Issue is located here
https://github.com/WP2Static/wp2static/blob/4b29b3dff1302ad3637298fca4a6422cebf95367/js/wp2static-admin.ts#L376

Only localhost is allowed without domain, but in my case it is an address in my local network which isn't localhost.

[2019-06-30 13:55] andre2007 opened #447 "Plugin broken?"
I follow the instructions from here to setup recent version of wordpress https://www.makeuseof.com/tag/host-wordpress-raspberry-pi/.
Directly after installation I only install this plugin and directly start static site export with factory defaults  (Sub directory on current server and destination url set to /, debug log on).

Error:
Failed during "Crawling initial file list", please consult the He

[2019-07-01 13:32] stirtingale commented on #447
Just a heads up that this isn't the export log but the default settings. If you enable debug in settings the debug log will be created as a txt file in your uploads directory. It will show you each page it has tried to crawl and the response for why it has/has not failed.

[2019-07-01 21:35] andre2007 commented on #447
What do you mean with uploads directory, is this the target directory? No text file is written here. I tried different directories,
- directories which are owned by apache user
- owned by user
- owned by root user
The directories are empty and existing.
I updated to raspbian buster which has php 7.3.

No luck, still the same error message.
The plugin seems really broken):

[2019-07-02 10:58] stirtingale commented on #447
Hi @andre2007

Under WP2Static > Advanced Options > Enable Debug Mode you need to enable Debug Mode (which I think you have done)

![Screen Shot 2019-07-02 at 11 52 17](https://user-images.githubusercontent.com/25981099/60507471-26325f00-9cc0-11e9-9a60-b792f30580e8.png)

This will generate an Export Log within your Wordpress 'media' directory.

This is typically `wp-content/uploads`

_I use a 'roo

[2019-07-02 16:31] andre2007 commented on #447
The export file from the uploads folder contains the same info as in the logs UI. It stops on crawling /. No additional info. Also the other file contain no valuable info. I also tried to switch language to English and also remote login to raspberry and start crawling from there. No success
It is strange as the crawling preview button from the UI indeed find other links.

[2019-07-04 14:39] andre2007 commented on #447
@leonstafford could I ask you to enhance the debug log to get further information why the plugin stops/hangs on crawling / ?
At the moment the user has no chance to get any information why it "just not works".

[2019-07-09 23:23] csilverman commented on #397
I'm having this problem, too. Took me a while to figure it out, but as far as I can tell, WP2S is minifying the CSS and removing stuff in the process.

[2019-07-12 10:47] blubbi321 commented on #313
I came here from https://wordpress.org/support/topic/incorrect-links-to-http-placeholder-wpsho/ where this issue was referenced. It still seems to exist in my installation with version 6.6.5 using the latest wordpress with the shapely theme (https://de.wordpress.org/themes/shapely/)

[2019-07-12 15:48] BAGELreflex opened #450 "Allow setting ACL of objects in S3 bucket"
The plugin is uploading files to S3 using the **public-read** ACL. Normally this would be good, however if we want to serve the static content over CloudFront and restrict access to the S3 static website directly, then we must go through and modify the ACL of all objects after they are uploaded. This is not a huge deal, but adds more overhead using S3 triggers to modify the ACLs.

It would be idea

[2019-07-12 16:00] BAGELreflex commented on #450
To add insult to injury, if I set my bucket to disallow public objects, the export fails:
![image](https://user-images.githubusercontent.com/1043430/61141878-897c7800-a49c-11e9-8ef5-9e8189210646.png)

Being able to upload a static site to be served privately or over authorized CDN (i.e. using signed cookies over CloudFront) is a pretty important functionality.

[2019-07-12 16:52] leonstafford commented on #450
Good request, thanks!

The `public-read` caused a lot of issues when I introduced it in about version 6, moving away from complete AWS SDK to minimal deploy code.

I'd stripped it out/planned to strip it out, but your suggestion of making it user-configurable is better, will make it so in upcoming v7 (`develop` branch)

Cheers!

[2019-07-12 17:59] BAGELreflex commented on #450
Great, we look forward to this improvement! Luckily, for now our current use-case doesn't need the content to be private. It would be great if this could handle S3 rejecting an object due to **Block _all_ public access** being enabled, letting the user know the bucket policy is too restrictive for the selected ACL. This is a relatively new feature to S3 and someone unfamiliar with the new changes

[2019-07-13 19:16] andre2007 commented on #447
Maybe the issue is related to a 301/.htaccess issue? Another static site plugin complains about 301 issue and that it cannot contact wordpress itself.

I installed wordpress to folder /var/www/html/wordpress. Within html folder there is an auto generated .htaccess file with content

[code]

Can WP2Static handle 301 forwarding?

[2019-07-16 11:36] coljac commented on #447
I've just tried WP2Static with a new Wordpress install and have the same issue: Nothing in the log except `Crawling /` and the error message. This is Wordpress 5.2.2 on top of PHP 7.2 and nginx.

[2019-07-16 11:44] stirtingale commented on #447
If Wordpress is inaccessible to the crawler then it cannot crawl. What happens if you login to your Pi via Command Line and enter

`curl -o - http://wordpressurl`

It should be something like

`curl -o - http://localhost/wordpress`

@coljac is this on hosting or a Pi setup like @andre2007

[2019-07-16 23:30] coljac commented on #447
@stirtingale This would count as a "hosted" environment (my Ububtu 18.04 desktop); yes the site is accessible from the CLI in the way you described above.

Edit: I spun up a new virtual machine and reinstalled Wordpress and nginx from scratch. Same result.

[2019-07-17 04:00] andre2007 commented on #447
I can confirm, crawling is working fine using wget mirror and httrack on Raspberry .

[2019-07-22 12:43] Bonobomagno commented on #371
any update?

[2019-07-23 13:30] szepeviktor opened #455 "Some junk files"
@leonstafford Some junk files slipped into the root directory.

[2019-07-23 17:23] leonstafford commented on #455
Removed in latest PR. It wasn't quite ready for merging to `develop` yet, but good to push it forward

[2019-07-23 17:23] #455 closed, assigned to nobody

[2019-07-24 19:50] colomboe commented on #437
It there a time frame in order to have the PR merged and released? I'm experiencing exactly the same problem...

[2019-07-25 05:02] motionoutoftime commented on #437
I think I have a similar issue. I've written a blog post about On-Page SEO and included some HTML and JSON-LD code examples wrapped in pre/code tags and contextualized with highlight.js. All of the code examples are encoded.

Everything looks fine on my local staging site, but when I run the plugin it decodes the HTML and I end up with empty spaces in my blog post:
https://yamaretto.com/on-page-se

[2019-07-25 12:37] bookwyrm commented on #437
@colomboe and @hiwattage as a stopgap, you could get the unminified version of `HTMLProcessor.php` for the 6.6.5 release from https://github.com/WP2Static/wp2static/blob/6.6.5/plugin/WP2Static/HTMLProcessor.php and then manually apply the code changes from https://github.com/WP2Static/wp2static/pull/438/files#diff-cd4dcfeceef1be366958dd1f9d3af4f8

[2019-07-28 16:21] szepeviktor commented on #284
This is called an issue template: https://help.github.com/en/articles/creating-issue-templates-for-your-repository

[2019-08-01 01:18] Areahints commented on #295
im generating zip archive and check the box *allow offline usage*

zip is generated, i extract at `download ` folder and open in browser, page open fines but css is missing.

inspect element reveals errors. failed to load resources, all the links point to `home/user/wp-content` or `offlinezip.wpsho/wpcontent` when they should be pointing to `home/user/download/zipname/wp-content`

minor to fix. ju

[2019-08-16 19:22] dbutcheratrenet commented on #283
Please show the the log file modification dates/times to the right of the log file dropdown so it's easier to see when the most recent logs were created (the date/time of the last successful run, essentially). On a system with multiple users this makes it easier to see how current everything is. Thanks.

[2019-08-25 15:49] brysont opened #465 "Crawling Fails When "Uploads URLs" is Included [v7]"
Getting this message only when `Uploads URLs` is checked in `Control Detected URLs` settings:

```Failed to generate Initial Crawl List. Please check your permissions to the WordPress upload directory or check your Export Log in case of more info.```

**My Setup:**
- Vultr VPS [Apache, Nginx, MariaDB]
- PHP 7.3
- WordPress 5.2.2
- Uploads Dir Permissions - 775 checked and reapplied recursively.

I

[2019-08-25 16:05] brysont commented on #465
It does generate a full debug log on export errors. Returning posts with `BAD RESPONSE STATUS (502)`. That's a different issue though. It definitely has permissions to write to the uploads dir.

[2019-08-26 06:30] dsktschy opened #466 "Query strings after URL to assets, are removed on exporting."
## Environment
* macOS High Sierra v10.13.6
* Local by Frywheel v3.2.1
  * nginx
  * PHP v7.3.2
  * MySQL v5.6.34
  * WordPress v5.2.2

## What I did
1. I added img tag to index.php in twentynineteen theme. The image URL in this tag has a query string.

`/Users/{User Name}/Local Sites/{Site Name}/app/public/wp-content/themes/twentynineteen/index.php`
[code]

2. I exported as ZIP file with pushing

[2019-09-03 13:35] RenaudGagne opened #468 "Slack invite link no longer active"
https://join.slack.com/t/wp2static/shared_invite/enQtNDQ4MDM4MjkwNjEwLTVmN2I2MmU4ODI2MWRkNzM4ZGU3YWU4ZGVhMzgwZTc1MDE2OGNmYTFhOGMwM2U0ZTVlYTljYmM2Yjk2ODJlOTk

This is found in the "help" section of the plugin and doesn't work anymore

[2019-09-03 17:37] leonstafford commented on #468
Hi @RenaudGagne, I killed the Slack community a little early, was expecting version 7 to be out already and those links gone, sorry.

If you need to reach me, please use leon@wp2static.com for now and will have more channels for support and sales soon.

Cheers,

Leon

[2019-09-03 17:37] #468 closed, assigned to nobody

[2019-09-05 12:28] Giladx commented on #313
@blubbi321 Since this issue is not a version related I am using 6.6.6 (and the devil is there).
In my case it was related to Images loading in Lazy load.

[2019-09-08 07:48] Keemaaa opened #469 "The output site theme problems"
Hello,

The whole operation went good and uploaded to Github, but the website has many esthetic problems.

- Some photos are enlarged like the header logo, the post thumbnail on the home page is absent.
- The share icons are missing.
- The table of content links which starts with # aren't correct and instead of website.com/blog/#certain-point, it's website.com/#certain-point.
- The main menu becam

[2019-09-08 09:44] Keemaaa commented on #469
Solved.
I disabled WP super cache and Autoptimize and deleted cache, the website is great except for table of content #links.
The main issue now is after I uploaded the uncached version, the speed test result became horrible
with a score of 57 and load time 8.2 s!!
Is Github pages CDN that bad??
I tried Cloudflare, but as many people said, it made my score worse.

Thanks in advance

[2019-09-09 04:47] Keemaaa opened #470 "Is servserless WordPress for speed a myth??!!"
Hello,
First, I use Github Pages.
My original WordPress site scored 89 and load time of 1.67 s, while the static site scored 83 and load time of 2.11 s with Google PageSpeed Insights.

I tried another website with the same result but with different numbers.
So, Is it a myth or am I doing something wrong??

Best regards

[2019-09-09 06:06] CovertCode commented on #470
Try Cloudflare and some public CDNs.
But $5 Nginx server + CF will be faster than Github pages + CF

[2019-09-09 06:28] leonstafford commented on #470
+ https://netlify.com for comparison

You have multiple factors:

 - page content size
 - number of requests
 - compression
 - http protocol
 - DNS lookup time
 - server response time
 - geo distance from server

With a static site, you have more options than dynamic, ie, you can stick your static site on any server that supports dynamic, but also opens you up to options reserved for static only.

[2019-09-09 06:55] Keemaaa commented on #470
@CovertCode @leonstafford
Just tried Netlify but got disappointed, it became worse, a score of 77 and load time 2.1 s.
I used Netlify native subdomain to exclude DNS lookup.
I will try Google cloud storage

[2019-09-09 07:16] leonstafford commented on #470
@Keemaaa, there's more than just load time to look at, but I'd agree that it's one of the most important metrics.

Please review each of the points I listed in previous comment and detail here exactly which parts of the page speed results are giving you failing marks, ie cache-headers can be addressed with Netlify or S3 + CloudFront.

It may also depend which location you want fast speeds from, ie

[2019-09-09 09:32] Keemaaa commented on #470
@leonstafford
Thanks for the reply,
However, I use Publisher theme from BetterStudio which has a very good reputation.
I'm also just testing things out not intending for production to a specific country.
I'm just disappointed and questioning how the static site has results worse than the dynamic one!!

[2019-09-09 10:29] leonstafford commented on #470
@Keemaaa at this point, we're just discussing point scores, which I can't fix for you.

Please provide the specific sections of the test that are getting lower scores in your static copy of the site vs the original and we can probably deal with each one to get your score up.

Even easier, if you can link me to test results of both, we can analyse it for you and make some suggestions.

[2019-09-11 06:20] Keemaaa opened #471 "Failed during "Crawling initial file list""
Hi,
it failed during crawling, however, it succeeded many times previously.
I tried many increments with no help??

Thanks in advance.

[2019-09-12 17:29] CovertCode commented on #470
@Keemaaa Main reason of running WP2Static will be to avoid database and php calls.
Example: 10 pages and each page simutaneously gets 100 visits.
Total visit: 1000
These 1000 visits will have to processed by php, mysql, & nginx/apache
But when you have static version then these 1000 visits needs to be processed just by nginx/apache.

If you are running 100% on dynamic  WP+ cache then also some vis

[2019-09-15 16:33] NickKellett opened #473 "Export S3 bucket fails with SignatureDoesNotMatch error."
I've uploaded the paid AWS plugin to WPStatic (6.6.5, not the pro version of the plugin), entered IAM access key and secret, and tested authentication to the public bucket using the test button. S3 test works. I've independently tested using Cloudberry. However, whenever I try to export it always fails saying "<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated do

[2019-09-17 16:40] ghost commented on #466
I have travel booking site, where I use query strings, in links, to redirect for external search.
E.g.: `<a href="http://mydomain/redirect?origin=21&destination=23"/>`, after static generation it's removed and becomes: `<a href="http://mydomain/redirect">`

[2019-09-17 16:54] leonstafford commented on #466
Query strings for dynamic content aren't supported on a static site.

I'd suggest you setup pretty URLs instead of query strings, ie /redirect/21/23/, which would allow generation to go complete, putting an index.html in each of those directories

[2019-09-17 16:55] leonstafford commented on #466
"Note supported easily" to be precise. You can do things with JSON files and JavaScript, for example, but that's usually not going to be what you want to do when converting a WordPress site to static

[2019-09-23 21:50] chrishaff commented on #307
This seems to work in the dev branch of 7,

[2019-09-24 17:04] chrishaff opened #474 "Home exports as site relative even when other pages as document relative as configured"
I am creating a ZIP export with **document relative** links using 7.0-build0003.  The issue is that the home page (/index.html) is **site relative**  This is important to me as the static site is re-homed from / to /ideas/.

[2019-09-24 17:08] chrishaff opened #475 "Hook to process a page after crawl"
I couldn't find any hooks to to have a regex search/replace run on pages during the processing? Is there such a thing? I think this would be nice for flexibility... and also the plugin is missing URLs in inline CSS.

Using 7.0-build0003

[2019-09-24 17:22] chrishaff opened #476 "Dead link on Help tab of v7.0-build0003"
There is a link to look up your submitted ticket that leads to a dead page with "Requested system was not found." The support ticket reported being submitted successfully.

https://wp2static.zammad.com

[2019-09-28 23:34] thoriumnext opened #477 "Bad link in README"
The link in the text

"There is also a Slack group, for quick discussions among the user community."

Goes to a page that reads

"This invite link is no longer active"

[2019-10-01 22:27] fnbauer commented on #473
I'm running into a similar issue, but the upload mostly completes before throwing the "Signature does not match" error. Oddly, it always fails at the same file. This is with the free version of WP2Static (version 6.6.6), and WP 5.2.3.  It's likely this isn't a permissions issue, and the problem is in the signature/upload code.
Edit: Just noticed plugin version 6.6.6 as reported by WP doesn't match

[2019-10-02 11:30] deemnz commented on #471
hi. same issue. any answers?

[2019-10-02 16:15] meredevelopment opened #479 "Why is noindex robots meta is stripped?"
Hi Leon,

We've had an issue with noindex meta being stripped from certain pages.
I assumed at first that it was a problem with the theme, but a closer look shows that WP2Static is removing it along with the `remove_wp_meta` code: https://github.com/WP2Static/wp2static/blob/d894493c845c2b55237bf21a25a79590d1a3b6a1/src/MetaProcessor.php#L52-L58

Could I ask if this is for a particular reason, and w

[2019-10-02 20:32] leonstafford commented on #479
@meredevelopment - can't recall the reasoning, but you're right, it doesn't make a lot of sense. I'll move it to a user-configurable option, off by default.

[2019-10-02 20:33] meredevelopment opened #480 "Theme's 404 can't be exported (because it returns a 404?)"
We have a custom 404 page. As with most WordPress installs, it's available at /404/ and returns a `404` when served.

So... WP2Static thinks it's failed and skips it:
<img width="330" alt="image" src="https://user-images.githubusercontent.com/3437528/66079487-12ff8b80-e55c-11e9-9856-71149cd9eacd.png">

Can anyone think of a way around this? I guess we could point the S3 error doc at another normal

[2019-10-04 06:33] niteshmanav commented on #470
Hey @CovertCode , I didn't get you on this line -

" I've news 4 websites and if I run wp2static on each of them then everytime I make a new post, more than 1000 static files"

For one new post, the wp2static will generate just one new static page for that specific post, not for all other 1000s of posts which it has already converted into static pages. So, why will it generate all files again?

Ki

[2019-10-07 00:16] greg-raven commented on #471
Same issue. Brand new site. Just imported data from WordPress.com. Also, unable to find the group on Slack ... the links provided go to an error page.

[2019-10-07 06:49] leonstafford commented on #473
Hi @fnbauer - test button in version 6 likely giving a false positive there.

Please check your bucket's Public ACL settings in the AWS console and try unchecking/setting the 4 options to allow public ACL's to be changed.

This won't be necessary from next update of S3 plugin, but as the plugin's code explicitly sets `public-read` ACL on the files, the S3 bucket permissions need to allow that.

[2019-10-08 12:53] NickKellett commented on #473
Hi @leonstafford, I've already ensured all public ACL settings are unchecked but that didn't help. Unfortunately at the moment I cannot use this WP2Static pro module and am instead outputting WP2Static to a local folder that is actually a drive mounted to AWS S3 bucket using Cloudberry Drive (using the same IAM user). Hopefully the next update removes the signature issue, because apart from that W

[2019-10-08 15:07] stevygee commented on #466
+1
Ran into this today. Query strings are important for controlling the caching of images, stylesheets and scripts. For example `style.css?v=1.0.0` would allow caching the file, until a new version of the theme/plugin gets used, when it becomes `style.css?v=1.0.1`. At that point, the new version of the file would be loaded, as expected.
But if we can't use query strings, it is up to the server/cli

[2019-10-08 21:14] leonstafford commented on #473
Hi @NickKellett thanks for you patience with this. Getting more professional S3/AWS usage is definitely a high priority with next release!

[2019-10-08 22:18] fnbauer commented on #473
@leonstafford  My issue turned out to be UTF-8 characters in filenames, which cause signature issues.

[2019-10-14 10:39] Konkorfu commented on #469
Of course, caching affects the speed of loading pages on the site, you can also use another WordPress theme. Slow page loading speed can be caused by poor hosting quality. In addition to the Google tool for checking page loading speed, I can recommend this tool [host-tracker.com/InstantCheck/Create/?type=Waterfall](https://www.host-tracker.com/InstantCheck/Create/?type=Waterfall) The plugins you u

[2019-10-16 22:05] fransallen opened #481 "Control Detected URLs settings only checked for one option"
Just tried WP2Static V7 internal test, performance is very different from previous versions, great work Leon!

This is report for **Control Detected URLs settings** in the **URL Detection** tab that are only checked for one option: "Custom Post Types", even though clicked the **Select All** button.

[2019-10-18 13:04] leonstafford commented on #481
thx for reporting! fixed by e5fbacb56f7242950c4ae5d9f5b797bad56f2189

[2019-10-18 13:04] #481 closed, assigned to nobody

[2019-10-21 15:47] farcaller commented on #473
Bumping this as I'm stuck on the same issue: the URL containing percent escape sequences (I think it's UTF8-ized cyrillics) fails with "The request signature we calculated does not match the signature you provided. Check your key and signing method."

[2019-10-21 16:09] hatsumatsu opened #483 "Error crawling local domain https://example.com.local"
Are there any known limitation using this plugin in a local environment?
I'm running a local Apache with SSL via mkcert and local domains like `example.com.local`.

The plugin's log keeps printing
[code]
Any idea what's wrong?

[2019-10-22 07:31] leonstafford commented on #483
hi @hatsumatsu - should be compatible with local environments, but haven't tested specifically with `example.com.local` myself.

Could you please give me a bit more info on your environment setup, so I can try to reproduce? ie, OS version and any specific DNS setup

I'm only testing on version 7 development builds now, so it likely won't get a retro-fix for 6.x

[2019-10-22 07:46] leonstafford commented on #480
Hi @meredevelopment - common complaint around 404 handling.. will depend a bit on the target deployment, S3, in your case.

Could you please give me some ideas as to how you'd like to see it work, ie: options in the S3 export to set a specific 404 page from a non-404 page in your WP site, via S3 or CloudFront.

I'd prefer to make it configurable, rather than impose my opinions... thinking out loud

[2019-10-22 08:52] #479 closed, assigned to nobody

[2019-10-22 08:59] leonstafford commented on #479
![Uploading removerobotsnoindex.png…]()

[7.0-build0008.zip](https://github.com/WP2Static/wp2static/files/3754519/7.0-build0008.zip)

@meredevelopment I've attached a dev build of v7 with this made a configurable option (off by default). Note, that this doesn't yet support all add-ons, so probably not usable for you just yet... (also, only the Staging deployment option will work, not Production)

[2019-10-22 09:02] #477 closed, assigned to nobody

[2019-10-22 09:02] leonstafford commented on #477
Thanks @thoriumnext!

[2019-10-22 09:03] leonstafford commented on #476
Thanks @chrishaff - was dabbling with one hosted service for this and will be switching to another before release. Just need to update for their API... soon

[2019-10-22 09:05] leonstafford commented on #475
Thanks @chrishaff - that hook indeed needed.

I've also got this in the UI, need to check back on whether it's implemented, then the hook can go around there.... (been away from code for a while, getting back up to speed)

<img width="1429" alt="customrewrites" src="https://user-images.githubusercontent.com/2066833/67271903-c6083880-f4bb-11e9-9067-b6a0147f6eda.png">

[2019-10-22 09:06] leonstafford commented on #475
@chrishaff re CSS - that module definitely getting rewrite and some tests soon, along with checking how inline CSS in HTML module is handled, thanks for bringing attention

[2019-10-22 09:35] leonstafford commented on #474
@chrishaff seeing worse issues with doc relative links now ~ build 0008.

on it

[2019-10-23 21:01] leonstafford commented on #474
@chrishaff back to work on this... if memory serves, the way I was approaching this was to set `/ideas/` as your `Base HREF` value, along with `Document relative links`

What I'd thought was behaving well a few months back doesn't seem to be the case as I get back to work on it, so will try to clean it up/simplify it further.

[2019-10-25 13:56] hatsumatsu commented on #483
Here are some details, let me know if you need more info:

[code]

Local domains are set up via VirtualHosts and Wildcards, basically mapping folders like `example.com` to `https://example.com.local`
[code]

[2019-11-01 16:45] sefasenturk95 commented on #466
I am reading out the query parameters with JavaScript but they indeed get writed out when running wp2static.

Can we make this an option in the settings? e.g. Rewrite query parameters yes/no.

[2019-11-01 20:36] SebastianApel opened #484 "SSL Certificate for code.wp2static.com expired on Oct 26, 2019"
@leonstafford: I get a security warning for code.wp2static.com, saying the certificate expired on Oct 26, 2019.

Error Code: SEC_ERROR_EXPIRED_CERTIFICATE

[2019-11-02 17:33] leonstafford commented on #484
Thanks @SebastianApel - still work to do on the new git hosting setup, didn't have auto-renew certificates setup. Manually renewed for now

[2019-11-02 17:33] #484 closed, assigned to nobody

[2019-11-02 17:39] leonstafford commented on #466
@Sef1995 definitely getting this in.

Another major rewrite underway before v7, which should make this option easier to implement

[2019-11-07 10:53] leonstafford commented on #483
Thanks @hatsumatsu sorry for late reply.

Have you upgraded OS X PHP to 7.2 via Homebrew or manually or is this running in MAMP or such?

Though `.local` should resolve, I don't know enough about macOS networking to guarantee.

Can you add `example.com.local` explicitly in your `/etc/hosts` file, so that the Apache process' PHP can resolve that domain easily?

Also, are your WP Site URL and Home s

[2019-11-07 18:31] axelbraunederyesdevs commented on #332
Hey @leonstafford , there is still no fix live for this. When is "soon"?

[2019-11-20 17:57] bookwyrm opened #485 "Handle GitHub error response and retry, don't quit"
I've had a few instances lately where we got a "bad response" from the GitHub API (409). In this situation the plugin doesn't have any error handling, it just throws an exception which kills the entire scrape process and we must start over.

Can support be added to gracefully handle any "bad response" from GitHub API and keep going with site scrape and publish?

[2019-12-07 09:38] xbaha opened #487 "Does not convert to the static site in the inline CSS"
when my css looks like this:
@font-face {font-family: "ETmodules";src: url("//ORGINAL-SITE/wp-content/themes/Divi/core/admin/fonts/modules.eot");

wp2static does not do anything and leave the ORIGINAL-SITE as-is, which results in an error when I run the static contents on my static site.

Access to font at 'original-site-path' from origin 'static-site' has been blocked by CORS policy: No 'Access-C

[2019-12-12 19:17] gwhitelaw commented on #283
We use your great plugin for deploying to a staging site first, then to our live site.
I see you have the feature we are keen for: `support multiple configurations / option sets`. This would mean you need to have a separate cache for each deployment.

Right now we empty the cache between deploys, otherwise we get crazy behaviour.
Therefore I think a feature to "Disable cache" would be great.

Anot

[2019-12-12 19:21] DirectorGunner commented on #283
It's been really quiet for about 2+ months, is he still developing this product? I'm a license holder.

[2019-12-12 19:22] leonstafford commented on #283
Hi @davidlevy247 still here and still seeing issues and responding to support requests. Not able to focus on development 100% at the moment, unfortunately, but still progressing. Sorry for the delays and thanks for your continued patience. Cheers, Leon

[2019-12-12 19:25] leonstafford commented on #283
@gwhitelaw - unfortunately, I've had to drop multiple configs from first cut of version 7, as per new roadmap put here a few days ago: https://wp2static.com/support/roadmap/

There will still be ways to handle staging/production or multiple deployment environments without requiring re-crawling or processing, ie using relative URLs and git branching or such to determine where to deploy. With new wa

[2019-12-12 19:36] gwhitelaw commented on #283
Thanks for that @leonstafford - the website makes it clear.

The git branching and deploying is what we were planning on building. Is that something you're planning on doing?

You've made such a great app man - really appreciated.

[2019-12-12 22:00] leonstafford commented on #283
Thanks, I'm excited for future versions, a lot planned that I hope you'll like!

I plan to put some guides in docs on how to do such workflows. I started with a concept of "Staging and Production" environments as 1st class concepts in the app, but then removed, both due to it making things a bit more confusing for the users who don't code and would be using mostly via UI, but also due to it requir

[2019-12-12 22:01] leonstafford commented on #283
^ whilst that *should* work with current v6 and WP-CLI, I'm not confident in the relative URL rewriting at the moment. And, it will be a lot nicer with coming features to only crawl/process/auto-deploy newly updated content in WordPress

[2019-12-19 07:03] ghost commented on #483
Hey, i've exactly the same issue.
I've added the domain into /etc/hosts
- gethostbyname
- php curl request in a separate php file
- curl on the terminal
all of these 3 i've tried are working
The only thing that does not work is running wp2static complaining that it cannot resolve the host.
I've also tried the simply static plugin and got the same result complaining about not being able to resolve

[2019-12-19 14:20] ghost commented on #483
OK, i figured it out what to do so that's working.
I needed to setup a unbound and handle the dns outside of the container where the wordpress was installed on. Now with that setup the WP2Static is working like expected.
Having the entry in the /etc/hosts file is not enough.

[2019-12-20 03:03] leonstafford commented on #483
Thanks for sharing, @opunix, sorry for the trouble!

[2019-12-21 21:05] leonstafford commented on #466
note: Hugo's use of content hash seems ideal here: https://github.com/gohugoio/hugo/issues/621#issuecomment-63184122

[2019-12-23 19:07] beppe9000 opened #489 "Contact Form and MailPoet Subscription support"
Ideally some magic should happen so the form is submitted to the live wordpress instance for both.
Main problems being probably captchas and email (un) subscription / management.
Maybe some page could be set to be an iframe to the live one?

[2019-12-24 18:24] elyran opened #490 "[BUG] Error exporting from docker"
I have a docker image ('image: wordpress:latest'), which maps port 80 to 8000.
That means I access the site using port 8000.

It looks like WP2Static is trying to access the URLs through this port (8000), which results in a failure.
The reason is obvious - the server listens on port 80.

Tried to modify `siteurl`, hooks, change the code a bit - nothing seem to be working.

Do you have a solution?

[2019-12-30 13:35] jan-san opened #491 "Broken inline JavaScript after rewriting"
I noticed some broken inline JavaScript code after using WP2Static - the affected code is from the [OSM plugin](https://wordpress.org/plugins/osm/).

This is the relevant code section on the dynamic site:
[code]
...and this is the same section on the static site (whitespace added for readibility):
[code]
As you can see, wp2static removed the closing `</b>` tag in the first assignment and all but t

[2019-12-30 18:21] littledove22 commented on #491
Great catch in the issues, jan-san!  Where is it located in the setup?

[2019-12-31 03:49] jan-san commented on #491
I'm not sure I understand your question @littledove22 - I haven't been able to pinpoint the issue to a specific part of the code, I just noticed it in the static content created by the plugin.

Here's the full (original) `<script>` tag the issue occurs in:
[code]
Here the same tag from the static page:
[code]

[2019-12-31 04:22] littledove22 commented on #491
way over my head.

On Mon, Dec 30, 2019 at 9:49 PM Jan <notifications@github.com> wrote:

[2020-01-08 00:40] rfair404 commented on #487
@xbaha that's an interesting issue. I'm not 100% sure how the plugin does the replacement, but it could be a regex issue, or possibly (unsure) the fact that it is using a no protocol url (starts with // not http(s)://).

Can I ask where this code smippet comes from? is it in a css file? it is possible that the plugin simply doesn't handle "hard coded" urls like this - perhaps using relative urls i

[2020-01-09 01:34] labsforge commented on #473
`Uploading /opt/bitnami/apps/wordpress/htdocs/wp-content/uploads/wp-static-html-output-1578533266/wp-content/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.min.js to qver=6.0.3.pagespeed.jm.mIlLTaoaih.js in S3
PUT'ing file to qver=6.0.3.pagespeed.jm.mIlLTaoaih.jsvc-waypoints.min.js in S3
Using S3 Endpoint website.com.s3.eu-west-3.amazonaws.com
S3 URL: http://website.com.s3.eu-west-3.amaz

[2020-01-09 02:53] leonstafford commented on #473
@labsforge in your case, I can see the Apache mod_pagespeed is enabled, which messes with URLs. Can you please try disabling that, restarting webserver and trying again?

[2020-01-10 21:16] labsforge commented on #473
Holly crap! it works now! thank you very much @leonstafford!

[2020-01-11 08:53] meetshah15 commented on #295
Any update on this issue? All my alternate and canonical tags are ignored in the static render which is a critical issue for us right now.

[2020-01-11 17:49] designgrande commented on #295
One solution I found is to use Make Relative Path Plugin (on wordpress.org repo). I am using it in conjunction with wp2static and static assets are all having a relative path, just like I wanted.

[2020-01-12 14:16] dmeagor commented on #295
Good find.  That will help us a lot, thanks!

[2020-01-12 17:52] pperrin commented on #295
Can you explain how you use this?

Do you generate the static site and run this against that? Or run it on the site before you make it static?

i want to freeze some legacy wordpress sites, (but have an off-line backup that I can restore should they ever need to be reactivated as interactive).

[2020-01-12 18:00] designgrande commented on #295
It's simple actually.

1. I installed it (make relative path) on my localhost.
2. Configured it to make only CSS, js & image path relative.
3. After doing so, I run wp2static (with disabled relative path option in it)
4. All output HTML files have relative js, CSS and image path - that's exactly what I want.

Hope it helps!

[2020-01-12 18:14] pperrin commented on #295
Thanks - that is great... I wlll give it a go - much appreciated!

[2020-01-13 00:28] leonstafford commented on #295
Many thanks, @designgrande!

Will add this to a page of recommended/complimentary plugins.

[2020-01-18 10:53] wpjesus-alt commented on #443
You can solve this by keeping the ports the same, and specifying a new IP address instead.

If you are using docker-compose.yml, instead of

      - '8080:80'
      - '4430:443'

You could do:

      - '127.0.0.2:80:80'
      - '127.0.0.2:443:443'

And for each subsequent site you spin up, use 127.0.0.3, 127.0.0.4 etc

Make sure in wp-config.php, you set the following

  $_SERVER['HTTP_HOST'] = '1

[2020-01-18 10:54] wpjesus-alt commented on #490
You can solve this by keeping the ports the same, and specifying a new IP address instead.

If you are using docker-compose.yml, instead of

      - '8080:80'
      - '4430:443'

You could do:

      - '127.0.0.2:80:80'
      - '127.0.0.2:443:443'

And for each subsequent site you spin up, use 127.0.0.3, 127.0.0.4 etc

Make sure in wp-config.php, you set the following

  $_SERVER['HTTP_HOST'] = '1

[2020-01-27 11:57] hirasso opened #493 "Detect if currently crawling"
Hi there, love love love your plugin!!!

Is there a way to detect if the crawling is running, maybe with a conditional tag? That would be amazing! I have something like this in mind, to use in my theme:
[code]
or
[code]

[2020-01-30 12:02] toniek007-aws opened #494 "Does not pull through styling"
I'm converting a super light 1 page WP site with Elementor but none of the styling is pulling through and some images missing see https://konigdigital.com/dev/ tried Zip and S3 same results, please help?

[2020-02-02 18:01] cliffseal commented on #466
Like @Sef1995, I'm using query parameters with JS. +1 to being able to toggle this setting on and off. Please make sure the setting applies globally and not just to assets, etc.

This took me a while to track down because of how unexpected it was. 😕

(Awesome work on this plugin!)

[2020-02-03 01:50] leonstafford commented on #466
Noted, @logoscreative. May I ask - is this purely for cache-busting or are you using query strings for something else in the static site?

[2020-02-03 22:57] cliffseal commented on #466
@leonstafford Actually, just passing some basic context back and forth between pages. I know there are fancier ways to do it, but it works fine for my use case.

I just added a quick `return` to `removeQueryStringFromInternalLink()`and the output worked like a charm.

[2020-02-03 23:46] leonstafford commented on #466
Thanks @logoscreative - ah, great! Will see how it's being done in V7 now and hopefully a quick configurable option.

[2020-02-06 09:48] SnakeME opened #495 "Media and Javascript/CSS not included in export because of 404 error"
Hi,

i have a strange error when running an export. No media/javascript/css files are included in the export:

The export log is showing the following

Crawling https:/domain.com/wp-content/cache/autoptimize/css/autoptimize_snippet_1850419e4cfbe4e444263f8e2ee0328b.css
BAD RESPONSE STATUS (404): https:/domain.com/wp-content/cache/autoptimize/css/autoptimize_snippet_1850419e4cfbe4e444263f8e2ee0328b.

[2020-02-06 16:19] SnakeME commented on #495
I'm seeing now that the URLs are all https:/domain.com but should be https://domain.com. I didn't see the / missing and when copy/pasting the URL in the browser, the browser automatically corrected it.

I checked the wordpress url settings, but everywhere https://domain.com is used, how does it happen that WP2Static is using https:/domain.com but only for media/javascript/css files?

Maybe this is

[2020-02-06 16:51] SnakeME commented on #495
Okay I've found out that the WPML plugin is causing this. If I deactivate the WPML plugin, all media/javascript/css files get exported.

[2020-02-10 14:55] leonstafford commented on #493
![screenshot_1581346316](https://user-images.githubusercontent.com/2066833/74160169-ebf54c80-4c14-11ea-9573-29c9dfba4612.png)

Hi @hirasso - very sorry, I didn't notice this issue until now.

Currently back into developing version 7, which, due to now prioritizing automated workflows, does have some mechanism to detect running jobs before processing another one from queue.

Currently (`develop` br